<style>
.numb {
  color: white;
}
.admin-radio:checked,
.admin-radio:not(:checked) {
  position: absolute;
  left: -9999px;
}
.admin-radio:checked + label,
.admin-radio:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #fff;
}
.admin-radio:checked + label:before,
.admin-radio:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 100%;
  background: transparent;
}
.admin-radio:checked + label:after,
.admin-radio:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #fff;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.admin-radio:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.admin-radio:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.clearfix:before {
  display: table;
  content: '';
}
</style>

<template>
  <div class="col">
    <div class="wrapper-md">
      <div class="row">
        <div class="col-md-12 sectit">User Management</div>
        <div class="admin col-md-12" style="background: darkblue">
          <div class="center-form">
            <div class="inline-block m-r">
              <input
                type="radio"
                id="test1"
                class="admin-radio"
                name="radio-group"
                v-model="newUser"
                :value="'old'"
              />
              <label for="test1">Existing user</label>
            </div>
            <div class="inline-block">
              <input
                type="radio"
                id="test2"
                class="admin-radio"
                name="radio-group"
                v-model="newUser"
                :value="'new'"
              />
              <label for="test2">New user</label>
            </div>
            <div class="inline-block m-r">
              <input
                type="radio"
                id="test3"
                class="admin-radio"
                name="radio-group"
                v-model="newUser"
                :value="'customer'"
              />
              <label for="test3">Parent Customer</label>
            </div>
            <div class="inline-block m-r">
              <input
                type="radio"
                id="test4"
                class="admin-radio"
                name="radio-group"
                v-model="newUser"
                :value="'autoapprove'"
              />
              <label for="test4">Proforma Approval</label>
            </div>
            <div v-if="checkUser === 'old'">
              <div class="form-group">
                Select a User
                <br />
                <select v-model="updatingUser">
                  <option selected>Select a User</option>
                  <option
                    v-for="user in allUsers"
                    :value="user"
                    :key="user.username"
                  >
                    {{ user.username }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <a @click="resetPassword()">Reset Password</a>
              </div>
            </div>
            <div v-if="checkUser === 'new'">
              <div class="form-group" v-if="checkUser === 'new'">
                Username
                <br />
                <input
                  v-model="updatingUser.username"
                  placeholder="Enter username"
                />
              </div>
              <div class="form-group" v-if="checkUser === 'new'">
                Password
                <br />
                <input
                  type="password"
                  placeholder="Enter password"
                  :disabled="checkUser === 'old'"
                  v-model="updatingUser.password"
                />
              </div>
            </div>
            <div v-if="checkUser === 'old' || checkUser === 'new'">
              <div class="form-group">
                Email
                <br />
                <input
                  type="email"
                  placeholder="Enter email"
                  v-model="updatingUser.email"
                />
              </div>
              <div class="form-group">
                Role
                <br />
                <select type="text" v-model="updatingUser.role">
                  <option selected>Select a Role</option>
                  <option :value="0">Operations Reviewer</option>
                  <option :value="1">Operations Manager (Gate 1)</option>
                  <option :value="2">Finance Manager (Gate 2)</option>
                  <option :value="3">Disabled</option>
                </select>
              </div>
              <div class="form-group">
                Countries (Ctrl + Click to select multiple)
                <br />
                <select
                  multiple="multiple"
                  class="multiple"
                  v-model="updatingUser.environments"
                >
                  <option
                    v-for="country in countries"
                    :value="country.Environment"
                    :key="country.Environment"
                  >
                    {{ country.Environment }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                Parents (Ctrl + Click to select multiple)
                <br />
                <select
                  multiple="multiple"
                  class="multiple"
                  v-model="updatingUser.parents"
                >
                  <option
                    v-for="parent in parents"
                    :value="parent.Parent_ID"
                    :key="parent.Parent_ID"
                  >
                    {{ parent.Parent_Short_Name }}
                  </option>
                </select>
              </div>
            </div>
            <!-- customer selection -->
            <div v-if="checkUser === 'customer'">
              <div class="form-group" v-if="checkUser === 'customer'">
                Select a Customer
                <br />
                <select v-model="updatingCustomer">
                  <option selected>Select a Customer</option>
                  <option
                    v-for="parent in parents"
                    :value="parent"
                    :key="parent.Parent_ID"
                  >
                    {{ parent.Parent_Short_Name }}
                  </option>
                </select>
              </div>
              <div class="form-group" v-if="checkUser === 'customer'">
                Monthly Budget
                <br />
                <input
                  type="email"
                  placeholder="Enter Monthly Budget"
                  v-model="updatingCustomer.month"
                />
              </div>
              <div class="form-group" v-if="checkUser === 'customer'">
                Yearly Budget
                <br />
                <input
                  type="email"
                  placeholder="Enter Yearly Budget"
                  v-model="updatingCustomer.year"
                />
              </div>
            </div>
            <div v-if="checkUser === 'autoapprove'">
              <select v-model="approvalCountry" class="numb">
                <option selected>Select a Country</option>
                <option
                  v-for="country in countries"
                  :value="country.Environment"
                  :key="country"
                >
                  {{ country.Environment }}
                </option>
              </select>
              <div class="table-responsive">
                <table class="table centered table table-bordered">
                  <thead>
                    <tr>
                      <td>Parent</td>
                      <td>Gate 1</td>
                      <td>Gate 2</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="parent in approvalParents"
                      :key="parent.Parent_Id"
                    >
                      <td>{{ parent.Parent_Short_Name }}</td>
                      <td>
                        <input
                          type="checkbox"
                          :value="approvals[approvalCountry][parent.Parent_ID]"
                          v-model="
                            approvals[approvalCountry][parent.Parent_ID].gate1
                          "
                        />
                      </td>
                      <td>
                        <input
                          type="checkbox"
                          :value="approvals[approvalCountry][parent.Parent_ID]"
                          v-model="
                            approvals[approvalCountry][parent.Parent_ID].gate2
                          "
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group">
              <button
                @click="updateUser"
                v-if="checkUser !== 'customer' && checkUser !== 'autoapprove'"
                class="button button update"
              >
                SAVE USER
              </button>
              <button
                @click="updateCustomer"
                v-if="checkUser === 'customer'"
                class="button button update"
              >
                SAVE CUSTOMER
              </button>
              <button
                @click="updateApprovals"
                v-if="checkUser === 'autoapprove'"
                class="button button update"
              >
                SAVE Approvals
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <error
      v-if="showError"
      @close="
        () => {
          showError = false
        }
      "
    >
      <h3 slot="header">User Managment</h3>
      <p slot="body">{{ message }}</p>
    </error>
  </div>
</template>

<script>
import * as userService from '../services/userService'
import * as customerService from '../services/customerService'
import error from './error'
export default {
  name: 'admin',
  components: {
    error
  },
  created() {
    this.getParents()
    this.getCountries()
    this.getUsers()
    this.getApprovals()
  },
  computed: {
    checkUser() {
      return this.newUser
    }
  },
  watch: {
    newUser() {
      this.updatingUser = {
        parents: [],
        environments: []
      }
    },
    approvalCountry() {
      let query = {
        Environment: this.approvalCountry
      }
      if (!this.approvals.hasOwnProperty(this.approvalCountry)) {
        this.approvals[this.approvalCountry] = {}
      }
      customerService.getParents(query).then(response => {
        this.approvalParents = response.data
        this.convertApprovals()
      })
    }
  },
  methods: {
    convertApprovals() {
      this.approvalParents.forEach(parent => {
        console.log(this.approvals)
        if (
          !this.approvals[this.approvalCountry].hasOwnProperty(parent.Parent_ID)
        ) {
          console.log(this.approvalCountry)
          const name = parent.Parent_ID
          this.approvals[this.approvalCountry][name] = {
            gate1: false,
            gate2: false
          }
          console.log(this.approvals)
        }
      })
    },
    getApprovals() {
      customerService.getApprovals().then(response => {
        this.approvals = response.data
      })
    },
    updateApprovals() {
      customerService.postApprovals(this.approvals).then(() => {
        this.$dialog.alert(`Approvals Updated`).then(dialog => {
          dialog.close()
        })
      })
    },
    updateCustomer() {
      console.log(this.updatingCustomer)
      this.$dialog.confirm(`Are you sure you want to do that?`).then(dialog => {
        dialog.loading(true)
        customerService.updateBudget(this.updatingCustomer).then(response => {
          dialog.close()
          if (response.data.message.header === 200) {
            this.message = 'Success'
            this.showError = true
          } else {
            this.message = 'Something went Wrong'
          }
        })
      })
    },
    updateUser() {
      this.$dialog.confirm(`Are you sure you want to do that?`).then(dialog => {
        dialog.loading(true)
        console.log(this.newUser)
        if (this.newUser === 'new') {
          userService.createUser(this.updatingUser).then(response => {
            dialog.close()
            this.message = response.data.message
            this.showError = true
            if (response.data.message.header === 200) {
              this.updatingUser = {
                environments: [],
                parents: []
              }
            }
          })
        } else {
          userService.updateUser(this.updatingUser).then(response => {
            dialog.close()
            this.message = response.data.message
            this.showError = true
          })
        }
      })
    },
    getUsers() {
      userService.getAllUsers().then(response => {
        this.allUsers = response.data
      })
    },
    getParents() {
      customerService.getAllParents().then(response => {
        this.parents = response.data
      })
    },
    getCountries() {
      customerService.getCountries().then(response => {
        this.countries = response.data
      })
    },
    resetPassword() {
      let body = {
        query: {
          id: this.updatingUser.id
        }
      }
      userService.setDefaultPassword(body).then(response => {
        this.message = response.data
      })
    }
  },
  data() {
    return {
      monthBudget: null,
      yearBudget: null,
      selectedCountries: [],
      selectedParents: [],
      newUser: 'old',
      updatingUser: {
        environments: [],
        parents: []
      },
      updatingCustomer: {
        month: 0,
        year: 0
      },
      selectedUser: null,
      creatingUser: false,
      allUsers: [],
      countries: [],
      parents: [],
      message: '',
      showError: false,
      approvalCountry: {},
      approvalParents: [],
      approvals: {}
    }
  }
}
</script>
