<style>
</style>
<template>
  <input type="text" id="startDate" />
</template>

<script>
import $ from 'jquery'
export default {
  name: 'datepicker',
  mounted() {
    let self = this
    $('#startDate').daterangepicker(
      {
        locale: {
          format: 'DD-MM-YYYY',
        },
      },
      function (start, end) {
        console.log(this)
        start = start.format('MM-DD-YYYY')
        end = end.format('MM-DD-YYYY')
        let val = { start: start, end: end }
        self.$emit('updatedate', val)
      }
    )
  },
  methods: {},
}
</script>
