<style>
.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 1150px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  max-height: 80vh;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: scroll;
}

.modal-header h3 {
  margin-top: 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.font-size {
  font-size: 14px;
}

.font-size > tr > td {
  font-size: 14px;
}

.font-size > th {
  font-size: 14px;
}

.small-font {
  font-size: 10px;
}
.invoice {
  font-size: 55px;
  color: #666666;
  position: absolute;
  margin-bottom: 0;
  top: 40px;
}

.invoice-header {
  height: 140px;
  padding: 0;
}

.no-pad-left {
  padding-left: 0;
}

.no-pad-down {
  padding-bottom: 0;
}

.invoice-logo {
  display: flex;
  justify-content: right;
  align-content: center;
}
.pre-formatted {
  white-space: pre-wrap; /* 👈 this is the important part */
  border: 1px dotted;
  padding: 1rem;
}
</style>

<template>
  <transition name="modal">
    <div id="WholePageContent" class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header invoice-header" ref="pdfHeader">
            <div class="row" style="margin: 0">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-2 no-pad-left no-pad-down">
                    <img
                      style="
                        max-width: 250px;
                        position: absolute;
                        margin-top: -55px;
                        margin-left: -40px;
                      "
                      src="assets/logoTransparent.png"
                    />
                  </div>
                  <div class="col-md-10">
                    <div class="row">
                      <div class="col-md-12 no-pad-down">
                        <h2>
                          {{ envAddress.Company_Name }}
                        </h2>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 no-pad-down">
                        <p>
                          {{ envAddress.Company_Details }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row invoice-logo">
                  <h1 class="invoice"  v-if="info.Proforma_Type=='Invoice'">{{EuropeLanguages[0].languagestring.toUpperCase()}}</h1>
                  <h1 class="invoice"  v-if="info.Proforma_Type=='CN'">{{EuropeLanguages[2].languagestring.toUpperCase()}}</h1>
                  <h1 class="invoice"  v-if="info.Proforma_Type==''">{{EuropeLanguages[0].languagestring.toUpperCase()}}</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body" style="font-size: 10px">
            <div ref="pdfBody">
              <div class="row">
                   <div class="col-md-5 pull-left">
                      <div >
                         
                         
                        <li style="font-size: 14px" v-for="i in envAddress.Company_Name.split('|')" :key="i"> {{ i }} </li>
                       <li style="font-size: 14px" v-for="i in envAddress.Company_Address1.split('|')" :key="i"> {{ i }} </li>
                        <li style="font-size: 14px" v-for="i in envAddress.Company_Address2.split('|')" :key="i"> {{ i }} </li>
                         <li style="font-size: 14px" v-for="i in envAddress.Company_Address3.split('|')" :key="i"> {{ i }} </li>

                      </div>
                    </div>
                     <div class="col-md-7 text-center pull-left">
                      <table width="100%" class="font-size">
                        <tr>
                          <td>
                            <span class="table-title">{{EuropeLanguages[3].languagestring.toUpperCase()}}</span>
                          </td>
                          <td><span class="table-title">{{EuropeLanguages[4].languagestring.toUpperCase()}}</span></td>
                          <td>
                            <span class="table-title"
                              >{{EuropeLanguages[5].languagestring.toUpperCase()}}</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>{{ info.Transaction_Number }}</td>
                          <td>
                            {{ info.Transaction_Invoice_Date | formatDate }}
                          </td>
                          <td>{{ info.Reference_Number }}</td>
                        </tr>
                        <!-- <tr>
                          <td colspan="3">
                            PLEASE RETURN A COPY OF THIS INVOICE WITH YOUR
                            REMITTANCE TO:
                          </td>
                        </tr> -->
                        <tr>
                          <td colspan="3" style="text-align:left !important">
                            
                          {{ LSRChild.Child_Short_Name }} <br />
                          {{ LSRChild.Child_Address_Line_1 }} <br />
                          {{ LSRChild.Child_Address_Line_2 }} <br />
                          {{
                            LSRChild.Child_Address_Line_3
                              ? LSRChild.Child_Address_Line_3
                              : ''
                          }}  <br />
                           {{
                            LSRChild.Child_Address_Line_4
                              ? LSRChild.Child_Address_Line_4 
                              : ''
                          }}
                          {{
                            LSRChild.Child_Town
                              ? LSRChild.Child_Town 
                              : ''
                          }}
                          {{
                            LSRChild.Child_City
                              ? LSRChild.Child_City
                              : ''
                          }}
                          {{
                            LSRChild.Child_Country
                              ? LSRChild.Child_Country
                              : ''
                          }}
                          {{
                            LSRChild.Child_ZipCode
                              ? LSRChild.Child_ZipCode
                              : ''
                          }}  <br />
                           {{
                            LSRChild.Child_Website
                              ? LSRChild.Child_Website
                              : ''
                          }}

                          
                          <br />
                          
                        
                          </td>
                        </tr>
                      </table>
                    </div>
                <!--<div class="col-md-6"></div>
                <div class="col-md-6">
                  <p>TAX INVOICE</p>
                  <p>Tax Reg No. : {{ envAddress.GST_HEAD }}</p>
                </div>-->
              </div> 
              <div class="row">
                <div class="col-md-12">
                  <div style="clear: both"></div>
                  <div class="row">
                    <div class="col-md-4 pull-left">
                     <!-- <div>
                        <address style="font-size: 14px">
                          {{ customer.Child_Short_Name }} <br />
                          {{ customer.Child_Address_Line_1 }} <br />
                          {{ customer.Child_Address_Line_2 }} <br />
                          {{
                            customer.Child_Address_Line_3
                              ? customer.Child_Address_Line_3
                              : ''
                          }}
                          <br />
                          ATTN: {{ info.ATTN }}
                        </address> 
                      </div>-->
                    </div>
                   
                  </div>
                  
                  
                  <div class="row">
                    <div class="col-md-12">
                      <table width="100%" class="font-size">
                        <tr>
                          <td>
                            <span class="table-title">{{EuropeLanguages[6].languagestring.toUpperCase()}}</span>
                            {{ info.VesVoy}}
                          </td>
                          <td>
                            <span class="table-title">{{EuropeLanguages[7].languagestring.toUpperCase()}} </span>
                            {{ info.Shipper }}
                          </td>
                          <td>
                            <span class="table-title">{{EuropeLanguages[8].languagestring.toUpperCase()}}: </span>

                            {{ info.invoice[0].OBL }}
                          </td>
                          <td>
                            <span class="table-title">{{EuropeLanguages[9].languagestring.toUpperCase()}}: </span>

                            {{ info.invoice[0].Bill_to_Party }}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="table-title">{{EuropeLanguages[10].languagestring.toUpperCase()}}:</span>
                            {{ info.invoice[0].Fr }}
                          </td>
                          <td>
                            <span class="table-title">{{EuropeLanguages[11].languagestring.toUpperCase()}}: </span>
                            {{ info.invoice[0].Fr }}
                          </td>
                          <td>
                            <span class="table-title">{{EuropeLanguages[12].languagestring.toUpperCase()}}: </span>

                            {{ info.invoice[0].Place_of_Delivery }}
                          </td>
                          <td>
                            <span class="table-title">{{EuropeLanguages[13].languagestring.toUpperCase()}}: </span>

                            {{ info.invoice[0].Place_of_Delivery }}
                          </td>
                        </tr>
                      </table>
                      <br />
                      <br />
                      <table width="100%" class="font-size text-center">
                        <tr>
                       
                          <td style="text-align:left">
                            <span class="table-title"
                              >{{EuropeLanguages[14].languagestring.toUpperCase()}}</span
                            >
                          </td>
                          <td><span class="table-title">{{EuropeLanguages[17].languagestring.toUpperCase()}}</span></td>
                          <td><span class="table-title">{{EuropeLanguages[15].languagestring.toUpperCase()}}</span></td>
                          <td><span class="table-title">{{EuropeLanguages[19].languagestring.toUpperCase()}}</span></td>
                          <td><span class="table-title">{{EuropeLanguages[16].languagestring.toUpperCase()}}</span></td>
                         <td><span class="table-title">{{EuropeLanguages[36].languagestring.toUpperCase()}}</span></td>
                          <td><span class="table-title">{{EuropeLanguages[20].languagestring.toUpperCase()}}</span></td>
                          <td><span class="table-title">{{EuropeLanguages[32].languagestring.toUpperCase()}}</span></td>
                        </tr>
                        <tr v-for="(line, index) in pl" :key="index">
                        
                          <td style="text-align:left">  {{ line.Details }}  <br /> {{ line.Remarks }}</td>
                          <td>{{ line.Currency }}</td>
                          <td style="text-align:right">
                            {{ line.line_ex_rate ? LanguagetoLocalEx(Number(line.line_ex_rate).toFixed(4).toLocaleString()) : '' }}
                          </td>
                          <td style="text-align:right">{{ LanguagetoLocalEx(Number(line.Amount).toFixed(4).toLocaleString()) }}</td>
                          <td style="text-align:right">{{ LanguagetoLocalEx(Number(line.Quantity).toFixed(4).toLocaleString())  }}</td>
                          <td>{{ line.VAT_Type }}</td>
                          
                          <td style="text-align:right">
                            {{
                              
                               LanguagetoLocal( (Number(line.NoGST)*Number(line.QuantityP)) 
                              .toFixed(2).toLocaleString()) 
                            }}
                          </td>
                          <td>{{ info.invoice[0].Currency }}</td>
                        </tr>
                      </table>
                      <div class="clearfix"></div>
                      <br />
                      <div class="clearfix"></div>
                      <br />
                      <div class="row">
                        <div class="col-md-6">
                          <table >
                            <tr>
                              <td>{{EuropeLanguages[21].languagestring.toUpperCase()}}: {{ info.Elite_Ref }}</td>
                            </tr>
                            <tr>
                              <td>{{EuropeLanguages[22].languagestring.toUpperCase()}} :   <li style="font-size: 12px" v-for="i in info.Remarks.split('|')" :key="i"> {{ i }} </li></td>
                            </tr>
                            <tr>
                              <td>   <p style="font-size: 12px">
                            {{EuropeLanguages[24].languagestring.toUpperCase()}}: {{ info.DueDate | formatDate  }}
                          </p></td>
                            </tr>
                          
                          </table>
                            <div class="col-md-6">
                                <p style="font-size: 12px">
                               {{info.lsr_No}}
                                </p>
                              </div>
                        </div>
                        <div class="col-md-6">
                          <p style="font-size: 12px">
                            {{EuropeLanguages[23].languagestring.toUpperCase()}}: {{ info.ETA | formatDate }}
                          </p>
                        
                          <p style="font-size: 12px">
                            {{EuropeLanguages[25].languagestring.toUpperCase()}}: {{ info.TOT_Container }}
                          </p>
                        </div>
                      </div> 
                      <br />
                      <br />
                       <table width="100%" class="font-size text-center" style="vertical-align:bottom">
                        <tr>
                          
                          <td style="width:771px"><span class="table-title">{{EuropeLanguages[28].languagestring.toUpperCase()}}</span></td>
                          <td style="width:120px"><span class="table-title">{{EuropeLanguages[29].languagestring.toUpperCase()}}</span></td>
                          <td style="width:120px"><span class="table-title">{{EuropeLanguages[38].languagestring.toUpperCase()}}</span></td>
                          <td style="width:120px"><span class="table-title">{{EuropeLanguages[30].languagestring.toUpperCase()}}</span></td>
                          <td style="width:120px"><span class="table-title">{{EuropeLanguages[32].languagestring.toUpperCase()}}</span></td>
                         
                        </tr>
                        <tr v-for="(lines, index) in vat" :key="index">
                         
                          <td style="text-align:left"> {{lines.VAT_Description}}</td>
                          <td style="text-align:right">  {{
                             LanguagetoLocal((
                                Number(lines.NoGst) 
                              ).toFixed(2).toLocaleString())
                            }}</td>
                        
                          <td >{{ Math.floor(Number(lines.LINE_GST_P) * 100) }}%</td>
                           <td style="text-align:right">
                            {{
                              LanguagetoLocal((
                                (Number(lines.NoGst)  ) *
                                 Number(lines.LINE_GST_P)  
                              ).toFixed(2).toLocaleString())
                            }}
                          </td>
                          <td>{{ info.invoice[0].Currency }}</td>
                        </tr>
                        
                      </table>
                      <br />
                     
                      <table  width="100%" class="font-size text-center">
                 <tr>
                          
                          <td style="width:771px"><span class="table-title" ></span></td>
                          <td style="width:120px"><span class="table-title">{{EuropeLanguages[29].languagestring.toUpperCase()}}</span></td>
                          <td style="width:120px" ><span class="table-title">{{EuropeLanguages[30].languagestring.toUpperCase()}}</span></td>
                          <td style="width:120px"><span class="table-title">{{EuropeLanguages[31].languagestring.toUpperCase()}}</span></td>
                          <td style="width:120px"><span class="table-title">{{EuropeLanguages[32].languagestring.toUpperCase()}}</span></td>
                         
                        </tr>
                <tr>
                            <td>TOTAL</td>
                            
                            <td style="text-align:right">  
                    {{ LanguagetoLocal(
                      vat
                        .reduce(
                          (a, b) =>
                            (a +=
                             
                              Number(b.NoGst) ),
                          0
                        )
                        .toFixed(2))
                    }} </td>
                  <td style="text-align:right">{{ LanguagetoLocal(
                      vat
                        .reduce(
                          (a, b) =>
                            (a +=
                             
                               Number(b.Total) - (Number(b.NoGst))    ),
                          0
                        )
                        .toFixed(2))
                    }}</td>
                  <td style="text-align:right"> 
                    {{ LanguagetoLocal(
                      vat
                        .reduce(
                          (a, b) =>
                            (a +=
                             
                              Number(b.Total) ),
                          0
                        )
                        .toFixed(2))
                    }}
                   </td>
                  <td>{{ info.invoice[0].Currency }}</td>
                        </tr>
                </table>
                    </div>
                
                  </div>
                </div>
              </div>
            </div>
            
            <div ref="pdfFoot">
              
                    <div class="row">
                        <div class="col-md-12">
                          <p style="font-size: 12px">
                           <span class="table-title"> User: </span> {{ info.SubmittedUser }}
                          </p>
                    </div>
                    
                       </div>
              
             
                  <div class="row">
                <div
                  class="col-md-12"
                  style="border-right: 0px solid #ddd; font-size: 12px"
                >
                  <a v-if="printlang=='English'">
                   <li style="font-size: 12px" v-for="i in envAddress.INV_FOOT1.split('|')" :key="i"> {{ i }} </li>
                </a>
                 <a v-if="printlang=='Dutch'">
                   <li style="font-size: 12px" v-for="i in envAddress.INV_FOOT4.split('|')" :key="i"> {{ i }} </li>
                </a>
                 <a v-if="printlang=='French'">
                     <a v-if="info.invoice[0].Environment=='BEEPF'">
                        <li style="font-size: 12px" v-for="i in envAddress.INV_FOOT7.split('|')" :key="i"> {{ i }} </li>
                     </a>
                       <a v-else>
                          <li style="font-size: 12px" v-for="i in envAddress.INV_FOOT5.split('|')" :key="i"> {{ i }} </li>
                       </a>
                </a>
                 <a v-if="printlang=='Spanish'">
                   <li style="font-size: 12px" v-for="i in envAddress.INV_FOOT4.split('|')" :key="i"> {{ i }} </li>
                </a> 
                <a v-if="printlang=='Spanish'">
                   <li style="font-size: 12px" v-for="i in envAddress.INV_FOOT4.split('|')" :key="i"> {{ i }} </li>
                </a>
                </div>
                </div>
                 
              
            </div>
          </div>
          <div class="modal-footer">
            <button
              class="modal-default-button btn btn-danger"
              @click="$emit('close')"
            >
              OK
            </button>
            <button
              class="modal-default-button btn btn-success"
              @click="save()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import html2canvas from 'html2canvas'
import jsPDF from 'jspdf'
import * as userService from '../services/userService'
import * as customerService from '../services/customerService'
export default {
  name: 'taxDetails',
  props: ['info', 'customer', 'pl','printlang',"vat"],
  computed: {},
  methods: {
    LanguagetoLocal(line) {
      line = this.numberWithCommas(line)
      line = line.replace(/,/g, ' ')
       line = line.replace(/[.]/g, ',')
       line = line.replace(/[ ]/g, '.')
       return line
    },
    LanguagetoLocalEx(line) {
      line = this.numberWithCommasN(line)
      line = line.replace(/,/g, ' ')
       line = line.replace(/[.]/g, ',')
       line = line.replace(/[ ]/g, '.')
       return line
    },
      numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      },
      numberWithCommasN(x) {
    return x.toString().replace(/\B(?=(\d{4})+(?!\d))/g, ",");
      },
       save2() {
         debugger;
           const pdf = new jsPDF({ orientation: 'p', unit: 'mm', format: 'a4' })
             pdf.html(this.$refs.pdfHeader.innerHTML, {
        callback: function (pdf) {
            pdf.save('a4.pdf')
        }
    })
       },  
    save() {
      const pdf = new jsPDF({ orientation: 'p', unit: 'mm', format: 'a4' })
      const header = this.$refs.pdfHeader
      const body = this.$refs.pdfBody
      const footer = this.$refs.pdfFoot
      const bodyContent = this.$refs.pdfContent
      html2canvas(header).then(headerCanvas => {
        html2canvas(body).then(canvas => {
          const ctx = canvas.getContext('2d')
          const a4w = 190
          const a4h = 257
          const imgHeight = Math.floor((a4h * canvas.width) / a4w)
          let renderedHeight = 0
          const headerCtx = headerCanvas.getContext('2d')
          const headerPage = document.createElement('canvas')
          headerPage.width = headerCanvas.width
          headerPage.height = Math.min(
            imgHeight,
            canvas.height - renderedHeight
          )
          headerPage
            .getContext('2d')
            .putImageData(
              headerCtx.getImageData(
                0,
                0,
                headerCanvas.width,
                Math.min(imgHeight, canvas.height)
              ),
              0,
              0
            )
          while (renderedHeight < canvas.height) {
            const page = document.createElement('canvas')
            page.width = canvas.width
            page.height = Math.min(imgHeight, canvas.height - renderedHeight)
            page
              .getContext('2d')
              .putImageData(
                ctx.getImageData(
                  0,
                  renderedHeight,
                  canvas.width,
                  Math.min(imgHeight, canvas.height - renderedHeight)
                ),
                0,
                0
              )
            pdf.addImage(
              headerPage.toDataURL('image/png', 1.0),
              'png',
              10,
              5,
              a4w,
              Math.min(a4h, (a4w * headerPage.height) / headerPage.width)
            )
            pdf.addImage(
              page.toDataURL('image/png', 1.0),
              'png',
              10,
              35,
              a4w,
              Math.min(a4h, (a4w * page.height) / page.width)
            )

            renderedHeight += imgHeight
            if (renderedHeight < canvas.height) {
              pdf.addPage()
              pdf.addImage(
                headerPage.toDataURL('image/png', 1.0),
                'png',
                10,
                5,
                a4w,
                Math.min(a4h, (a4w * headerPage.height) / headerPage.width)
              )
            } //Add an empty page if there is more to follow
          }
         
          html2canvas(footer).then(footerCanvas => {
            const footerCtx = footerCanvas.getContext('2d')
            const footerPage = document.createElement('canvas')
            footerPage.width = footerCanvas.width
            footerPage.height = imgHeight
            footerPage
              .getContext('2d')
              .putImageData(
                footerCtx.getImageData(0, 0, canvas.width, canvas.height),
                0,
                0
              )
            pdf.addImage(
              footerPage.toDataURL('image/png', 1.0),
              'png',
              10,
              this.footerheight,
              a4w,
              Math.min(a4h, (a4w * footerPage.height) / footerPage.width)
            )
            pdf.setFont('helvetica', 'italic')
            pdf.setFontSize(6)
            addFooters()
            pdf.save(`${this.info.Transaction_Number}.pdf`)
          })

          function addFooters() {
            const pageCount = pdf.internal.getNumberOfPages()
            for (var i = 1; i <= pageCount; i++) {
              pdf.text(`Page ${i}`, 200, 295)
            }
          }
        })
      })
    }
  },
  mounted() {
    userService.getEntityInfo(this.info.invoice[0].Environment).then(res => {
      this.envAddress = res.data[0]
      //this.Address1=envAddress.Address1
    }),
    
     userService.GetInvoiceLanguage(this.printlang).then(res => {
      

      this.EuropeLanguages = res.data

      if(this.info.invoice[0].Environment =="BEEPF")
      {
          this.footerheight=250 ;
      }
      else if(this.info.invoice[0].Environment =="FRELH")
      {
         this.footerheight=230;
      }
      else if ( this.info.invoice[0].Environment =="ESESL")
      {
         this.footerheight=230;
      }
    }),
    
     customerService.getChildrenByLSR({Environment:
            this.info.invoice[0].Environment,
              Parent_ID:this.info.invoice[0].Parent_ID,
              Child_ID:this.info.invoice[0].Bill_to_Party}).then(response => {
                debugger;

                if(this.info.invoice[0].Bill_to_Party !=this.info.invoice[0].Child_ID)
                {
                    this.LSRChild = response.data[0];
                }
                else
                {
                  this.LSRChild=this.customer;
                }
              
         
      })
  },
  data() {
   
    return {
      
      envAddress: {},
      EuropeLanguages:[],
      Address1:null,
      footerheight:210,
      children:[],
      LSRChild:null
    }
  }
}
</script>
