<style>
.numb {
  color: white;
  font-size: 22px;
  font-weight: 700;
}
.numb-1 {
  color: white;
  font-size: 40px;
  font-weight: 900;
}

.clearfix:before {
  display: table;
  content: '';
}
.panel .invoicecol {
  padding: 0px !important;
  margin-bottom: 10px !important;
}
.invoicecol {
  width: 100%;
  border: 1px solid #ffffff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin-bottom: 10px !important;
}
.m-t-none {
  color: #ffffff !important;
}
.home-select {
  width: 50%;
  border: 1px solid #000000;
  color: black;
  padding-left: 10px;
  height: auto;
  border-radius: 10px;
  -margin-left: 15px;
}
.sectit {
  color: #000;
  font-weight: 400;
}

.panel-heading {
  background: #354340;
  text-align: center;
  color: #ffffff;
}
.p-l-0 {
  padding-left: 0px;
}
.p-r-0 {
  padding-right: 0px;
}
.p-t-0 {
  padding-top: 0px;
}
.p-b-0 {
  padding-bottom: 0px;
}
.inner-cer {
  color: #fff;
  border-radius: 100%;
  height: 110px !important;
  width: 110px;
  position: relative;
  -display: inline-block;
  -webkit-box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  -moz-box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px, rgb(0 0 0 / 23%) 0px 3px 6px;
  display: flex;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
}
.cicle-red,
.cicle-red.pb {
  background: #ff6250 !important;
}
.cicle-green,
.cicle-green.pb {
  background: #0bab00 !important;
}
.cicle-orange,
.cicle-orange.pb {
  background: #fcb500 !important;
}
.cicle-blue,
.cicle-blue.pb {
  background: #08aaff !important;
}
.invoicecol {
  min-height: auto !important;
  position: relative;
  height: auto !important;
}
span.numb {
  font-size: 22px;
  font-weight: 700;
}
.wrapper {
  padding: 10px 20px;
}
.font-9 {
  font-size: 8px;
  color: #929292;
  padding-left: 5px;
}

#LineWeeklyChart {
  height: 250px !important;
}
/*#bar-chart,*/
#doughnut-chart {
  height: 250px !important ;
}
a.reset-password {
  height: auto !important;
}
.circle-lbl {
  font-weight: 900;
  display: block;
  text-align: center;
  clear: both;
  padding-top: 5px;
  color: #5e5e5e !important;
}
</style>

<template>
  <div class="wrapper-md" style="background-color: rgb(243, 250, 255)">
    <div class="row">
      <div class="col-md-6 sectit"></div>
      <div class="col-md-2 sectit text-right"></div>
      <div class="col-md-4 sectit">
        <label>Environment</label>
        <select
          class="home-select"
          @change="init"
          v-model="selectedEnvironment"
        >
          <option value="All">All</option>
          <option
            v-for="environment in user.environments"
            :value="environment"
            :key="environment"
          >
            {{ environment }}
          </option>
        </select>
      </div>
    </div>
    <div>
      <div v-if="role === 'New'">
        <div class="row">
          <div class="col-md-4 p-b-0">
            <div class="col-md-12 p-r-0 p-t-0 p-b-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>Proforma </span>
                  </h4>
                </div>
                <div class="col-md-12 p-0" style="padding-top: 0px">
                  <!-- <homechart :data="proformaChart" :height="250"></homechart> -->
                  <div
                    class="col-md-12 p-0 pull-left"
                    style="border-bottom: 1px solid #929292"
                  >
                    <span class="text-muted text-left font-9"
                      >Stage 1 Pending Submission</span
                    >
                    <a class="theme text-center">
                      <h2
                        class="numb-1"
                        style="
                          display: block;
                          color: #011993;
                          margin-bottom: 0px;
                        "
                      >
                        {{ proformaNew }}
                      </h2>
                      <span
                        style="font-weight: 900; display: block"
                        class="text-muted circle-lbl"
                        >NEW</span
                      >
                    </a>
                  </div>
                  <div class="col-md-4 p-0 pull-left">
                    <span class="text-muted text-left font-9"
                      >Stage 2 Pending Approval</span
                    >
                    <div
                      class="col-md-12 pull-left p-0"
                      style="border-right: 1px solid #929292"
                    >
                      <a
                        class="inner-cer text-center cicle-orange"
                        :class="theme"
                        style=""
                      >
                        <span class="numb" style="">{{ proformaPending }}</span>
                      </a>
                    </div>

                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >PENDING</span
                    >
                  </div>

                  <div class="col-md-4 p-0 pull-left">
                    <span class="text-muted text-left font-9"
                      >Stage 3 Pending Invoice Generation</span
                    >
                    <div
                      class="col-md-12 pull-left p-0"
                      style="border-right: 1px solid #929292"
                    >
                      <a class="inner-cer cicle-red text-center" :class="theme">
                        <span class="numb">{{ proformaApproved }}</span>
                      </a>
                    </div>

                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >APPROVED</span
                    >
                  </div>

                  <div class="col-md-4 p-0 pull-left" style="">
                    <span class="text-muted text-left font-9"
                      >Ready for Final Tax Invoice</span
                    >
                    <a class="inner-cer cicle-green text-center" :class="theme">
                      <span class="numb">{{ proformaSubmitted }}</span>
                    </a>
                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >SUBMITTED</span
                    >
                  </div>
                  <Br />
                  <Br />
                  <div
                    class="col-md-12 p-0 pull-left"
                    style="text-align: center"
                  >
                    <filledline
                      :data="filledProformaLine"
                      style="display: block; height: 96px !important"
                    ></filledline>
                  </div>
                  <!-- <br><a>Breakdown</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-0">
            <div class="col-md-12 p-l-0 p-r-0 p-b-0">
              <div
                class="panel clear invoicecol"
                style="
                  /* min-height: 565px !important; */
                  height: 430px !important;
                "
              >
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>WEEKLY PRO-FORMA AND PAYABLES</span>
                  </h4>
                </div>
                <div class="col-md-12 p-b-0">
                  <div style="height: 343px !important">
                    <Linechart
                      style="display: block; height: 350px"
                      :data="WeeklyLineChart"
                    ></Linechart>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-b-0">
            <div class="col-md-12 p-l-0 p-t-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>PAYABLE</span>
                  </h4>
                </div>
                <div class="col-md-12 p-0" style="padding-top: 0px">
                  <!-- <homedoughnut :data="payableChart" :height="250"></homedoughnut> -->
                  <div
                    class="col-md-12 p-0 pull-left"
                    style="border-bottom: 1px solid #929292"
                  >
                    <span class="text-muted text-left font-9"
                      >Stage 1 Pending Submission</span
                    >
                    <a class="payTheme text-center">
                      <h2
                        class="numb-1"
                        style="
                          display: block;
                          color: #011993;
                          margin-bottom: 0px;
                        "
                      >
                        {{ payableNew }}
                      </h2>
                      <span
                        style="font-weight: 900; display: block"
                        class="text-muted circle-lbl"
                        >NEW</span
                      >
                    </a>
                  </div>
                  <div class="col-md-4 p-0 pull-left">
                    <span class="text-muted text-left font-9"
                      >Stage 2 Pending Approval</span
                    >
                    <div
                      class="col-md-12 pull-left p-0"
                      style="border-right: 1px solid #929292"
                    >
                      <a
                        class="inner-cer text-center cicle-orange"
                        :class="payTheme"
                      >
                        <span class="numb" style="">{{ payablePending }}</span>
                      </a>
                    </div>

                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >PENDING</span
                    >
                  </div>

                  <div class="col-md-4 p-0 pull-left">
                    <span class="text-muted text-left font-9"
                      >Stage 3 Pending Payment Process</span
                    >
                    <div
                      class="col-md-12 pull-left p-0"
                      style="border-right: 1px solid #929292"
                    >
                      <a
                        class="inner-cer cicle-red text-center"
                        :class="payTheme"
                      >
                        <span class="numb">{{ payableApproved }}</span>
                      </a>
                    </div>

                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >APPROVED</span
                    >
                  </div>

                  <div class="col-md-4 p-0 pull-left" style="">
                    <span class="text-muted text-left font-9"
                      >Ready for Payment Process</span
                    >
                    <a
                      class="inner-cer cicle-green text-center"
                      :class="payTheme"
                    >
                      <span class="numb">{{ payableSubmitted }}</span>
                    </a>
                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >SUBMITTED</span
                    >
                  </div>
                  <Br />
                  <Br />
                  <div
                    class="col-md-12 p-0 pull-left"
                    style="text-align: center"
                  >
                    <filledline
                      :data="filledPayableLine"
                      style="display: block; height: 96px !important"
                    ></filledline>
                    <!-- <span>Graph</span> -->
                  </div>
                  <!-- <br><a>Breakdown</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 0px">
          <div class="col-md-6 p-r-0 p-b-0 p-t-0">
            <div class="col-md-12 p-r-0 p-b-0 p-t-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>PROFORMA INVOICE AGING</span>
                  </h4>
                </div>
                <div class="col-md-12 p-0">
                  <div>
                    <ProformaAging
                      :data="ProformaBarChart"
                      :height="250"
                    ></ProformaAging>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 p-b-0 p-t-0">
            <div class="col-md-12 p-l-0 p-b-0 p-t-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>PAYABLE INVOICE AGING</span>
                  </h4>
                </div>
                <div class="col-md-12 p-0">
                  <div>
                    <ProformaAging
                      :data="PayableBarChart"
                      :height="250"
                    ></ProformaAging>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 p-r-0 p-b-0 p-t-0">
            <div class="col-md-12 p-r-0 p-b-0 p-t-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>PRO-FORMA STATUS BY PARENT & CHILD ID</span>
                  </h4>
                </div>
                <div class="col-md-12 p-0">
                  <div>
                    <ProformaStatusList
                      :data="proformaStatusCount"
                      :columns="[
                        'frompartyname',
                        'topartyname',
                        'Child_ID',
                        'Inv_Status',
                        'count',
                      ]"
                    ></ProformaStatusList>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 p-b-0 p-t-0">
            <div class="col-md-12 p-l-0 p-b-0 p-t-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>Payable STATUS BY PARENT & CHILD ID</span>
                  </h4>
                </div>
                <div class="col-md-12 p-0">
                  <div>
                    <ProformaStatusList
                      :data="payableStatusCount"
                      :columns="[
                        'frompartyname',
                        'topartyname',
                        'Child_ID',
                        'Payable_Status',
                        'count',
                      ]"
                    ></ProformaStatusList>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="role === 'Pending'">
        <div class="row">
          <div class="col-md-4 p-b-0 p-t-0">
            <div class="col-md-12 p-r-0 p-t-0 p-b-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <router-link to="/proforma"
                    ><h4 class="m-t-none m-b-none text-muted">
                      <span>Proforma</span>
                    </h4></router-link
                  >
                </div>
                <div class="col-md-12 p-0" style="padding-top: 0px">
                  <!-- <homechart :data="proformaChart" :height="250"></homechart> -->
                  <div
                    class="col-md-12 p-0 pull-left"
                    style="border-bottom: 1px solid #929292"
                  >
                    <span class="text-muted text-left font-9"
                      >Stage 2 Pending Approval</span
                    >
                    <a class="theme text-center">
                      <h2
                        class="numb"
                        style="
                          display: block;
                          color: #fcb500;
                          margin-bottom: 0px;
                        "
                      >
                        {{ proformaPending }}
                      </h2>
                      <span
                        style="font-weight: 900; display: block"
                        class="text-muted"
                        >PENDING</span
                      >
                    </a>
                  </div>
                  <div class="col-md-4 p-0 pull-left">
                    <span class="text-muted text-left font-9"
                      >Stage 1 Pending Submission</span
                    >
                    <div
                      class="col-md-12 pull-left p-0"
                      style="border-right: 1px solid #929292"
                    >
                      <a
                        class="inner-cer text-center cicle-blue"
                        :class="theme"
                        style=""
                      >
                        <span class="numb" style="">{{ proformaNew }}</span>
                      </a>
                    </div>

                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted"
                      >NEW</span
                    >
                  </div>

                  <div class="col-md-4 p-0 pull-left">
                    <span class="text-muted text-left font-9"
                      >Stage 3 Pending Invoice Generation</span
                    >
                    <div
                      class="col-md-12 pull-left p-0"
                      style="border-right: 1px solid #929292"
                    >
                      <a class="inner-cer cicle-red text-center" :class="theme">
                        <span class="numb">{{ proformaApproved }}</span>
                      </a>
                    </div>

                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted"
                      >APPROVED</span
                    >
                  </div>

                  <div class="col-md-4 p-0 pull-left" style="">
                    <span class="text-muted text-left font-9"
                      >Ready for final Tax Invoice</span
                    >
                    <a class="inner-cer cicle-green text-center" :class="theme">
                      <span class="numb">{{ proformaSubmitted }}</span>
                    </a>
                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted"
                      >SUBMITTED</span
                    >
                  </div>
                  <div class="col-md-12 p-0 pull-left">
                    <filledline
                      :data="filledProformaLine"
                      style="display: block; height: 96px !important"
                    ></filledline>
                  </div>
                  <!-- <br><a>Breakdown</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-0">
            <div class="col-md-12 p-0">
              <div
                class="panel clear invoicecol"
                style="
                  /* min-height: 565px !important; */
                  height: 328px !important;
                "
              >
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none text-muted">
                    <span>WEEKLY PRO-FORMA AND PAYABLES</span>
                  </h4>
                </div>
                <div class="col-md-12 p-b-0">
                  <div style="height: 315px !important">
                    <Linechart
                      style="display: block; height: 327px"
                      :data="WeeklyLineChart"
                    ></Linechart>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3" style="display: none !important">
            <div class="col-md-12 p-r-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none text-muted">
                    <span>MONTHLY PRO-FORMA & PAYABLES</span>
                  </h4>
                </div>
                <div class="col-md-12">
                  <MonthlyProformaPayableBar
                    :data="MonthlyProformaandPayable"
                    :height="445"
                  ></MonthlyProformaPayableBar>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-b-0 p-t-0">
            <div class="col-md-12 p-l-0 p-b-0 p-t-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>PAYABLE</span>
                  </h4>
                </div>
                <div class="col-md-12 p-0" style="padding-top: 0px">
                  <!-- <homedoughnut :data="payableChart" :height="250"></homedoughnut> -->
                  <div
                    class="col-md-12 p-0 pull-left"
                    style="border-bottom: 1px solid #929292"
                  >
                    <span class="text-muted text-left font-9"
                      >Stage 2 Pending Approval</span
                    >
                    <a class="payTheme text-center">
                      <h2
                        class="numb"
                        style="
                          display: block;
                          color: #fcb500;
                          margin-bottom: 0px;
                        "
                      >
                        {{ payablePending }}
                      </h2>
                      <span
                        style="font-weight: 900; display: block"
                        class="text-muted circle-lbl"
                        >PENDING</span
                      >
                    </a>
                  </div>
                  <div class="col-md-4 p-0 pull-left">
                    <span class="text-muted text-left font-9"
                      >Stage 1 Pending Submission</span
                    >
                    <div
                      class="col-md-12 pull-left p-0"
                      style="border-right: 1px solid #929292"
                    >
                      <a
                        class="inner-cer text-center cicle-blue"
                        :class="payTheme"
                      >
                        <span class="numb" style="">{{ payableNew }}</span>
                      </a>
                    </div>

                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >NEW</span
                    >
                  </div>

                  <div class="col-md-4 p-0 pull-left">
                    <span class="text-muted text-left font-9"
                      >Stage 3 Pending Payment Process</span
                    >
                    <div
                      class="col-md-12 pull-left p-0"
                      style="border-right: 1px solid #929292"
                    >
                      <a
                        class="inner-cer cicle-red text-center"
                        :class="payTheme"
                      >
                        <span class="numb">{{ payableApproved }}</span>
                      </a>
                    </div>

                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >APPROVED</span
                    >
                  </div>

                  <div class="col-md-4 p-0 pull-left" style="">
                    <span class="text-muted text-left font-9"
                      >Ready for Payment Process</span
                    >
                    <a
                      class="inner-cer cicle-green text-center"
                      :class="payTheme"
                    >
                      <span class="numb">{{ payableSubmitted }}</span>
                    </a>
                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >SUBMITTED</span
                    >
                  </div>
                  <div class="col-md-12 p-0 pull-left">
                    <filledline
                      :data="filledPayableLine"
                      style="display: block; height: 90px !important"
                    ></filledline>
                  </div>

                  <!-- <br><a>Breakdown</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 p-r-0 p-b-0 p-t-0">
            <div class="col-md-12 p-r-0 p-b-0 p-t-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>PROFORMA INVOICE AGING</span>
                  </h4>
                </div>
                <div class="col-md-12 p-0">
                  <ProformaAging
                    :data="ProformaBarChart"
                    :height="250"
                  ></ProformaAging>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 p-b-0 p-t-0">
            <div class="col-md-12 p-l-0 p-b-0 p-t-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>PAYABLE INVOICE AGING</span>
                  </h4>
                </div>
                <div class="col-md-12 p-0">
                  <ProformaAging
                    :data="PayableBarChart"
                    :height="250"
                  ></ProformaAging>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 p-r-0 p-b-0 p-t-0">
            <div class="col-md-12 p-r-0 p-b-0 p-t-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>PRO-FORMA STATUS BY PARENT & CHILD ID</span>
                  </h4>
                </div>
                <div class="col-md-12 p-0">
                  <ProformaStatusList
                    :data="proformaStatusCount"
                    :columns="[
                      'frompartyname',
                      'topartyname',
                      'Child_ID',
                      'Inv_Status',
                      'count',
                    ]"
                  ></ProformaStatusList>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 p-b-0 p-t-0">
            <div class="col-md-12 p-l-0 p-b-0 p-t-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>Payable STATUS BY PARENT & CHILD ID</span>
                  </h4>
                </div>
                <div class="col-md-12 p-0">
                  <ProformaStatusList
                    :data="payableStatusCount"
                    :columns="[
                      'frompartyname',
                      'topartyname',
                      'Child_ID',
                      'Payable_Status',
                      'count',
                    ]"
                  ></ProformaStatusList>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="role === 'Approved'">
        <div class="row">
          <div class="col-md-4 p-b-0 p-t-0">
            <div class="col-md-12 p-r-0 p-t-0 p-b-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none text-muted">
                    <span>PROFORMA</span>
                  </h4>
                </div>
                <div class="col-md-12 p-0" style="padding-top: 0px">
                  <!-- <homechart :data="proformaChart" :height="250"></homechart> -->
                  <div
                    class="col-md-12 p-0 pull-left"
                    style="border-bottom: 1px solid #929292"
                  >
                    <span class="text-muted text-left font-9"
                      >Stage 1 Pending Submission</span
                    >
                    <a class="theme text-center">
                      <h2
                        class="numb-1"
                        style="
                          display: block;
                          color: #011993;
                          margin-bottom: 0px;
                        "
                      >
                        {{ proformaNew }}
                      </h2>
                      <span
                        style="font-weight: 900; display: block"
                        class="text-muted circle-lbl"
                        >NEW</span
                      >
                    </a>
                  </div>
                  <div class="col-md-4 p-0 pull-left">
                    <span class="text-muted text-left font-9"
                      >Stage 2 Pending Approval</span
                    >
                    <div
                      class="col-md-12 pull-left p-0"
                      style="border-right: 1px solid #929292"
                    >
                      <a
                        class="inner-cer text-center cicle-orange"
                        :class="theme"
                        style=""
                      >
                        <span class="numb" style="">{{ proformaPending }}</span>
                      </a>
                    </div>

                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >PENDING</span
                    >
                  </div>

                  <div class="col-md-4 p-0 pull-left">
                    <span class="text-muted text-left font-9"
                      >Stage 3 Pending Invoice Generation</span
                    >
                    <div
                      class="col-md-12 pull-left p-0"
                      style="border-right: 1px solid #929292"
                    >
                      <a class="inner-cer cicle-red text-center" :class="theme">
                        <span class="numb">{{ proformaApproved }}</span>
                      </a>
                    </div>

                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >APPROVED</span
                    >
                  </div>

                  <div class="col-md-4 p-0 pull-left" style="">
                    <span class="text-muted text-left font-9"
                      >Ready for Final Tax Invoice</span
                    >
                    <a class="inner-cer cicle-green text-center" :class="theme">
                      <span class="numb">{{ proformaSubmitted }}</span>
                    </a>
                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >SUBMITTED</span
                    >
                  </div>
                  <Br />
                  <Br />
                  <div
                    class="col-md-12 p-0 pull-left"
                    style="text-align: center"
                  >
                    <filledline
                      :data="filledProformaLine"
                      style="
                        display: block;
                        height: 96px !important;
                        width: 418px;
                      "
                    ></filledline>
                  </div>
                  <!-- <br><a>Breakdown</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-0">
            <div class="col-md-12 p-0">
              <div
                class="panel clear invoicecol"
                style="height: 400px !important"
              >
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span style="">YTD - PRO-FORMA INVOICE BY ENTITY</span>
                  </h4>
                </div>
                <div style="height: 297px !important">
                  <YTDByEntity
                    :data="ytdInvStatusByEntity"
                    style="display: block; height: 327px !important"
                  ></YTDByEntity>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-b-0 p-t-0">
            <div class="col-md-12 p-l-0 p-b-0 p-t-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>PAYABLE</span>
                  </h4>
                </div>
                <div class="col-md-12 p-0" style="padding-top: 0px">
                  <!-- <homedoughnut :data="payableChart" :height="250"></homedoughnut> -->
                  <div
                    class="col-md-12 p-0 pull-left"
                    style="border-bottom: 1px solid #929292"
                  >
                    <span class="text-muted text-left font-9"
                      >Stage 1 Pending Submission
                    </span>
                    <a class="payTheme text-center">
                      <h2
                        class="numb-1"
                        style="
                          display: block;
                          color: #011993;
                          margin-bottom: 0px;
                        "
                      >
                        {{ payableNew }}
                      </h2>
                      <span
                        style="font-weight: 900; display: block"
                        class="text-muted circle-lbl"
                        >NEW</span
                      >
                    </a>
                  </div>
                  <div class="col-md-4 p-0 pull-left">
                    <span class="text-muted text-left font-9"
                      >Stage 2 Pending Approval</span
                    >
                    <div
                      class="col-md-12 pull-left p-0"
                      style="border-right: 1px solid #929292"
                    >
                      <a
                        class="inner-cer text-center cicle-orange"
                        :class="payTheme"
                      >
                        <span class="numb" style="">{{ payablePending }}</span>
                      </a>
                    </div>

                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >PENDING</span
                    >
                  </div>

                  <div class="col-md-4 p-0 pull-left">
                    <span class="text-muted text-left font-9"
                      >Stage 3 Pending Payment Process</span
                    >
                    <div
                      class="col-md-12 pull-left p-0"
                      style="border-right: 1px solid #929292"
                    >
                      <a
                        class="inner-cer cicle-red text-center"
                        :class="payTheme"
                      >
                        <span class="numb">{{ payableApproved }}</span>
                      </a>
                    </div>

                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >APPROVED</span
                    >
                  </div>

                  <div class="col-md-4 p-0 pull-left" style="">
                    <span class="text-muted text-left font-9"
                      >Ready for Payment Process</span
                    >
                    <a
                      class="inner-cer cicle-green text-center"
                      :class="payTheme"
                    >
                      <span class="numb">{{ payableSubmitted }}</span>
                    </a>
                    <span
                      style="
                        font-weight: 900;
                        display: block;
                        text-align: center;
                      "
                      class="text-muted circle-lbl"
                      >SUBMITTED</span
                    >
                  </div>
                  <Br />
                  <Br />
                  <div
                    class="col-md-12 p-0 pull-left"
                    style="text-align: center"
                  >
                    <filledline
                      :data="filledPayableLine"
                      style="
                        display: block;
                        height: 96px !important;
                        width: 418px;
                      "
                    ></filledline>
                    <!-- <span>Graph</span> -->
                  </div>
                  <!-- <br><a>Breakdown</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 p-b-0 p-t-0">
            <div class="col-md-12 p-t-0 p-b-0 p-r-0">
              <div class="panel clear">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>WEEKLY PRO-FORMA & PAYABLES</span>
                  </h4>
                </div>
                <div class="col-md-12 p-b-0">
                  <div style="display: block; height: 248px">
                    <Linechart
                      :data="WeeklyLineChart"
                      style="display: block; height: 248px"
                    ></Linechart>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-0">
            <div class="col-md-12 p-0">
              <div class="panel clear" style="margin-bottom: 10px !important">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>YTD AND MONTHLY JOB COUNT</span>
                  </h4>
                </div>
                <div class="col-md-12 p-b-0" style="height: 260px">
                  <a class="payTheme center">
                    <h2
                      class="numb"
                      style="
                        display: block;
                        color: rgb(163, 39, 44);
                        margin-bottom: 0px;
                        position: absolute;
                      "
                    >
                      {{ jobYtdTotal }}
                    </h2>
                    <span
                      style="font-weight: 900; display: block"
                      class="text-muted circle-lbl"
                    ></span>
                  </a>
                  <div class="col-md-12 p-b-0">
                    <MonthlyProformaPayableBar
                      :data="jobCount"
                      style="display: block; height: 236px"
                    ></MonthlyProformaPayableBar>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 p-t-0 p-b-0">
            <div class="col-md-12 p-t-0 p-b-0 p-l-0">
              <div class="panel clear">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>YTD INVOICE PERCENTAGE ALLOCATION</span>
                  </h4>
                </div>
                <div class="col-md-12 p-b-0">
                  <homedoughnut
                    :data="YTDInvoicePercentage"
                    :height="250"
                  ></homedoughnut>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 p-b-0 p-t-0">
            <div class="col-md-12 p-t-0 p-b-0">
              <div class="panel clear invoicecol">
                <div class="panel-heading wrapper">
                  <h4 class="m-t-none m-b-none">
                    <span>MONTHLY JOB COUNT</span>
                  </h4>
                </div>

                <div class="col-md-12 p-b-0">
                  <div class="table-responsive">
                    <table
                      class="
                        centered-table
                        table table-bordered table-striped
                        blue-table
                      "
                    >
                      <thead>
                        <tr>
                          <td
                            v-for="column in monthlyJobTable.columns"
                            :key="column"
                          >
                            {{ column }}
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="row in monthlyJobTable.rows"
                          :key="row.parent_short_name"
                        >
                          <td
                            v-for="column in monthlyJobTable.columns"
                            :key="column"
                          >
                            {{ row[column] }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as userService from '../services/userService'
import Linechart from './Linechart'
import ProformaAging from './ProformaAgingBar'
import ProformaStatusList from './ProformaStatusList'
import MonthlyProformaPayableBar from './MonthlyProformaPayable'
import homedoughnut from './homedoughnut'
import filledline from './filledLine'
import YTDByEntity from './YTDByEntity'
import { mapMutations } from 'vuex'

export default {
  name: 'Home',
  components: {
    Linechart,
    ProformaAging,
    ProformaStatusList,
    MonthlyProformaPayableBar,
    homedoughnut,
    filledline,
    YTDByEntity
  },
  mounted() {
    if (this.user) {
      this.init()
    }
  },
  watch: {
    user() {
      this.init()
    }
  },
  computed: {
    theme() {
      const style = {
        0: 'cicle-ylo',
        1: 'cicle-org',
        2: 'cicle-blu'
      }
      return style[this.$store.state.theme]
    },
    payTheme() {
      const style = {
        0: 'pb cicle-ylo',
        1: 'pb cicle-org',
        2: 'pb cicle-blu'
      }
      return style[this.$store.state.theme]
    },
    user() {
      return this.$store.getters.user
    },
    role() {
      let roles = {
        0: 'New',
        1: 'Pending',
        2: 'Approved'
      }
      return roles[this.$store.state.theme]
    }
  },
  methods: {
    ...mapMutations(['START_SPINNER', 'STOP_SPINNER']),
    init() {
      this.START_SPINNER()
      this.getByStatus()
      Promise.all([this.getTasks(), this.getChartMetaData()]).then(() => {
        this.STOP_SPINNER()
      })
    },
    getByStatus() {
      return userService.getByStatus({ status: this.role }).then(res => {
        this.proformaStatusCount = res.data.proforma
        this.payableStatusCount = res.data.payable
      })
    },
    getChartMetaData() {
      const date = new Date()
      const day = date.getDay()
      this.weekday = [...this.weekday.slice(0, day), ...this.weekday.slice(day)]
      const weekAgo = date - 604800
      const proformaPromise = userService.homepageProformaChartData(
        this.selectedEnvironment === 'All'
          ? this.user.environments
          : this.selectedEnvironment
      )
      const payablePromise = userService.homepagePayableChartData(
        this.selectedEnvironment === 'All'
          ? this.user.environments
          : this.selectedEnvironment
      )
      return Promise.all([proformaPromise, payablePromise]).then(values => {
        const res1 = values[0]
        const res2 = values[1]
        this.proformaLine = [0, 0, 0, 0, 0, 0, 0]
        res1.data.forEach(e => {
          const day =
            6 - Math.round((date - new Date(e.invoice_date)) / 3600000 / 24)
          if (day < 0) return
          this.proformaLine[day] = e.total
        })
        this.payableLine = [0, 0, 0, 0, 0, 0, 0]
        res2.data.forEach(e => {
          const day =
            6 - Math.round((date - new Date(e.invoice_date)) / 3600000 / 24)
          if (day < 0) return
          this.payableLine[day] = e.total
        })
      })
    },
    getTasks() {
      let query = { Control_Flag: 'Y' }
      let query2 = { Control_Flag: 'Y' }
      query.Inv_Status = this.role
      // query.Parent_ID = this.user.parents;
      query.Environment = this.user.environments
      query2.Payable_Status = this.role
      // query2.Parent_ID = this.user.parents;
      query2.Environment = this.user.environments
      return Promise.all([
        userService.getProformaCount(query),
        userService.getPayableCount(query2)
      ]).then(values => {
        this.specificProformaCount = values[0].data
        console.log(values[0].data)
        console.log(values[1].data)
        this.specificPayableCount = values[1].data
        this.proformaTasksCount = values[0].data.forEach(invoice => {
          //if (!this.environments.includes(invoice.Environmnt)) {
          if (invoice.inv_status == 'New') {
            this.proformaNew = invoice.total
          } else if (invoice.inv_status == 'Pending') {
            this.proformaPending = invoice.total
          } else if (invoice.inv_status == 'Approved') {
            this.proformaApproved = invoice.total
          } else if (invoice.inv_status == 'Submitted') {
            this.proformaSubmitted = invoice.total
          }
        })

        this.payableTasksCount = values[1].data.forEach(invoice => {
          if (invoice.inv_status == 'New') {
            this.payableNew = invoice.total
          } else if (invoice.inv_status == 'Pending') {
            this.payablePending = invoice.total
          } else if (invoice.inv_status == 'Approved') {
            this.payableApproved = invoice.total
          } else if (invoice.inv_status == 'Submitted') {
            this.payableSubmitted = invoice.total
          }
        })

        this.getLineChartData()
      })
    },
    getDonut(labels) {
      if (this.role !== 'Approved') return
      userService
        .getYtdJobCount({
          Environment:
            this.selectedEnvironment === 'All'
              ? this.user.environments
              : this.selectedEnvironment
        })
        .then(res => {
          this.YTDInvoicePercentage = {
            labels: [
              'Payable',
              'Proforma',
              'Credit Note',
              'Debit Note',
              'InterCompany'
            ],
            datasets: [
              {
                data: ['payable', 'invoice', 'cn', 'dn', 'inter'].map(
                  e => res.data.jobpercentage[0][e]
                ),
                backgroundColor: [
                  'rgb(37, 173, 135)',
                  'rgb(159, 69, 159)',
                  'rgb(248, 186, 0)',
                  'rgb(230, 178, 170)',
                  'rgb(229, 52, 18)'
                ]
              }
            ]
          }
          const parents = res.data.jobcount.reduce((a, b) => {
            if (a.hasOwnProperty(b.parent_short_name)) {
              a[b.parent_short_name][b.month.trim()] = b.total
            } else {
              a[b.parent_short_name] = {
                [b.month.trim()]: b.total,
                Entity: b.environment,
                Parent: b.parent_short_name
              }
            }
            return a
          }, {})
          const numbers = res.data.jobcount.reduce((a, b) => {
            if (a.hasOwnProperty(b.month.trim())) {
              a[b.month.trim().substring(0, 3)] += Number(b.total)
            } else {
              a[b.month.trim().substring(0, 3)] = Number(b.total)
            }
            this.jobYtdTotal += Number(b.total)
            return a
          }, {})
          this.jobCount = {
            labels: labels,
            datasets: [
              {
                data: labels.map(e => (numbers[e] ? numbers[e] : 0)),
                backgroundColor: 'rgb(163, 39, 44)'
              }
            ]
          }
          this.monthlyJobTable = {
            columns: [
              'Entity',
              'Parent',
              'January',
              'February',
              'March',
              'April',
              'May',
              'June',
              'July',
              'August',
              'September',
              'October',
              'November',
              'December'
            ],
            rows: Object.keys(parents).map(e => parents[e])
          }
        })
    },
    getFilledLineData(labels) {
      userService
        .getStackedChart({
          Environment:
            this.selectedEnvironment === 'All'
              ? this.user.environments
              : this.selectedEnvironment
        })
        .then(res => {
          const proformaData = res.data.proforma.reduce((a, b) => {
            a[b.month.trim().substring(0, 3)] = b.total
            return a
          }, {})
          const payableData = res.data.payable.reduce((a, b) => {
            a[b.month.trim().substring(0, 3)] = b.total
            return a
          }, {})
          this.filledProformaLine = {
            labels: labels,
            datasets: [
              {
                //label: "Proforma",
                backgroundColor: 'rgb(4,51,255)', //this.color,
                data: labels.map(e => {
                  return proformaData[e] ? proformaData[e] : 0
                })
              }
            ]
          }
          this.filledPayableLine = {
            labels: labels,

            datasets: [
              {
                //label: "Payable",
                backgroundColor: 'rgb(255,177,0)', //this.color,
                data: labels.map(e => {
                  return payableData[e] ? payableData[e] : 0
                })
              }
            ]
          }
        })
    },
    getLineChartData() {
      this.WeeklyLineChart = {
        labels: this.weekday,
        datasets: [
          {
            label: 'Proforma',
            data: this.proformaLine,
            fill: false,
            borderColor: 'rgb(159, 69, 159)'
          },
          {
            label: 'Payable',
            data: this.payableLine,
            fill: false,
            borderColor: 'rgb(37, 173, 135)'
          }
        ]
      }
      this.getAgingData()
    },
    getAgingData() {
      const months = [
        'Jan',
        'Feb',
        'Mar',
        'Apr',
        'May',
        'Jun',
        'Jul',
        'Aug',
        'Sep',
        'Oct',
        'Nov',
        'Dec'
      ]
      const date = new Date()
      let currentMonth = date.getMonth()
      const labels = []
      for (let i = 0; i < 12; i += 1) {
        labels.unshift(months[currentMonth])
        if (currentMonth === 0) {
          currentMonth = 11
        } else {
          currentMonth -= 1
        }
      }
      userService
        .hompageAging({
          Environment:
            this.selectedEnvironment === 'All'
              ? this.user.environments
              : this.selectedEnvironment
        })
        .then(res => {
          const { proforma, payable } = res.data
          const proformaData = {
            New: new Array(12).fill(0),
            Pending: new Array(12).fill(0),
            Approved: new Array(12).fill(0),
            Submitted: new Array(12).fill(0)
          }
          const payableData = {
            New: new Array(12).fill(0),
            Pending: new Array(12).fill(0),
            Approved: new Array(12).fill(0),
            Submitted: new Array(12).fill(0)
          }
          proforma.forEach(e => {
            let month = e.month.trim().substring(0, 3)
            const index = labels.indexOf(month)
            if (proformaData.hasOwnProperty(e.inv_status)) {
              proformaData[e.inv_status][index] = Number(e.total)
            }
          })

          payable.forEach(e => {
            let month = e.month.trim().substring(0, 3)
            const index = labels.indexOf(month)
            if (payableData.hasOwnProperty(e.payable_status)) {
              payableData[e.payable_status][index] = Number(e.total)
            }
          })

          this.getProformaAging(labels, proformaData)
          this.getPayableAging(labels, payableData)
          this.getDonut(labels)
          this.getMonthlyProformaandPayable(labels, proformaData, payableData)
        })
      this.getFilledLineData(labels)
      if (this.role === 'Approved') {
        this.getYtdByEntity(labels)
      }
    },
    getProformaAging(labels, data) {
      this.ProformaBarChart = {
        labels: labels,
        datasets: [
          {
            label: 'New',
            data: data.New,

            backgroundColor: 'rgb(1,25,147)'
          },
          {
            label: 'Pending',
            data: data.Pending,

            backgroundColor: 'rgb(248,186,0)'
          },
          {
            label: 'Approved',
            data: data.Approved,

            backgroundColor: 'rgb(255,100,78)'
          },
          {
            label: 'Submitted',
            data: data.Submitted,

            backgroundColor: 'rgb(29,177,0)'
          }
        ]
      }
    },
    getPayableAging(labels, data) {
      this.PayableBarChart = {
        labels: labels,
        datasets: [
          {
            label: 'New',
            data: data.New,

            backgroundColor: 'rgb(1,25,147)'
          },
          {
            label: 'Pending',
            data: data.Pending,

            backgroundColor: 'rgb(248,186,0)'
          },
          {
            label: 'Approved',
            data: data.Approved,

            backgroundColor: 'rgb(255,100,78)'
          },
          {
            label: 'Submitted',
            data: data.Submitted,

            backgroundColor: 'rgb(29,177,0)'
          }
        ]
      }
    },
    getMonthlyProformaandPayable(labels, proforma, payable) {
      const flattenedProforma = Object.keys(proforma).reduce((a, b) => {
        return a.map((e, index) => (e += proforma[b][index]))
      }, new Array(12).fill(0))
      const flattenedPayable = Object.keys(payable).reduce(
        (a, b) => a.map((e, index) => (e += payable[b][index])),
        new Array(12).fill(0)
      )
      this.MonthlyProformaandPayable = {
        labels: labels.slice(6),
        datasets: [
          {
            label: 'Job Count',
            data: flattenedProforma.slice(-6),

            backgroundColor: 'rgb(163, 39, 44)'
          }
        ]
      }
    },
    getYtdByEntity(labels) {
      userService
        .getYtdByEntity({
          Environment:
            this.selectedEnvironment === 'All'
              ? this.user.environments
              : this.selectedEnvironment
        })
        .then(res => {
          const entities = res.data.reduce((a, b) => {
            if (!a.hasOwnProperty(b.environment)) {
              a[b.environment] = {
                New: 0,
                Pending: 0,
                Approved: 0,
                Submitted: 0
              }
            }
            a[b.environment][b.inv_status] = b.total
            return a
          }, {})
          this.ytdInvStatusByEntity = {
            labels: Object.keys(entities),
            datasets: [
              {
                label: 'New',
                data: Object.keys(entities).map(e => entities[e].New),
                backgroundColor: 'rgb(1, 25, 147)'
              },
              {
                label: 'Pending',
                data: Object.keys(entities).map(e => entities[e].Pending),
                backgroundColor: 'rgb(248, 186,0)'
              },
              {
                label: 'Approved',
                data: Object.keys(entities).map(e => entities[e].Approved),
                backgroundColor: 'rgb(255,100, 78)'
              },
              {
                label: 'Submitted',
                data: Object.keys(entities).map(e => entities[e].Submitted),
                backgroundColor: 'rgb(29,177,0)'
              }
            ]
          }
        })
    }
  },
  data() {
    return {
      environments: [],
      monthlyJobTable: [],
      parents: [],
      proformaData: [],
      payableData: [],
      lineLabels: [],
      chartData: {},
      proformaChart: {},
      payableChart: {},
      proformaTasks: 0,
      proformaCount: {},
      payableCount: {},
      proformaNew: 0,
      proformaPending: 0,
      proformaApproved: 0,
      proformaSubmitted: 0,
      jobCount: {},
      payableNew: 0,
      payablePending: 0,
      payableApproved: 0,
      payableSubmitted: 0,
      specificPayable: {},
      specificProforma: {},
      specificPayableCount: {},
      specificProformaCount: {},
      proformaStatusCount: [],
      payableStatusCount: [],
      payableTasks: 0,
      barChart: {},
      filledProformaLine: [],
      filledPayableLine: [],
      jobYtdTotal: 0,
      //Weekly Proforma Payable
      WeeklyLineChart: {},
      ProformaBarChart: {},
      PayableBarChart: {},
      WeeklyLineChartLabel: {},
      ProformaStatusList: {},
      MonthlyProformaandPayable: {},
      YTDInvoicePercentage: {},
      ytdInvStatusByEntity: {},
      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      labels2: ['Foo', 'Bar'],
      proformaLine: [],
      payableLine: [],
      weekday: [
        'Sunday',
        'Monday',
        'Tuesday',
        'Wednesday',
        'Thursday',
        'Friday',
        'Saturday'
      ],
      datasets: [
        {
          label: 'Data One',
          backgroundColor: '#FC2525',
          data: [40, 39, 10, 40, 39, 80, 40]
        },
        {
          label: 'Data Two',
          backgroundColor: '#05CBE1',
          data: [60, 55, 32, 10, 2, 12, 53]
        }
      ],
      datasets2: [
        {
          label: 'Data One',
          backgroundColor: '#FC2525',
          data: [1, 2]
        },
        {
          label: 'Data Two',
          backgroundColor: '#05CBE1',
          data: [3, 4]
        }
      ],
      birtReports: {
        Shell: [
          {
            title: '1155SecsImportInvSummaryByCustIdInvDate',
            link:
              'http://172.20.2.94/WL_TOMCAT_ActuateBIRTViewer/frameset?invokeSubmit=True&__report=ExportReports/1155SecsImportInvSummaryByCustIdInvDate.rptdesign&__format=html&__CustId=1152&__InvDateStart=2018-01-01&__InvDateEnd=2018-04-01'
          }
        ]
      },
      selectedEnvironment: 'All'
    }
  }
}
</script>
