<style>
</style>

<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel clear">
        <div class="col-md-12 m-b m-t">
          <button class="button btn btn-danger" @click="goBack()">Back</button>
          <table
            id="invoice"
            class="table table-striped table-bordered text-u-c"
            cellspacing="0"
            width="100%"
            style="margin-bottom: 0"
          >
            <tbody>
              <tr>
                <td><b>DOCUMENT #</b> <br />{{ doc.SupplierInv }}</td>
                <td>
                  <b>DOCUMENT DATE</b> <br />{{ doc.DOC_DATE | formatDate }}
                </td>
                <td>
                  <b>ATTACHMENTS</b> <br />
                  <a :href="doc.Attachment_URL" target="_blank">
                    View Invoices</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel clear">
        <div class="col-md-12 m-b m-t">
          <table
            id="invoice"
            class="table table-striped table-bordered text-u-c"
            cellspacing="0"
            width="100%"
          >
            <thead>
              <tr>
                <th>
                  <label class="select">
                    <input
                      type="checkbox"
                      class="select"
                      :checked="selectAll"
                      id="select"
                      @click="selectDisplayed"
                    />
                    Select</label
                  >
                </th>
                <th>Payable Number</th>
                <th>Pro-forma Number</th>
                <th>Job Number</th>
                <th>Status</th>
                <th>Last User</th>
                <th>Local Total</th>
                <th>USD Total</th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="invoice in invoices" :key="invoice.Job_Number">
                <td>
                  <input
                    type="checkbox"
                    :value="invoice"
                    v-model="selectedInvoices"
                  />
                </td>
                <td>{{ invoice.Voucher_Number }}</td>
                <td class="linkcoloir">{{ invoice.Invoice_Number }}</td>
                <td>{{ invoice.Job_Number }}</td>
                <td :class="colors[invoice.Payable_Status]">
                  <a @click="showRejectRemarks(invoice)">{{
                    invoice.Payable_Status
                  }}</a>
                </td>
                <td>{{ invoice.blame }}</td>
                <td>{{ invoice.syscurrency }} {{ invoice.Local_Cost }}</td>
                <td>USD {{ invoice.USD_Cost }}</td>
                <td><a @click="showPNL(invoice)">PNL</a></td>
                <pnl
                  v-if="visiblePNL"
                  :propl="pro_pl"
                  :info="invoiceInfo"
                  :paypl="pay_pl"
                  @close="
                    () => {
                      visiblePNL = false
                    }
                  "
                ></pnl>
              </tr>
            </tbody>
          </table>
          <div class="row fixed" v-if="selectedInvoices.length !== 0">
            <div class="col-md-12">
              <button
                class="blu-btn tbl-btn"
                @click="approveInvoices(selectedInvoices)"
              >
                {{ role }}
              </button>
              <button
                v-if="rejectable"
                class="btn-danger tbl-btn"
                @click="
                  () => {
                    showReject = !showReject
                  }
                "
              >
                Reject
              </button>
              <textarea
                :disabled="rejectReason.length >= 300"
                v-model="rejectReason"
                placeholder="Please add a reason"
                v-show="showReject"
              />
              <button
                v-show="showReject"
                class="button-verify tbl-btn"
                @click="rejectInvoices(selectedInvoices)"
              >
                Submit
              </button>
              <div class="stats pull-right">
                <h3>Total Selected: {{ selectedInvoices.length }}</h3>
                <h3>Total Cost: {{ runningAmount }}</h3>
              </div>
            </div>
          </div>
          <error
            v-if="showError"
            @close="
              () => {
                showError = false
              }
            "
          >
            <h3 slot="header">Rejection Reasons</h3>
            <p slot="body">{{ rejectionMessage }}</p>
          </error>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import pnl from './pnl'
import error from './error'
import { mapMutations } from 'vuex'
import * as payableService from '../services/payableService'
import * as proformaService from '../services/proformaService'
export default {
  name: 'invoiceNumbers',
  components: {
    pnl,
    error
  },
  computed: {
    userlist() {
      return this.$store.state.userlist
    },
    payableSearch() {
      return this.$store.payableSearch
    },
    runningAmount() {
      let sum = 0
      this.selectedInvoices.forEach(e => {
        sum += Number(e.Local_Cost)
      })
      return sum.toFixed(2)
    },
    doc() {
      return this.$store.state.document
    },
    username() {
      return this.$store.state.user.id
    },
    blameColumn() {
      const columns = {
        0: 'Review_User',
        1: 'Approve_User',
        2: 'Submit_User'
      }
      return columns[this.$store.state.theme]
    },
    role() {
      const actions = {
        0: 'Submit for Approval',
        1: 'Approve',
        2: 'Submit'
      }
      return actions[this.$store.state.theme]
    },
    rejectable() {
      this.selectedInvoices
      let temp = true
      this.selectedInvoices.forEach(bundle => {
        if (bundle.state === 0) {
          temp = false
        }
      })
      if (!temp) {
        return false
      }
      this.$store.state.theme
      if (this.selectedInvoices.length > 0 && this.$store.state.theme > 0) {
        return true
      } else {
        return false
      }
    },
    updatedState() {
      const updateStates = {
        0: 'Pending',
        1: 'Approved',
        2: 'Submitted',
        5: 'Rejected'
      }
      return updateStates[this.$store.state.theme]
    }
  },
  methods: {
    ...mapMutations(['START_SPINNER', 'STOP_SPINNER']),
    goBack() {
      this.$router.push('/payable')
    },
    showRejectRemarks(bundle) {
      if (bundle.Payable_Status !== 'Rejected') {
        return
      }
      this.rejectionMessage = bundle.Rejected_Remarks
      this.showError = true
    },
    showPNL(invoice) {
      let query = {
        Environment: this.environment
      }
      if (Number(invoice.Job_Number) > 1) {
        query.Job_Number = invoice.Job_Number
      } else {
        query.Invoice_Number = invoice.Invoice_Number
      }
      this.START_SPINNER()
      payableService.getSingleInvoice(query).then(response => {
        this.STOP_SPINNER()
        this.invoiceInfo = response.data[0]
        Promise.all([
          payableService.getPayablePL(query),
          proformaService.getProformaPL(query)
        ]).then(values => {
          this.pay_pl = values[0].data
          this.pro_pl = values[1].data
          this.visiblePNL = true
        })
      })
    },
    selectDisplayed(e) {
      console.log(e.target.checked)
      this.selectAll = e.target.checked
      if (this.selectAll) {
        this.selectedInvoices = this.invoices
        e.preventDefault()
      } else {
        this.selectedInvoices = []
      }
    },

    checkCreds(invoices) {
      let bool = true
      // invoices.forEach(e => {
      //   if (
      //     e.Payable_Status === 'Submitted' ||
      //     e.Payable_Status === 'Rejected'
      //   ) {
      //     this.$dialog
      //       .alert(
      //         `Invoice Number ${e.Invoice_Number} is ${e.Payable_Status}`,
      //         { okText: 'Continue' }
      //       )
      //       .then(dialog => {
      //         dialog.close()
      //       })
      //     bool = false
      //     return
      //   }
      //   if (this.role === 'Submit') {
      //     if (e.Payable_Status !== 'Approved') {
      //       this.$dialog
      //         .alert(
      //           `Invoice Number ${e.Invoice_Number} is ${e.Payable_Status}`,
      //           { okText: 'Continue' }
      //         )
      //         .then(dialog => {
      //           dialog.close()
      //         })
      //       bool = false
      //       return
      //     }
      //   } else if (this.role === 'Submit for Approval') {
      //     if (e.Payable_Status !== 'New') {
      //       this.$dialog
      //         .alert(
      //           `Invoice Number ${e.Invoice_Number} is ${e.Payable_Status}`,
      //           { okText: 'Continue' }
      //         )
      //         .then(dialog => {
      //           dialog.close()
      //         })
      //       bool = false
      //       return
      //     }
      //   }
      // })
      return bool
    },
    approveInvoices() {
      if (this.selectedInvoices.length >= 1) {
        this.$dialog
          .alert(`Nothing is Selected`, {
            okText: 'Continue'
          })
          .then(dialog => {
            dialog.close()
          })
        return
      }
      if (!this.checkCreds(this.selectedInvoices)) {
        return
      }
      let updates = {
        Payable_Status: this.updatedState,
        [this.blameColumn]: this.username,
        Updated_On: new Date().toUTCString('DD MMM YYYY')
      }
      let query = {
        Environment: this.payableSearch.Environment,
        Control_Flag: 'Y'
      }
      query.Invoice_Number = this.selectedInvoices.map(e => {
        return e.Invoice_Number
      })
      this.$dialog
        .confirm(
          `Are you sure you want to approve these <span style="color:red;">${this.selectedInvoices.length}</span> invoices?`
        )
        .then(dialog => {
          dialog.loading(true)
          payableService
            .updatePayable(updates, query, this.callback)
            .then(() => {
              dialog.close()
              this.selectedInvoices = []
              this.invoiceSort = 'All'
              this.getInvoices()
            })
        })
    },
    rejectInvoices() {
      if (this.rejectReason.length === 0) {
        this.$dialog
          .alert(`Nothing is Selected`, {
            okText: 'Continue'
          })
          .then(dialog => {
            dialog.close()
          })
        return
      }
      let updates = {
        Payable_Status: 'Rejected',
        Reject_Remarks: this.rejectReason,
        Reject_User: this.username,
        Updated_On: new Date().toUTCString('DD MMM YYYY')
      }
      if (this.selectedDocs.length < 1) {
        return
      }
      if (!this.checkCreds(this.selectedDocs)) {
        return
      }
      let query = {
        Environment: this.payableSearch.Environment,
        Control_Flag: 'Y'
      }
      query.SupplierInv = this.selectedDocs.map(e => {
        return e.SupplierInv
      })
      this.$dialog
        .confirm(
          `Are you sure you want to reject these <span style="color:red;">${this.selectedInvoices.length}</span> invoices?`
        )
        .then(dialog => {
          dialog.loading(true)
          payableService.updatePayable(updates, query, null).then(() => {
            dialog.close()
            this.selectedDocs = []
            this.$emit('update')
          })
        })
        .catch(dialog => {
          dialog.close()
        })
    }
  },
  created() {
    if (!this.doc) {
      this.$router.push('/payable')
    } else {
      this.getInvoices()
    }
  },
  data() {
    return {
      selectedInvoices: [],
      docInfo: '',
      invoices: [],
      visiblePNL: false,
      invoiceInfo: '',
      pro_pl: '',
      pay_pl: '',
      selectAll: '',
      showError: false,
      showReject: false,
      rejectReason: '',
      rejectionMessage: '',
      users: [],
      colors: {
        New: 'new',
        Pending: 'pending',
        Approved: 'approved',
        Submitted: 'submitted',
        Rejected: 'reject'
      }
    }
  }
}
</script>
