<style>
.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.table-title {
  font-size: 12px;
  font-weight: bold;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 1000px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  max-height: 80vh;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: scroll;
}

.modal-header h3 {
  margin-top: 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.font-size {
  font-size: 10px;
}

.font-size > tr > td {
  font-size: 10px;
}

.font-size > th {
  font-size: 10px;
}
</style>

<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <img style="max-width: 150px" src="assets/logo4.png" />
            <div class="invoice-title">
              <h2 style="font-size: 20px; margin-top: 13px">
                {{ envAddress.name }}
              </h2>
              {{ envAddress.add4 }}
            </div>
            <h3 class="pull-right">
               
              <strong  v-if="info.Proforma_Type=='CN'">CREDIT NOTE</strong> 
              <strong  v-if="info.Proforma_Type=='Invoice'">PROFORMA</strong>
              <strong  v-if="info.Proforma_Type==null || info.Proforma_Type==''">PROFORMA</strong></h3>
             
          </div>
          <div class="modal-body" style="font-size: 10px">
            <div class="row">
              <div class="col-md-12">
                <div style="clear: both"></div>
                <hr />
                <div style="clear: both"></div>
                <div class="row">
                  <div class="col-md-4 pull-left">
                    <div class="full-center">
                      <address>
                        {{ info.Customer_Name }}
                        <br />
                        {{ customer.Child_Address_Line_1 }} <br />
                        {{ customer.Child_Address_Line_2 }} <br />
                        {{ customer.Child_Address_Line_3 }}
                        <br />
                        <br />
                        ATTN: {{ info.ATTN }}
                      </address>
                    </div>
                  </div>
                  <div class="col-md-8 text-center pull-left">
                    <b>{{
                      envAddress.taxId !== ''
                        ? 'GST Reg No.:' + envAddress.taxId
                        : ''
                    }}</b>
                    <table width="100%" class="font-size">
                      <tr>
                        <td><span class="table-title">INVOICE NUMBER</span></td>
                        <td><span class="table-title">INVOICE DATE</span></td>
                        <td>
                          <span class="table-title">YOUR REFERENCE NUMBER</span>
                        </td>
                      </tr>
                      <tr>
                        <td>{{ info.Invoice_Number }}</td>
                        <td>{{ info.Invoice_Date | formatDate }}</td>
                        <td>{{ info.Reference_Number }}</td>
                      </tr>
                      <tr>
                        <td colspan="3">
                          PLEASE RETURN A COPY OF THIS INVOICE WITH YOUR
                          REMITTANCE TO:
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3">
                          {{ envAddress.name }}
                          <br />
                          {{ envAddress.add1 }} <br />
                          {{ envAddress.add2 }} <br />
                          {{ envAddress.add3 }}
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div style="clear: both"></div>
                <hr />
                <div style="clear: both"></div>
                <div class="row">
                  <div class="col-md-12">
                    <table width="100%" class="font-size">
                      <tr>
                        <td>
                          <span class="table-title">VESSEL:</span> <br />{{
                            info.VesVoy
                          }}
                        </td>
                        <td>
                          <span class="table-title">SHIPPER: </span> <br />{{
                            info.Shipper
                          }}
                        </td>
                        <td>
                          <span class="table-title"
                            >COMMODITY DESCRIPTION:
                          </span>
                          <br />
                          {{ info.Commodity_Desc }}
                        </td>
                        <td>
                          <span class="table-title">CUSTOMER ACCT NO: </span>
                          <br />
                          {{ customer.Child_ID }}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="table-title">PLACE OF RECEIPT:</span>
                          <br />{{ info.Fr }}
                        </td>
                        <td>
                          <span class="table-title">PORT OF LOAD: </span>
                          <br />{{ info.Fr }}
                        </td>
                        <td>
                          <span class="table-title">PORT OF DISCHARGE: </span>
                          <br />
                          {{ info.To }}
                        </td>
                        <td>
                          <span class="table-title">PLACE OF DELIVERY: </span>
                          <br />
                          {{ info.To }}
                        </td>
                      </tr>
                    </table>
                    <table width="100%" class="font-size">
                      <tr>
                        <td><span class="table-title">Charge Code</span></td>
                        <td>
                          <span class="table-title"
                            >DESCRIPTION OF CHARGES</span
                          >
                        </td>
                        <td><span class="table-title">AMOUNT</span></td>
                      </tr>
                      <tr v-for="line in pl" :key="line.CHGCODE_ID">
                        <td>{{ line.CHGCODE_ID }}</td>
                        <td>{{ line.Details }}</td>
                        <td>{{ line.TotalGST }}</td>
                      </tr>
                    </table>
                    <div class="clearfix"></div>
                    <br />
                    <div class="clearfix"></div>
                    <br />
                    <div class="row">
                      <div class="col-md-6">
                        <table class="font-size">
                          <tr>
                            <td>ELITE REF.: {{ info.Elite_Ref }}</td>
                          </tr>
                          <tr>
                            <td>REMARKS :</td>
                          </tr>
                        </table>
                      </div>
                      <div class="col-md-6">
                        <table class="pull-right font-size">
                          <tr>
                            <td class="text-right">SAIL/DEPARTURE DATE:</td>
                            <td>
                              {{ info.ETD_ETA | formatDate }}
                            </td>
                          </tr>
                          <tr>
                            <td class="text-right">PAYMENT TERM:</td>
                            <td>
                              {{ info.Term_ID }}
                            </td>
                          </tr>
                          <tr>
                            <td class="text-right">TOTAL CONTAINER:</td>
                            <td>{{ info.TOT_Container }}</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />
            <div class="row">
              <div class="col-md-12">
                B/L NO. : {{ info.OBL }} <br />
                *** This is a computer generated invoice. No signature is
                required. **** <br />
                All charges above exclude GST. If GST is applicable, it will be
                shown in our Tax Invoice.
              </div>
              <div style="clear: both"></div>
              <hr />
              <div style="clear: both"></div>
              <div
                class="col-md-8"
                style="border-right: 1px solid #ddd; font-size: 8px"
              >
                {{ envAddress.foot1 }} {{ envAddress.foot2 }}
                {{ envAddress.foot3 }} {{ envAddress.foot4 }}
                {{ envAddress.foot5 }} {{ envAddress.foot6 }}
                {{ envAddress.foot7 }} {{ envAddress.foot8 }}
                {{ envAddress.foot9 }} {{ envAddress.foot10 }}
              </div>
              <div class="col-md-4" style="font-size: 10px">
                AMOUNT {{ info.Currency }}: {{ info.Inv_Total_A_Amt }}
              </div>
            </div>
            <div class="modal-footer">
              <button
                class="modal-default-button btn btn-danger"
                @click="$emit('close')"
              >
                OK
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'invoiceDetails',
  props: ['info', 'pl', 'customer'],
  computed: {
    envAddress() {
      console.log(this.address[this.info.Environment])
      return this.address[this.info.Environment]
    },
  },
  methods: {},
  data() {
    return {
      address: {
        AMERICA: {
          name: 'Elite Digital Logistics Inc',
          add1: '3050 POST OAK BLVD, STE 444',
          add2: 'HOUSTON, TX 77056 ',
          add3: 'TEL. NO. 346-802-4008',
          add4: '',
          foot1: '1. PLEASE ISSUE CROSSED CHEQUE PAYABLE TO:',
          foot2: '    Elite Digital Logistics Inc',
          foot3: '2. OR TELEGRAPHIC TRANSFER TO: COMERICA BANK',
          foot4: '    P.O. BOX 650282 DALLAS, TX 75265-0282',
          foot5:
            '    USD A/C NO. 1882320987 SWIFT CODE: MNBDUS33 ABA CODE: 111000753',
          foot6: '    NO OFFICIAL RECEIPT WILL BE ISSUED.',
          foot7:
            '3. INTEREST OF 2% WILL BE CHARGED ON OVERDUE ACCOUNTS CALCULATED',
          foot8: '    FROM DUE DATE TILL DATE OF ACTUAL PAYMENT',
          foot9: '',
          foot10: '',
          showFooter: 'Y',
          taxId: '',
        },
        DUBAI: {
          name: 'Elite Global Logistic  DMCC',
          add1: 'Cluster -I, 18-K , GOLD TOWER',
          add2: 'Jumeirah Lakes Towers, Dubai,',
          add3: 'UNITED ARAB EMIRATES',
          add4: '(971) 4 514 8785',
          foot1: '1. PLEASE ISSUE CROSSED CHEQUE PAYABLE TO:',
          foot2: 'ELITE GLOBAL LOGISTIC DMCC',
          foot3: '2. OR TELEGRAPHIC TRANSFER TO: EMIRATES NBD',
          foot4: 'AED A/C NO: 0514996575901 IBAN: AE730260000514996575901',
          foot5: 'USD A/C NO: 0514996575902 IBAN: AE460260000514996575902',
          foot6: 'EUR A/C NO: 0514996575903 IBAN: AE190260000514996575903',
          foot7: 'SGD A/C NO: 0514996575904 IBAN: AE890260000514996575904',
          foot8: 'NO OFFICIAL RECEIPT WILL BE ISSUED.',
          foot9:
            '3. INTEREST OF 2% WILL BE CHARGED ON OVERDUE ACCOUNTS CALCULATED',
          foot10: 'FROM DUE DATE TILL DATE OF ACTUAL PAYMENT',
          showFooter: 'N',
          taxId: '',
        },
        SCGZH: {
          name: 'Elite Intl Freight Forwarding Agency Guangzhou Ltd',
          add1: '2701-2702, Yinhua Building, NO.3',
          add2: 'Xingang West Road , Haizhu District,',
          add3: 'Guangzhou, PRC.',
          add4: 'Tel: (8620) 2228-9900    Fax: (8620) 2228-9901',
          foot1:
            '1. FOR RMB,  PLS MAKE CROSSED CHEQUE TO "Elite Int\'l Freight Forwarding Agency (Guangzhou) Ltd."',
          foot2:
            '2. FOR REMITTANCE, PLS TT OR TRANSFER TO  "Elite Int\'l Freight Forwarding Agency (Guangzhou) Ltd."',
          foot3: '   BANK OF CHINA GUANGZHOU TIANHE SUB-BRANCH',
          foot4: '   RMB A/C NO.: 7211 5774 2376',
          foot5: '   HKD A/C NO.: 8250 5096 5108 0930 13',
          foot6: '   USD A/C NO.: 6886 5775 9586',
          foot7:
            '3. All transactions subject to our company’s standard trading conditions (copies available upon',
          foot8:
            '    request), which in certain cases exclude or limit our company’s liability.',
          foot9: '',
          foot10: '',
          showFooter: 'N',
          taxId: '',
        },
        SCHKG: {
          name: 'ELITE INTERNATIONAL TRANSPORTATION - HK LTD',
          add1: 'Room 2705-07, 27/F., Pacific Plaza',
          add2: '410 Des Voeux Road West,',
          add3: 'Hong Kong',
          add4: 'Tel: (852) 2893-2713    Fax: (852) 2893-2073',
          foot1:
            '1. FOR HKD,  PLS MAKE CROSSED CHEQUE TO "ELITE INT\'L TRANSPORTATION - HK LTD."',
          foot2:
            '2. FOR USD,  TT OR TRANSFER TO  "ELITE INT\'L TRANSPORTATION - HK LTD."',
          foot3:
            '   THE HONGKONG AND SHANGHAI BANKING CORPORATION LTD. HAY WAH BLDG. BRANCH',
          foot4: '   USD A/C# 110-0-604287 SWIFT CODE : HSBCHKHHHKH.',
          foot5:
            '3. OR TT BANK OF CHINA (HONG KONG) LTD, JOHNSTON ROAD BRANCH.',
          foot6:
            '   USD A/C# 026-732-92002932 CHIPS UID:101779. NO OFFICIAL RECEIPT WILL BE ISSUED.',
          foot7:
            "4. ALL BUSINESS TRANSACTION IS SUBJECT TO OUR COMPANY'S STANDARD TRADING TERMS &",
          foot8: '   CONDITIONS (OBTAINABLE ON APPLICATION)',
          foot9: '',
          foot10: '',
          showFooter: 'N',
          taxId: '',
        },
        SCTJN: {
          name: 'ELITE INTERNATIONAL LOGISTICS (TIANJIN) LTD.',
          add1: 'ROOM 507 GUO TOU BUILDING',
          add2: 'NO.157 DA GU BEI ROAD, HEPING DISTRICT',
          add3: 'TIANJIN 300040 CHINA',
          add4: 'Tel: (8622) 23306831    Fax: (8622) 23306823',
          foot1: '1. TELEGRAPHIC TRANSFER TO:',
          foot2: '   ELITE INTERNATIONAL LOGISTICS (TIANJIN) LTD.',
          foot3: '  Bank of China Tianjin Free Trade Zone Branch',
          foot4: '  A/C: 08878408093014   Swift code:BKCHCNBJ200',
          foot5: '',
          foot6: '2. NO OFFICIAL RECEIPT WILL BE ISSUED.',
          foot7: "3.All business transaction is subject to our company's",
          foot8:
            '  standard trading terms & conditions (obtainable on application)',
          foot9: '',
          foot10: '',
          showFooter: 'N',
          taxId: '',
        },
        SCMALI: {
          name: 'ELITE INTERNATIONAL LOGISTIC (M) SDN BHD',
          add1: 'No. 35A, Jalan Bayu Tinggi 1A,',
          add2: 'Bandar Bukit Tinggi, 41200 Klang,',
          add3: 'Selangor Darul Ehsan, Malaysia',
          add4: 'Tel: (603) 3325 9228   Fax: (603) 3325 9982',
          foot1: '1. PLEASE ISSUE CROSSED CHEQUE PAYABLE TO:',
          foot2: '   ELITE INTERNATIONAL LOGISTIC (M) SDN BHD',
          foot3: '2. OR TT TO: RHB BANK BHD (PORT KLANG BRANCH)',
          foot4: '    PERSIARAN RAJA MUDA MUSA 4200 PORT KLANG',
          foot5: '   SELANGOR DARUL EHSAN',
          foot6:
            '   ACCOUNT NO: 21207700067543.  NO OFFICIAL RECEIPT WILL BE ISSUED.',
          foot7:
            '3. All transactions subject to our company’s standard trading conditions (copies available upon',
          foot8:
            '    request), which in certain cases exclude or limit our company’s liability.',
          foot9: '',
          foot10: '',
          showFooter: 'N',
          taxId: '001823969280',
        },
        SAUDI: {
          name: 'Elite Saudi Arabia',
          add1: '',
          add2: '',
          add3: '',
          add4: '',
          foot1: '',
          foot2: '',
          foot3: '',
          foot4: '',
          foot5: '',
          foot6: '',
          foot7: '',
          foot8: '',
          foot9: '',
          foot10: '',
          showFooter: 'Y',
          taxId: '',
        },
        SCSHI: {
          name: "Elite Int'l Freight Forwarding Agency(GZ)Ltd. Br.",
          add1: 'Room 1906,19F, Modern Communications Business Bldg',
          add2: '218 Hengfeng Road, Shanghai 200070',
          add3: '',
          add4: 'Tel: 0086-021-61529088   Fax: 0086-021-61529089',
          foot1: '1. Please pay to the following account:',
          foot2:
            "  Holder: Elite Int'l Freight Forwarding Agency (Guangzhou) Limited Shanghai Branch",
          foot3: '  Opening Bank: Bank of China Shanghai Branch',
          foot4: '  Account No.: 444268488089',
          foot5: '  SWIFT Code: BKCHCNBJ300',
          foot6: '2. NO OFFICIAL RECEIPT WILL BE ISSUED.',
          foot7: "3.All business transaction is subject to our company's",
          foot8:
            '  standard trading terms & conditions (obtainable on application)',
          foot9: '',
          foot10: '',
          showFooter: 'N',
          taxId: '',
        },
        SCSHY: {
          name: 'Yitli Transportation Shanghai Ltd',
          add1: 'Room 1906,19F, Modern Communications Business Bldg',
          add2: '218 Hengfeng Road, Shanghai 200070',
          add3: 'CHINA',
          add4: 'Tel: (8621) 61529088    Fax: (8621) 61529089',
          foot1: '1. PLEASE ISSUE CROSSED CHEQUE PAYABLE TO:',
          foot2: 'ELITE TRANSPORTATION SHANGHAI LTD',
          foot3: '2. OR TELEGRAPHIC TRANSFER TO: 808009769008091014',
          foot4: '3. NO OFFICIAL RECEIPT WILL BE ISSUED.',
          foot5: "4.All business transaction is subject to our company's",
          foot6:
            '  standard trading terms & conditions (obtainable on application)',
          foot7: '',
          foot8: '',
          foot9: '',
          foot10: '',
          showFooter: 'N',
          taxId: '',
        },
        APPDATA: {
          name: 'ELITE INTERNATIONAL LOGISTICS (S) PTE LTD',
          add1: '2 LENG KEE ROAD',
          add2: '#05-05 THYE HONG CENTRE',
          add3: 'SINGAPORE 159086',
          add4: 'Tel: (65) 6471-7588  Fax: (65) 6473-8991  Business Reg. No. 199603700R',
          foot1: '1. PLEASE ISSUE CROSSED CHEQUE PAYABLE TO:',
          foot2: '   ELITE INTERNATIONAL LOGISTICS SINGAPORE PTE LTD',
          foot3:
            '2. OR TELEGRAPHIC TRANSFER TO: THE DEVELOPMENT BANK OF SINGAPORE LTD,',
          foot4:
            '    Harbourfront Branch, 1 Maritime Square, Harbourfront Centre, #02-122/123, S(099253)',
          foot5:
            '   USD A/C NO. 0012-000020-01-4-022 ; EUR A/C NO. 0003-015114-01-3   SWIFT CODE: DBSSSGSG',
          foot6:
            '   SGD A/C NO. 012-011613-6. NO OFFICIAL RECEIPT WILL BE ISSUED. ',
          foot7:
            "3. All transactions are subject to Singapore Logistics Association's Standard Trading Conditions,",
          foot8: '    a copy of which is available upon request.',
          foot9:
            '4. Interest of 2% per month will be charged on overdue accounts calculated',
          foot10: '    from due date till date of actual payment',
          showFooter: 'Y',
          taxId: '19-9603700-R',
        },
        SCTWN: {
          name: 'ELITE INTERNATIONAL LOGISTICS MANAGEMENT LTD',
          add1: '10F-17, No.57, Sec. 1',
          add2: 'Chongqing S. Rd., Taipei City 100',
          add3: 'Taiwan (R.O.C.)',
          add4: 'Tel: (886) 2-2311-1367  Fax: (886) 2-2311-1303  Business Reg. No.',
          foot1: '1. PLEASE ISSUE CROSSED CHEQUE PAYABLE TO:',
          foot2: '   ELITE INTERNATIONAL LOGISTICS MANAGEMENT LTD',
          foot3:
            '2. OR TELEGRAPHIC TRANSFER TO: Mizuho Bank, No.167, Dunhua N. Rd.,',
          foot4: '   Songshan District, Taipei City 105,Taiwan (R.O.C.), ',
          foot5: '   Swift Code: 0200017, TWD A/C NO. 001-001-0050344-3',
          foot6:
            '   USD A/C NO. 001-001-0150334-7   NO OFFICIAL RECEIPT WILL BE ISSUED.',
          foot7:
            '3. All transactions subject to our company’s standard trading conditions (copies available upon',
          foot8:
            '    request), which in certain cases exclude or limit our company’s liability.',
          foot9: '',
          foot10: '',
          showFooter: 'N',
          taxId: '',
        },
        SCTHA: {
          name: 'ELITE INTERNATIONAL LOGISTICS (THAILAND) CO., LTD.',
          add1: '444 TAREU RD., PORT AUTHORITY OF THAILAND',
          add2: 'BUILDING B, 5TH FLOOR, ROOM 5/1-3',
          add3: 'KLONGTOEY, BANGKOK 10110, THAILAND',
          add4: 'Tel: (662) 240-3607/8    Fax: (662) 240-3609',
          foot1: '1. PLEASE ISSUE CROSSED CHEQUE PAYABLE TO:',
          foot2: '   ELITE INTERNATIONAL LOGISTICS (THAILAND) CO., LTD.',
          foot3: '2. OR TELEGRAPHIC TRANSFER TO:',
          foot4:
            '   The Siam Commercial Bank PCL, Rama 4 ( Sirinrat Bldg ) Branch, Bangkok, Thailand',
          foot5: '   Current Account No. (THB) : 096-3-01229-3',
          foot6: '   Swift Code : SICOTHBK',
          foot7: '3. NO OFFICIAL RECEIPT WILL BE ISSUED.',
          foot8:
            '4. All transactions subject to our company’s standard trading conditions (copies available upon',
          foot9:
            '    request), which in certain cases exclude or limit our company’s liability.',
          foot10: '',
          showFooter: 'N',
          taxId: '0105546071183 / 00000',
        },
        SCEFS: {
          name: 'E Freight Services Inc.',
          add1: '3050 Post Oak Blvd, Ste 1780',
          add2: 'Houston, TX 77056 ',
          add3: 'Tel. No. 832-224-4672',
          add4: '',
          foot1: '1. PLEASE ISSUE CROSSED CHEQUE PAYABLE TO:',
          foot2: '    E LOGISTICS INC',
          foot3: '2. OR TELEGRAPHIC TRANSFER TO: COMERICA BANK',
          foot4: '    P.O. BOX 650282 DALLAS, TX 75265-0282',
          foot5:
            '    USD A/C NO. 1882320987 SWIFT CODE: MNBDUS33 ABA CODE: 111000753',
          foot6: '    NO OFFICIAL RECEIPT WILL BE ISSUED.',
          foot7:
            '3. INTEREST OF 2% WILL BE CHARGED ON OVERDUE ACCOUNTS CALCULATED',
          foot8: '    FROM DUE DATE TILL DATE OF ACTUAL PAYMENT',
          foot9: '',
          foot10: '',
          showFooter: 'Y',
          taxId: '',
        },
        SCETS: {
          name: 'ETS EXPRESS PTE LTD',
          add1: '2 LENG KEE ROAD',
          add2: '#05-05 THYE HONG CENTRE',
          add3: 'SINGAPORE',
          add4: 'Tel: (65) 6471-7588  Fax: (65) 6473-8991  Business Reg. No. 199908309H',
          foot1: '1. PLEASE MADE CROSSED CHEQUE PAYABLE TO:',
          foot2: '   ETS EXPRESS PTE LTD',
          foot3:
            '2. OR TELEGRAPHIC TRANSFER TO: THE DEVELOPMENT BANK OF SINGAPORE LTD,',
          foot4:
            '   Queensway Branch, Blk 123 Bukit Merah Lane 1, #01-78 Alexandra Village, S(150123)',
          foot5: '   USD A/C NO. 0006-000314-01-6-022  SWIFT CODE:DBSSSGSG',
          foot6:
            '   SGD A/C NO. 006-900560-2. NO OFFICIAL RECEIPT WILL BE ISSUED.',
          foot7:
            '3. All transactions subject to our company’s standard trading conditions (copies available upon',
          foot8:
            '    request), which in certain cases exclude or limit our company’s liability.',
          foot9: '',
          foot10: '',
          showFooter: 'N',
          taxId: '19-9908309-H',
        },
        BEEPF: {
          name: 'Elite Paloume Forwarders',
          add1: 'Viaduct Dam 106',
          add2: 'B-2060 Antwerpen',
          add3: '',
          add4: 'Tel: 32 (0)3 5415132, Fax: 32 (0)3 5412014,Email: info@elite-ant.be',
          foot1: ' ',
          foot2: '  ',
          foot3:
            ' ',
          foot4:
            '   ',
          foot5: '   ',
          foot6:
            '   ',
          foot7:
            ' ',
          foot8:
            '    ',
          foot9: '',
          foot10: '',
          showFooter: 'N',
          taxId: ' ',
        },
        FRELH: {
          name: 'Elite Le Havre Sarl',
          add1: 'Société à responsabilité au capital de 50.000 Euros',
          add2: '6, quai LamandÃ©, FR-76600 Le Havre',
          add3: '',
          add4: 'Tel: 33 2 32749090,Email: info@elite-ant.be',
          foot1: ' ',
          foot2: '  ',
          foot3:
            ' ',
          foot4:
            '   ',
          foot5: '   ',
          foot6:
            '   ',
          foot7:
            ' ',
          foot8:
            '    ',
          foot9: '',
          foot10: '',
          showFooter: 'N',
          taxId: ' ',
        },
        ESESL: {
          name: 'Elite Spain Logistic, S.L.',
          add1: 'Viaduct Dam 106, B-2060 Antwerpen',
          add2: '',
          add3: '',
          add4: 'Tel: 32 (0)3 5415132, Fax: 32 (0)3 5412014,Email: info@elite-ant.be',
          foot1: ' ',
          foot2: '  ',
          foot3:
            ' ',
          foot4:
            '   ',
          foot5: '   ',
          foot6:
            '   ',
          foot7:
            ' ',
          foot8:
            '    ',
          foot9: '',
          foot10: '',
          showFooter: 'N',
          taxId: ' ',
        },
      },
    }
  },
}
</script>
