<style>
label.select {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.excel {
  color: green;
  cursor: pointer;
}

.table-link {
  color: #0d2d7c;
  width: 35px;
  word-wrap: break-word;
}

input.select {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  overflow: hidden;
}

.black-header {
  border-color: #eaeff0;
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.black-header > td {
  white-space: nowrap;
  overflow: hidden;
  line-height: 45px;
}

.black-header > a > i {
  padding-right: 10px;
}

.black-header.select {
  padding-right: 10px;
}

textarea {
  resize: none;
  width: 200px;
  height: 62px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  vertical-align: top;
}

.centered-table > tbody > tr > td {
  vertical-align: middle !important;
  text-align: center;
}

.table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.blue-table {
  background-color: #eaf5ff;
}

.status {
  height: 30px;
  font-size: 14px;
  padding-top: 8px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
}
</style>

<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <span class="pull-right excel" @click="xls()"
          ><i class="fa fa-2x fa-arrow-down" aria-hidden="true"></i
          ><i class="fa fa-2x fa-file-excel-o" area-hidden="true"></i
        ></span>
        <div class="table-responsive" style="min-height: 750px">
          <table
            id="invoice"
            class="centered-table table table-bordered table-striped blue-table"
            cellspacing="1"
          >
            <thead>
              <tr class="black-header">
                <td>
                  <label class="select">
                    <input
                      type="checkbox"
                      class="select"
                      :checked="selectAll"
                      id="select"
                      @click="selectDisplayed"
                  /></label>
                </td>
                <td>Invoice #</td>
                <td>Invoice Date</td>
                <td>ATD Date</td>
                <td>Job #</td>
                <td>SO #</td>
                <td>Export Ref #</td>
                <td>BL #</td>
                <td>Amount (Currency)</td>
                <td>GST</td>
                <td>Total Amount</td>
                <td>Status</td>
                <td>View</td>
                <td>Last Action</td>
                <td>Bill to Party</td>
                <td>Type</td>
                <td>Transaction Date</td>
                <td>Transaction Number</td>
              </tr>
            </thead>
            <tbody>
              <template v-for="(bundle, index) in invoices">
                <tr :key="bundle.Invoice_Number">
                  <td>
                    <input
                      type="checkbox"
                      :value="bundle"
                      :disabled="bundle.Inv_Status == 'Rejected'"
                      v-model="selectedInvoices"
                    />
                  </td>
                  <td>
                    {{ bundle.Invoice_Number }}
                    <a
                      v-if="bundle.consolidated"
                      @click="expanded = expanded === index ? null : index"
                      ><i
                        class="fa"
                        style="color: #42bced !important"
                        :class="[
                          expanded === index
                            ? 'fa-arrow-down'
                            : 'fa-arrow-right',
                        ]"
                      ></i>
                    </a>
                  </td>
                  <td>{{ bundle.Invoice_Date | formatDate }}</td>
                  <td>{{ bundle.Actual_Sail_Date | formatDate }}</td>
                  <td>{{ bundle.Job_Number }}</td>
                  <td>{{ bundle.Reference_Number }}</td>
                  <td>{{ bundle.Elite_Ref.split('-')[0] }}</td>
                  <td>{{ bundle.OBL }}</td>
                  <td>
                    {{ bundle.Currency }}
                    {{ Number(bundle.Inv_Total_A_Amt).toFixed(2) }}
                  </td>
                  <td>
                    {{
                      bundle.consolidated
                        ? bundle.invoice
                            .reduce(
                              (a, b) =>
                                (a += b.Inv_Total_GST_Amt - b.Inv_Total_A_Amt),
                              0
                            )
                            .toFixed(2)
                        : calcGST(bundle)
                    }}
                  </td>
                  <td> {{Number(bundle.Inv_Total_GST_Amt).toFixed(2) }} </td>
                  <td>
                    <span
                      class="badge badge-pill status"
                      :class="colors[bundle.Inv_Status]"
                      >{{ bundle.Inv_Status }}
                    </span>
                  </td>
                  <td v-if="!bundle.consolidated">
                    <b-button-group>
                      <a
                        class="table-link"
                        @click="showPNL(bundle)"
                        variant="primary"
                      >
                        <i class="fa fa-file-o theme-dark-blue"></i>P&amp;L</a
                      >
                      <a
                        class="table-link"
                        @click="showINV(bundle)"
                        variant="warning"
                        ><i class="fa fa-file-text-o theme-dark-blue"></i
                        >&nbsp;INV</a
                      >
                      <a
                        class="table-link"
                        v-if="bundle.Inv_Status === 'Rejected'"
                        @click="showRejectRemarks(bundle)"
                        >Show Notes</a
                      >
                    </b-button-group>
                  </td>
                  <td v-else>
                    <b-button-group>
                      <a
                        style="color: #0d2d7c; font-weight: bold; padding: 4px"
                        v-show="bundle.Inv_Status === 'Rejected'"
                        @click="showRejectRemarks(bundle)"
                        >Show Notes</a
                      >
                    </b-button-group>
                  </td>
                  <td>
                    <a @click="showBlameTime(bundle)">{{ bundle.blame }}</a>
                  </td>
                  <td>{{ bundle.Bill_to_Party }}</td>
                  <td>{{ bundle.Proforma_Type }}</td>
                  <td @click="dateBundle = bundle">
                    <datepicker
                      :disabled="
                        bundle.Inv_Status !== 'Approved' || role !== 'Submit'
                      "
                      v-model="bundle.Transaction_Invoice_Date"
                      @input="updateInvoiceDate"
                    ></datepicker>
                  </td>
                  <td>{{ bundle.Transaction_Number }}</td>
                </tr>
                <template v-if="expanded === index">
                  <tr
                    v-for="invoice in bundle.invoice"
                    :key="invoice.Invoice_Number"
                  >
                    <td></td>
                    <td>
                      {{ invoice.Invoice_Number }}
                    </td>
                    <td>{{ invoice.Invoice_Date | formatDate }}</td>
                    <td>{{ invoice.Actual_Sail_Date | formatDate }}</td>
                    <td>{{ invoice.Job_Number }}</td>
                    <td>{{ invoice.Reference_Number }}</td>
                    <td>{{ invoice.Elite_Ref.split('-')[0] }}</td>
                    <td>{{ invoice.OBL }}</td>
                    <td>
                      {{ invoice.Currency }}
                      {{ Number(invoice.Inv_Total_A_Amt).toFixed(2) }}
                    </td>
                    <td>{{ calcGST(invoice) }}</td>
                    <td>
                      <span
                        class="badge badge-pill status"
                        :class="colors[bundle.Inv_Status]"
                        >{{ bundle.Inv_Status }}
                      </span>
                    </td>
                    <td>
                      <b-button-group>
                        <a
                          class="table-link"
                          @click="showPNL(invoice)"
                          variant="primary"
                        >
                          <i class="fa fa-file-o theme-dark-blue"></i>P&amp;L</a
                        >
                        <a
                          class="table-link"
                          @click="showINV(invoice)"
                          variant="warning"
                          ><i class="fa fa-file-text-o theme-dark-blue"></i
                          >&nbsp;INV</a
                        >
                        <a
                          class="table-link"
                          v-if="invoice.Inv_Status === 'Rejected'"
                          @click="showRejectRemarks(invoice)"
                          >Show Notes</a
                        >
                      </b-button-group>
                    </td>
                    <td> </td>
                      <td> </td>
                    <td>{{ bundle.Bill_to_Party }}</td>
                   
                  </tr>
                </template>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <pnl
      v-if="visiblePNL"
      :propl="pro_pl"
      :paypl="pay_pl"
      :info="invoiceInfo"
      @close="
        () => {
          visiblePNL = false
        }
      "
    ></pnl>
    <invoiceDetails
      :pl="pro_pl"
      :customer="child"
      :info="invoiceInfo"
      v-if="visibleInvoice"
      @close="
        () => {
          visibleInvoice = false
        }
      "
    ></invoiceDetails>
    <div class="row fixed" v-if="selectedInvoices.length !== 0">
      <div class="col-md-12 fixed">
        <button
          class="blu-btn tbl-btn"
          @click="approveInvoices(selectedInvoices)"
        >
          {{ role }}
        </button>
        <button
          class="btn-danger tbl-btn"
          @click="
            () => {
              showReject = !showReject
            }
          "
        >
          Reject
        </button>
        <textarea
          :disabled="rejectReason.length >= 300"
          v-model="rejectReason"
          placeholder="Please add a reason"
          v-show="showReject"
        />
        <button
          v-show="showReject"
          class="button-verify tbl-btn"
          @click="rejectInvoices(selectedInvoices)"
        >
          Submit
        </button>
        <button
          v-if="reviewerConsolidated"
          class="button-consolidate tbl-btn"
          @click="bundleInvoices(selectedInvoices)"
        >
          Consolidate
        </button>
        <button
          v-if="splitable"
          class="button-consolidate tbl-btn"
          @click="unConsolidate(selectedInvoices)"
        >
          Un-Consolidate
        </button>
        <div class="stats pull-right">
          <h3>Total Selected: {{ selectedInvoices.length }}</h3>
          <h3>Total Amount: {{ runningAmount }}</h3>
        </div>
      </div>
    </div>
    <error
      v-if="showError"
      @close="
        () => {
          showError = false
        }
      "
    >
      <h3 slot="header">Rejection Reasons</h3>
      <p slot="body">{{ rejectRemarks }}</p>
    </error>
  </div>
</template>

<script>
import invoiceDetails from './invoiceDetails'
import datepicker from 'vuejs-datepicker'
import { mapMutations } from 'vuex'
import pnl from './pnl'
import error from './error'
import * as proformaService from '../services/proformaService'
import * as payableService from '../services/payableService'
import alasql from 'alasql'
import XLSX from 'xlsx'
alasql.utils.isBrowserify = false
alasql.utils.global.XLSX = XLSX
export default {
  name: 'invoiceTable',
  components: {
    invoiceDetails,
    pnl,
    error,
    datepicker
  },
  props: [
    'invoices',
    'parent',
    'child',
    'lsr',
    'environment',
    'consolidatedBundles',
    'displayConsolidated'
  ],
  watch: {
    child() {
      this.selectedInvoices = []
    }
  },
  computed: {
    userlist() {
      return this.$store.state.userlist
    },
    runningAmount() {
      let sum = 0
      this.selectedInvoices.forEach(e => {
        sum += Number(e.Inv_Total_GST_Amt)
      })
      return sum.toFixed(2)
    },
    username() {
      return this.$store.state.user.id
    },
    blameColumn() {
      const columns = {
        0: 'Review_User',
        1: 'Approve_User',
        2: 'Submit_User'
      }
      return columns[this.$store.state.theme]
    },
    role() {
      const actions = {
        0: 'Submit for Approval',
        1: 'Approve',
        2: 'Submit'
      }
      return actions[this.$store.state.theme]
    },
    reviewerConsolidated() {
      this.selectedInvoices
      this.$store.state.theme
      if (this.selectedInvoices.length > 1 && !this.displayConsolidated) {
        return true
      } else {
        return false
      }
    },
    splitable() {
      this.selectedInvoices
      this.$store.state.theme
      this.invoiceSort
      if (this.expanded) {
        return false
      }
      if (
        this.selectedInvoices.length !== 0 &&
        this.$store.state.theme === 0 &&
        this.displayConsolidated
      ) {
        return true
      } else {
        return false
      }
    },
    updatedState() {
      const updateStates = {
        0: 'Pending',
        1: 'Approved',
        2: 'Submitted',
        5: 'Rejected'
      }
      return updateStates[this.$store.state.theme]
    },
    callback() {
      let hollaback = {
        Environment: this.environment,
        Parent_ID: this.parent.Parent_ID,
        Control_Flag: 'Y'
      }
      if (this.child) {
        hollaback.Child_ID = this.child.Child_ID
      } else {
        hollaback.lsr_No = this.lsr.lsr_No
      }
      return hollaback
    },
    AdditonalQueryParam() {
      let hollaback = {
        Consolidation: false,       
      }
      
      return hollaback
    }
  },
  methods: {
    ...mapMutations(['START_SPINNER', 'STOP_SPINNER']),
    sortByAlphabet() {
      this.$emit('sortByAlphabet')
    },
    sortByNumbers() {
      this.$emit('sortByNumbers')
    },
    updateInvoiceDate(date) {
      const updates = {
        Transaction_Invoice_Date: this.dateBundle.Transaction_Invoice_Date
      }
      const query = {
        Control_Flag: 'Y',
        Invoice_Number: this.dateBundle.Invoice_Number
      }
      this.START_SPINNER()
      proformaService.updateDate(updates, query).then(() => {
        this.STOP_SPINNER()
        this.$dialog
          .alert(`Transaction Date Updated`, { okText: 'Continue' })
          .then(dialog => {
            dialog.close()
          })
      })
    },
    sortInvoice() {
      this.selectedInvoices = []
      this.selectAll = false
      let passup = {
        value: this.invoiceSort,
        displayConsolidated: this.displayConsolidated
      }
      this.expanded = false
      this.$emit('sort', passup)
    },
    calcGST(bundle) {
      return (
        Number(bundle.Inv_Total_GST_Amt) - Number(bundle.Inv_Total_A_Amt)
      ).toFixed(2)
    },
    xls() {
      if (this.displayConsolidated) {
        let flattened = []
        this.selectedInvoices.forEach(e => {
          flattened = flattened.concat(e.invoice)
        })
        alasql('SELECT * INTO XLSX("invoices.xlsx",{headers:true}) FROM ?', [
          flattened
        ])
      } else {
        alasql('SELECT * INTO XLSX("invoices.xlsx",{headers:true}) FROM ?', [
          this.selectedInvoices
        ])
      }
    },
    selectDisplayed(e) {
      this.selectAll = e.target.checked
      if (this.selectAll) {
        this.selectedInvoices = this.invoices
        e.preventDefault()
      } else {
        this.selectedInvoices = []
      }
    },
    showBlameTime(bundle) {
      if (bundle.Inv_Status === 'New') return
      this.$dialog
        .alert(`Last action taken on ${bundle.Updated_On}`, {
          okText: 'Continue'
        })
        .then(dialog => {
          dialog.close()
        })
    },
    showPNL(invoice) {
      this.invoiceInfo = invoice
      this.START_SPINNER()
      let query = {
        Environment: this.environment
      }
      if (Number(invoice.Job_Number) > 1) {
        query.Job_Number = invoice.Job_Number
      } else {
        query.Invoice_Number = invoice.Invoice_Number
      }
      Promise.all([
        payableService.getPayablePL(query),
        proformaService.getProformaPL(query)
      ]).then(values => {
        this.STOP_SPINNER()
        this.pay_pl = values[0].data
        this.pro_pl = values[1].data
        this.visiblePNL = true
      })
    },
    showINV(invoice) {
       
      this.invoiceInfo = invoice
      let query = {
        Invoice_Number: invoice.Invoice_Number,
        Environment: invoice.Environment, 
        Control_Flag:"Y"
      }
      this.START_SPINNER()
      proformaService.getProformaPL(query).then(response => {
        this.STOP_SPINNER()
        this.pro_pl = response.data
        this.visibleInvoice = true
      })
    },
    showRejectRemarks(bundle) {
      this.rejectRemarks = bundle.Reject_Remarks
      this.showError = true
    },
    checkCreds(invoices) {
      let bool = true
       invoices.forEach(e => {
         if (e.Inv_Status === 'Submitted' || e.Inv_Status === 'Rejected') {
           this.$dialog
             .alert(`Invoice Number ${e.Invoice_Number} is ${e.Inv_Status}`, {
               okText: 'Continue'
             })
             .then(dialog => {
               dialog.close()
             })
           bool = false
           return bool
         }
       //  if (this.role === 'Submit') {
         //  if (e.Inv_Status !== 'Approved') {
           //  this.$dialog
            //   .alert(`Invoice Number ${e.Invoice_Number} is ${e.Inv_Status}`, {
            //     okText: 'Continue'
            //   })
           //    .then(dialog => {
           //      dialog.close()
           //    })
          //   bool = false
          //   return bool
         //  }
       //  } else if (this.role === 'Submit for Approval') {
       //    if (e.Inv_Status !== 'New') {
        //     this.$dialog
        //     .alert(`Invoice Number ${e.Invoice_Number} is ${e.Inv_Status}`, {
        //         okText: 'Continue'
         //      })
          //     .then(dialog => {
           //      dialog.close()
           //    })
           //  bool = false
           //  return bool
          // }
        // }
       })
      return bool
    },
    approveInvoices() {
      if (this.selectedInvoices.length < 1) {
        this.$dialog
          .alert(`Nothing is Selected`, { okText: 'Continue' })
          .then(dialog => {
            dialog.close()
          })
        return
      }
      if (!this.checkCreds(this.selectedInvoices)) {
        return
      }
      let proformaType = this.selectedInvoices[0].Proforma_Type
      const set = new Set()
      this.selectedInvoices.forEach(e => {
        set.add(e.Proforma_Type)
        if (e.Proforma_Type !== proformaType) {
          this.$dialog
            .alert(`Invoice Number ${e.Invoice_Number} is not the same type`, {
              okText: 'Continue'
            })
            .then(dialog => {
              dialog.close()
            })
          bool = false
          return
        }
      })
      let updates = {
        Inv_Status: this.updatedState,
        [this.blameColumn]: this.username,
        Updated_On: new Date().toUTCString('DD MMM YYYY'),
        Proforma_Type: this.selectedInvoices[0].Proforma_Type
      }
      let query = {
        Control_Flag: 'Y',
        Environment: this.environment
      }
      if (this.displayConsolidated) {
        let flattened = []
        this.selectedInvoices.forEach(e => {
          flattened.push(e.Invoice_Number)
        })
        query.Consolidation_ID = flattened
      } else {
        query.Invoice_Number = this.selectedInvoices.map(e => {
          return e.Invoice_Number
        })
      }
      if (this.updatedState === 'Submitted') {
        this.$dialog
          .prompt(
            {
              title: 'Submit Invoices',
              body: 'Set Transaction Invoice Date (DD/MM/YYYY)'
            },
            {
              promptHelp: 'Leave blank for today'
            }
          )
          .then(dialog => {
            if (dialog.data) {
              const results = dialog.data.split('/')
              const now = new Date()
              const offset = now.getTimezoneOffset()
              const date = new Date(results[2], results[1] - 1, results[0])
              if (isNaN(date) || date > Date.now()) {
                this.$dialog
                  .alert('Please submit a valid date')
                  .then(dialog => {
                    dialog.close()
                  })
                return dialog.close()
              }
              date.setTime(date.getTime() + offset * 60 * 1000)
              updates.Transaction_Invoice_Date = date
            }
            if (this.displayConsolidated) {
              let flattened = []
              this.selectedInvoices.forEach(e => {
                flattened.push(e.Invoice_Number)
              })
              query.Consolidation_ID = flattened
              flattened.forEach(consolidationID => { 
                query.Consolidation_ID = consolidationID
                this.AdditonalQueryParam.Consolidation =true  
                proformaService
                  .updateProforma(updates, query, this.callback, this.AdditonalQueryParam)
                  .then(response => {
                    dialog.close()
                    this.selectedInvoices = []
                    this.invoiceSort = 'All'
                    let passable = {
                      bundles: response.data,
                      displayConsolidated: this.displayConsolidated
                    }
                    this.$emit('update', passable)
                  })
              })
            } else {
              this.AdditonalQueryParam.Consolidation =false 
              proformaService
                .updateProforma(updates, query, this.callback, this.AdditonalQueryParam)
                .then(response => {
                  dialog.close()
                  this.selectedInvoices = []
                  this.invoiceSort = 'All'
                  let passable = {
                    bundles: response.data,
                    displayConsolidated: this.displayConsolidated
                  }
                  this.$emit('update', passable)
                })
            }
          })
      } else {
        this.$dialog
          .confirm(
            `Are you sure you want to approve these <span style="color:red;">${this.selectedInvoices.length}</span> invoices?`
          )
          .then(dialog => {
            dialog.loading(true)
            proformaService
              .updateProforma(updates, query, this.callback, this.AdditonalQueryParam)
              .then(response => {
                dialog.close()
                this.selectedInvoices = []
                this.invoiceSort = 'All'
                let passable = {
                  bundles: response.data,
                  displayConsolidated: this.displayConsolidated
                }
                this.$emit('update', passable)
              })
          })
          .catch(() => {})
      }
    },
    rejectInvoices() {
      if (this.rejectReason.length === 0) {
        this.$dialog
          .alert(`Please enter a reason`, { okText: 'Continue' })
          .then(dialog => {
            dialog.close()
          })
        return
      }
      if (this.selectedInvoices.length < 1) {
        this.$dialog
          .alert(`Nothing is selected`, { okText: 'Continue' })
          .then(dialog => {
            dialog.close()
          })
        return
      }
      if (!this.checkCreds(this.selectedInvoices)) {
        return
      }
      let query = {
        Control_Flag: 'Y',
        Environment: this.environment
      }
      let updates = {
        Inv_Status: 'Rejected',
        Reject_User: this.username,
        Reject_Remarks: this.rejectReason,
        Consolidation_ID: '',
        Updated_On: new Date().toUTCString('DD MMM YYYY')
      }
      if (this.displayConsolidated && !this.expanded) {
        let flattened = []
        this.selectedInvoices.forEach(e => {
          flattened.push(e.Invoice_Number)
        })
        query.Consolidation_ID = flattened
      } else {
        query.Invoice_Number = this.selectedInvoices.map(e => {
          return e.Invoice_Number
        })
      }
      this.$dialog
        .confirm(
          `Are you sure you want to reject these <span style="color:red;">${this.selectedInvoices.length}</span> invoices?`
        )
        .then(dialog => {
          dialog.loading(true)
          proformaService
            .updateProforma(updates, query, this.callback, this.AdditonalQueryParam)
            .then(response => {
              dialog.close()
              this.selectedInvoices = []
              this.invoiceSort = 'All'
              let passable = {
                bundles: response.data,
                displayConsolidated: this.displayConsolidated
              }
              this.$emit('update', passable)
            })
        })
        .catch(() => {})
    },
    bundleInvoices() {
      if (this.selectedInvoices.length < 1) {
        this.$dialog
          .alert(`Nothing is Selected`, { okText: 'Continue' })
          .then(dialog => {
            dialog.close()
          })
        return
      }
      if (!this.checkCreds(this.selectedInvoices)) {
        return
      }
      let currency = this.selectedInvoices[0].Currency
      let paymentTerms = this.selectedInvoices[0].Term_ID
      let proformaType = this.selectedInvoices[0].Proforma_Type
      let bool = true
      const set = new Set()
      this.selectedInvoices.forEach(e => {
        set.add(e.Proforma_Type)
        if (e.Proforma_Type !== proformaType) {
          this.$dialog
            .alert(`Invoice Number ${e.Invoice_Number} is not the same type`, {
              okText: 'Continue'
            })
            .then(dialog => {
              dialog.close()
            })
          bool = false
          return
        }
        if (e.Currency !== currency) {
          this.$dialog
            .alert(
              `Invoice Number ${e.Invoice_Number} is a different currency`,
              { okText: 'Continue' }
            )
            .then(dialog => {
              dialog.close()
            })
          bool = false
          return
        }
        if (e.Term_ID !== paymentTerms) {
          this.$dialog
            .alert(
              `Invoice Number ${e.Invoice_Number} has different payment terms.`,
              { okText: 'Continue' }
            )
            .then(dialog => {
              dialog.close()
            })
          bool = false
          return
        }
      })
      if (!bool) {
        return
      }
      let query = {
        Invoice_Number: this.selectedInvoices.map(e => {
          return e.Invoice_Number
        }),
        Control_Flag: 'Y',
        Environment: this.environment
      }
      let updates = {}
      this.$dialog
        .confirm(
          `Are you sure you want to bundle ${this.selectedInvoices.length} out of ${this.invoices.length} invoices?`
        )
        .then(dialog => {
          dialog.loading(true)
          proformaService
            .bundleProforma(updates, query, this.callback)
            .then(response => {
              dialog.close()
              this.selectedInvoices = []
              let passable = {
                bundles: response.data,
                displayConsolidated: this.displayConsolidated
              }
              this.$emit('update', passable)
            })
        })
    },

    //Mantis 0013874

    unConsolidate() {
      console.log('unConsolidate')
      //console.log(this.selectedInvoices)

      var stop_unconsolidate = 'NO'

      //Loop Through Invoices and get Status
      for (var i = 0; i < this.selectedInvoices.length; i++) {
        console.log(this.selectedInvoices[i].Inv_Status)

        if (this.selectedInvoices[i].Inv_Status == 'Submitted') {
          stop_unconsolidate = 'YES'
        }
      }

      console.log('FLAG TO STOP UN-CONSOLIDATION: ' + stop_unconsolidate)
      //Loop Through Invoices and get Status End

      if (this.selectedInvoices.length < 1) {
        this.$dialog
          .alert(`Nothing is Selected`, { okText: 'Continue' })
          .then(dialog => {
            dialog.close()
          })
        return
      } else if (stop_unconsolidate == 'YES') {
        this.$dialog
          .alert(
            `Invoices Selected Already Submitted, Un-Consolidation Not Allowed!`,
            { okText: 'Close' }
          )
          .then(dialog => {
            dialog.close()
          })
        return
      }

      let query = {
        Consolidation_ID: this.selectedInvoices.map(e => {
          return e.Invoice_Number
        }),
        Control_Flag: 'Y',
        Environment: this.environment
      }
      let updates = {
        Consolidation_ID: '',
        Inv_Status: 'New'
      }

      this.$dialog
        .confirm(
          `Are you sure you want to split these <span style="color:red;">${this.selectedInvoices.length}</span> invoices?`
        )
        .then(dialog => {
          proformaService
            .updateProforma(updates, query, this.callback, this.AdditonalQueryParam)
            .then(response => {
              dialog.close()
              this.selectedInvoices = []
              this.displayConsolidated = false
              let passable = {
                bundles: response.data,
                displayConsolidated: this.displayConsolidated
              }
              this.$emit('update', passable)
            })
        })
    }
  },

  //Mantis 0013874 End

  data() {
    return {
      invoiceInfo: null,
      selectedInvoices: [],
      expanded: null,
      pay_pl: {},
      pro_pl: {},
      showConfirm: false,
      confirmed: false,
      showReject: false,
      rejectReason: '',
      rejectRemarks: '',
      detailPnl: '',
      states: {
        0: 'New',
        1: 'Pending',
        2: 'Approved',
        3: 'Submitted',
        5: 'Rejected'
      },
      displayedInvoice: null,
      selectAll: false,
      visiblePNL: false,
      visibleInvoice: false,
      invoiceSort: 'All',
      time1: null,
      rejectionMessage: '',
      showError: false,
      colors: {
        New: 'new',
        Pending: 'pending',
        Approved: 'approved',
        Submitted: 'submitted',
        Rejected: 'reject'
      },
      dateBundle: null
    }
  }
}
</script>
