<style lang="scss">
.login-btn {
  margin: 0;
  top: 10px;
}
#background-image {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: auto !important;
  z-index: -10;
  background-repeat: no-repeat;
}

#login-container {
  background: transparent;
  position: fixed;
  left: 35% !important;
  right: 50% !important;
  top: 30% !important;
  bottom: 50% !important;

  width: 600px;
}
.login-btn {
  color: white;
  background-color: blue;
  width: 500px !important;
  height: 50px !important;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
.h1,
h1 {
  font-size: 2.9rem;
  text-align: center;
  color: white;
}
[role='button'],
a,
area,
button,
input:not([type='range']),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 40px !important;
}
.list-group-item {
  width: 500px;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.login-logo {
  width: 25%;
  position: fixed;
}
.app-header-fixed {
  padding-top: 0px !important;
}
//video{
// object-fit: cover;
// width: 100vw;
// height: 100vh;
// position: fixed;
// top: 0;
// left: 0;
//}
#EliteVideo {
  width: 100vw;
  height: 100vh;
  -right: 0;
  -bottom: 0;
  -min-width: 100%;
  -min-height: 100%;
  z-index: -1;
  overflow: hidden;
}
</style>

<template>
  <div class="app app-header-fixed">
    <div>
      <a class="block text-top"
        ><img class="login-logo" src="assets/logoTransparent.png"
      /></a>
    </div>
    <div id="background-image"></div>
    <video autoplay muted loop id="EliteVideo">
      <source src="assets/login.mp4" type="video/mp4" />
    </video>
    <div
      class="w-xxl w-auto-xs col-lg-5 col-sm-12 pull-right"
      id="login-container"
    >
      <div class="">
        <h2 style="color: white">Finance Management Application</h2>

        <div class="">
          <div class="text-center">
            <h4 class="error" v-show="error">{{ error }}</h4>
          </div>

          <br />
          <div>
            <div class="list-group-item">
              <input
                type="text"
                placeholder="Username"
                v-if="!toggle"
                class="form-control no-border"
                v-model="credentials.username"
              />
              <input
                type="text"
                placeholder="Username"
                v-if="toggle"
                class="form-control no-border"
                v-model="credentials.username"
              />
            </div>
            <div class="list-group-item m-t">
              <input
                type="password"
                @keyup.enter="login()"
                v-if="!toggle"
                placeholder="Password"
                class="form-control no-border"
                v-model="credentials.password"
              />

              <input
                type="email"
                @keyup.enter="forgotPassword()"
                v-if="toggle"
                placeholder="Email"
                class="form-control no-border"
                v-model="credentials.email"
              />
            </div>
          </div>
          <br />
          <button
            @click="login()"
            v-if="!toggle"
            class="login-btn btn btn-lg btn-block m-t"
          >
            Login
          </button>
          <button
            @click="forgotPassword()"
            v-if="toggle"
            class="login-btn btn btn-lg btn-block m-t"
          >
            Reset Password
          </button>
          <div class="line line-dashed"></div>

          <div class="text-center">
            <a
              @click="toggle = !toggle"
              style="color: white; padding-right: 60px"
              >{{ toggle ? 'Login' : 'Forgot Password' }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as userService from '../services/userService'
import { mapMutations } from 'vuex'
import axios from 'axios'

export default {
  name: 'login',
  methods: {
    ...mapMutations(['SET_USER', 'START_SPINNER', 'STOP_SPINNER']),
    login() {
      axios
        .post('/login', this.credentials)
        .then(response => {
          this.SET_USER(response.data)
          this.$router.push('/')
        })
        .catch(err => {
          console.log(err)
          this.error = err.message
        })
    },
    forgotPassword() {
      userService
        .forgotPassword(this.credentials)
        .then(() => {
          this.error = 'Your Password has been reset'
        })
        .catch(err => {
          this.error = err.message
        })
    }
  },
  mounted() {
    //let array = ['assets/istockphoto-1132555804-640_adpp_is.mp4', 'assets/zoey.jpg', 'assets/nichole.jpg','assets/spinner1.jpg']
    //document.getElementById('background-image').style.background = `url(${
    //array[Math.floor(Math.random() * 3)]
    //})`
  },
  created() {},
  data() {
    return {
      credentials: {},
      error: null,
      toggle: false
    }
  }
}
</script>
