<style>
.text-left {
  text-align: left;
}
.sem-header {
  width: 100%;
}
.logo {
  font-size: 18px;
}
.navbar {
  padding: 0 0 5px 0;
}
.reset-password {
  font-size: 14px;
  font-weight: bold;
}
a.reset-password {
  height: auto !important;
}
</style>
<template>
  <header id="header" class="app-header navbar">
    <!-- navbar collapse -->
    <div class="top-header clear full-width">
      <!-- buttons -->
      <div class="col-md-1 col-sm-1 float-left">
        <img src="assets/Elite_logo.jpg" style="max-width: 135px" />
      </div>
      <div class="col-md-7 col-sm-4 col-xs-6 maintag float-left text-left">
        <span
          class="theme-dark-blue"
          style="
            padding-left: 20px;
            border-left: 2px solid rgb(113, 113, 113);
            margin-left: 20px;
          "
          >Finance Application </span
          
        >
        
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6 logouttag float-left">
        <div
          class="user-type theme-dark-blue"
          style="border-right: 2px solid #717171; display: inline"
        >
          {{ user.username }}
        </div>
        <a
          href="https://s3.amazonaws.com/elite.invoice.portal.bucket/1516102909667"
          target="_blank"
          ><i class="fa fa-question-circle" aria-hidden="true"></i
        ></a>
        <a style="margin-right: 15px"></a> <a @click="logout()"> Logout</a>
      </div>
      <!-- / buttons -->
    </div>
    <div
      class="sem-header semi-title clear full-width"
      style="background-color: #009ddc; font-weight: 200"
    >
      <span class="active-bredc"
        ><router-link to="/">Dashboard</router-link></span
      >
      <span class="active-bredc"
        ><router-link to="/proforma">PROFORMA</router-link></span
      >
      <span class="active-bredc"
        ><router-link to="/payable">PAYABLE</router-link></span
      >
      <span class="active-bredc"
        ><router-link to="/tax">Tax Invoice</router-link></span
      >
      <span class="active-bredc"
        ><router-link to="/reports">REPORTS</router-link></span
      >
      <span v-if="user.admin" class="active-bredc"
        ><router-link to="/admin">ADMIN</router-link></span
      >
      <a class="pull-right reset-password" @click="reset">Reset Password</a>
      <reset
        v-if="showReset"
        @close="
          () => {
            this.showReset = false
          }
        "
      ></reset>
    </div>
    <!-- / navbar collapse -->
  </header>
</template>

<script>
import { mapMutations } from 'vuex'
import reset from './resetPassword'
import axios from 'axios'
export default {
  name: 'navbar',
  components: { reset },
  created() {},
  computed: {
    theme() {
      const style = {
        0: 'ylo-title',
        1: 'org-title',
        2: 'blu-title'
      }
      return style[this.$store.state.theme]
    },
    user() {
      console.log(this.$store.getters.user)
      return this.$store.getters.user
    }
  },
  methods: {
    ...mapMutations(['LOGOUT']),
    navigate() {},
    reset() {
      this.showReset = true
    },
    close() {
      this.showReset = false
    },
    logout() {
      axios.get('/logout').then(() => {
        this.LOGOUT()
      })

      this.$router.push('/login')
    }
  },
  data() {
    return {
      state: null,
      showReset: false
    }
  }
}
</script>
