<style>
label.select {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.blue-table {
  background-color: #eaf5ff;
}

.excel {
  color: green;
  cursor: pointer;
}

.table-link {
  color: #0d2d7c;
  width: 35px;
  word-wrap: break-word;
}

input.select {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  overflow: hidden;
}

.black-header {
  border-color: #eaeff0;
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.black-header > td {
  white-space: nowrap;
  overflow: hidden;
  line-height: 45px;
}

.black-header > a > i {
  padding-right: 10px;
}

.black-header.select {
  padding-right: 10px;
}

textarea {
  resize: none;
  width: 200px;
  height: 62px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  vertical-align: top;
}
.centered-table > tbody > tr > td {
  vertical-align: middle !important;
  text-align: center;
}

.table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.status {
  height: 30px;
  font-size: 14px;
  padding-top: 8px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
}
.uploaddock {
  background: #f00;
  padding: 1px 9px;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: normal;
  border-radius: 50px;
}
</style>

<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <span class="pull-right excel" @click="xls()"
          ><i class="fa fa-2x fa-arrow-down" aria-hidden="true"></i
          ><i class="fa fa-2x fa-file-excel-o" area-hidden="true"></i
        ></span>
        <div class="table-responsive" style="min-height: 750px">
          <table
            id="invoice"
            class="
              table table-striped table-bordered table-striped
              blue-table
              tex-u-c
            "
            cellspacing="0"
          >
            <thead>
              <tr class="black-header">
                <td>
                  <label class="select">
                    <input
                      type="checkbox"
                      class="select"
                      :checked="selectAll"
                      id="select"
                      @click="selectDisplayed"
                    />
                  </label>
                </td>
                <td>Document #</td>
                <td>Document Date</td>
                <td>Customer Name</td>
                <td>Base Cost</td>
                <td>GST Amount</td>
                <td>Total Amount</td>
                <td>Status</td>
                <td>Last Action</td>
                <td>Transaction Number</td>
                <td>Transaction Date</td>
                <td>Type</td>
                <td>View</td>
                <td>Attachment</td>
                <td>Edit</td>
              </tr>
            </thead>
            <tbody>
              <template v-for="(doc, index) in documents">
                <tr :key="doc.SupplierInv">
                  <td>
                    <input
                      type="checkbox"
                      :value="doc"
                      v-model="selectedDocs"
                    />
                  </td>
                  <td>{{ doc.SupplierInv }}</td>
                  <td>{{ doc.DOC_DATE | formatDate }}</td>
                  <td>{{ doc.FromPartyName }}</td>
                  <td>{{ Number(doc.Local_Cost).toFixed(2) }}</td>
                  <td>{{ doc.GST_Total }}</td>
                  <td>{{ Number(Number(doc.GST_Total) + Number(doc.Local_Cost)).toFixed(2) }}  </td>
                  <td>
                    <a @click="showRejectRemarks(doc)">
                      <span
                        class="badge badge-pill status"
                        :class="colors[doc.Payable_Status]"
                        >{{ doc.Payable_Status }}
                      </span></a
                    >
                  </td>
                  <td>
                    <a @click="showBlameTime(doc)">{{ doc.blame }}</a>
                  </td>
                  <td>{{ doc.Transaction_Number }}</td>
                  <td>{{ doc.Transaction_Invoice_Date | formatDate }}</td>
                  <td>{{ doc.Payable_Type
                              ? doc.Payable_Type
                              : 'VOUCHER' }}</td>
                  <td>
                    <a @click="getInvoices(doc, index)"
                      ><i
                        class="fa"
                        style="color: #42bced !important"
                        :class="[
                          expanded === index
                            ? 'fa-arrow-down'
                            : 'fa-arrow-right',
                        ]"
                      ></i>
                      Invoice Numbers</a
                    >
                  </td>
                  <td>
                    <a
                      :href="doc.Attachment_URL"
                      v-show="doc.Attachment_URL.length !== 0"
                      target="_blank"
                      >Show Attachment</a
                    >
                  </td>
                  <td>
                    <upload
                      v-if="theme == 0" 
                      :doc="doc"
                      v-show="doc.Payable_Status !='Submitted'"
                      @update="update()"
                    ></upload>
                     <upload
                      v-if="theme == 2" 
                      :doc="doc"
                      v-show="doc.Payable_Status !='Submitted'"
                      @update="update()"
                    ></upload>
                  </td>
                </tr>
                <template v-if="expanded === index">
                  <tr>
                    <td></td>
                    <td>Voucher #</td>
                    <td>Invoice #</td>
                    <td>Job #</td>
                    <td>Status</td>
                    <td>Last Action</td>
                    <td>Base Cost</td>
                    <td>Local Cost</td>
                    <td>PNL</td>
                  </tr>
                  <tr
                    v-for="invoice in invoiceNumbers"
                    :key="invoice.Invoice_Number"
                  >
                    <td></td>
                    <td>{{ invoice.Voucher_Number }}</td>
                    <td class="linkcoloir">{{ invoice.Invoice_Number }}</td>
                    <td>{{ invoice.Job_Number }}</td>
                    <td>
                      <a @click="showRejectRemarks(invoice)">
                        <span
                          class="badge badge-pill status"
                          :class="colors[invoice.Payable_Status]"
                          >{{ invoice.Payable_Status }}
                        </span></a
                      >
                    </td>
                    <td>{{ invoice.blame }}</td>
                    <td> 
                      {{ invoice.Currency }}
                      {{ Number(invoice.TotalGST).toFixed(2) }}
                    </td>
                    <td>
                      {{ invoice.syscurrency }}
                      {{ Number(invoice.LocalAmount).toFixed(2) }}
                    </td>
                    <td>
                      <a @click="showPNL(invoice)"
                        ><i class="fa fa-file-o theme-dark-blue"></i>P&amp;L</a
                      >
                    </td>
                    <pnl
                      v-if="visiblePNL"
                      :propl="pro_pl"
                      :info="invoiceInfo"
                      :paypl="pay_pl"
                      @close="
                        () => {
                          visiblePNL = false
                        }
                      "
                    ></pnl>
                    <td>{{ invoice.Transaction_Number }}</td>
                    <td>{{ invoice.Transaction_Invoice_Date | formatDate }}</td>
                  </tr>
                </template>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row fixed" v-if="selectedDocs.length !== 0">
      <div class="col-md-12">
        <button class="blu-btn tbl-btn" @click="approveInvoices(selectedDocs)">
          {{ role }}
        </button>
        <button
          class="btn-danger tbl-btn"
          @click="
            () => {
              showReject = !showReject
            }
          "
        >
          Reject
        </button>
        <textarea
          v-model="rejectReason"
          :disabled="rejectReason.length >= 300"
          placeholder="Please add a reason"
          v-show="showReject"
        />
        <button
          v-show="showReject"
          class="button-verify tbl-btn"
          @click="rejectInvoices(selectedDocs)"
        >
          Submit
        </button>
        <div class="stats pull-right">
          <h3>Total Selected: {{ selectedDocs.length }}</h3>
          <h3>Total Cost: {{ runningAmount }}</h3>
        </div>
      </div>
    </div>
    <error
      v-if="showError"
      @close="
        () => {
          showError = false
        }
      "
    >
      <h3 slot="header">Rejection Reasons</h3>
      <p slot="body">{{ rejectionMessage }}</p>
    </error>
  </div>
</template>

<script>
import alasql from 'alasql'
import pnl from './pnl'
import error from './error'
import upload from './upload'
import * as payableService from '../services/payableService'
import * as proformaService from '../services/proformaService'
import XLSX from 'xlsx'
alasql.utils.isBrowserify = false
alasql.utils.global.XLSX = XLSX
import { mapMutations } from 'vuex'
export default {
  name: 'payableTable',
  components: {
    error,
    upload,
    pnl
  },
  props: ['documents', 'environment'],
  computed: {
    userlist() {
      return this.$store.state.userlist
    },
    payableSearch() {
      return this.$store.state.payableSearch
    },
    username() {
      return this.$store.state.user.id
    },
    runningAmount() {
      let sum = 0
      this.selectedDocs.forEach(e => {
        sum += Number(e.Local_Cost)
      })
      return sum.toFixed(2)
    },
    blameColumn() {
      const columns = {
        0: 'Review_User',
        1: 'Approve_User',
        2: 'Submit_User'
      }
      return columns[this.$store.state.theme]
    },
    role() {
      const actions = {
        0: 'Submit for Approval',
        1: 'Approve',
        2: 'Submit'
      }
      return actions[this.$store.state.theme]
    },
    theme() {
      return this.$store.state.theme
    },
    updatedState() {
      const updateStates = {
        0: 'Pending',
        1: 'Approved',
        2: 'Submitted',
        5: 'Rejected'
      }
      return updateStates[this.$store.state.theme]
    }
  },
  watch: {
    //invoiceSort(value) {
   //   this.selectedDocs = []
    //  this.selectAll = false
   //   this.$emit('sort', value)
   // }
    documents() { 
      this.selectedDocs = []
    }
  },
  methods: {
    ...mapMutations([
      'SET_DOC_ID',
      'SET_SEARCH',
      'START_SPINNER',
      'STOP_SPINNER'
    ]),
    getInvoices(doc, index) {
      if (index === this.expanded) {
        this.expanded = null
        return
      }
      this.START_SPINNER()

      let query = {
        Environment:this.environment,
        SupplierInv: doc.SupplierInv,
        Control_Flag: 'Y'
      }
      payableService.getPayableInvoices(query).then(response => {
        this.expanded = index
        this.invoiceNumbers = response.data.map(e => {
          let statuses = {
            Pending: 'Review_User',
            Approved: 'Approve_User',
            Submitted: 'Submit_User',
            Rejected: 'Reject_User'
          }
          let blame_id = e[statuses[e.Payable_Status]]
          if (this.userlist[blame_id]) {
            e.blame = this.userlist[blame_id]
          } else {
            e.blame = blame_id
          }
          return e
        })
        console.log(this.invoiceNumbers)
        this.STOP_SPINNER()
      })
    },
    showPNL(invoice) {
      let query = {
        Environment: this.environment
      }
      if (Number(invoice.Job_Number) > 1) {
        query.Job_Number = invoice.Job_Number
      } else {
        query.Invoice_Number = invoice.Invoice_Number
      }
      this.START_SPINNER()
      payableService.getSingleInvoice(query).then(response => {
        this.STOP_SPINNER()
        this.invoiceInfo = response.data[0]
        Promise.all([
          payableService.getPayablePL(query),
          proformaService.getProformaPL(query)
        ]).then(values => {
          this.pay_pl = values[0].data
          this.pro_pl = values[1].data
          this.visiblePNL = true
        })
      })
    },
    xls() {
      if (this.selectedDocs.length === 0) {
        return
      }
      alasql('SELECT * INTO XLSX("invoices.xlsx",{headers:true}) FROM ?', [
        this.selectedDocs
      ])
    },
    selectDisplayed(e) {
      this.selectAll = e.target.checked
      if (this.selectAll) {
        this.selectedDocs = this.documents
        e.preventDefault()
      } else {
        this.selectedDocs = []
      }
    },
    update() {
      this.$emit('update')
    },
    showRejectRemarks(bundle) {
      if (bundle.Payable_Status !== 'Rejected') {
        return
      }
      this.rejectionMessage = bundle.Reject_Remarks
      this.showError = true
    },
    showBlameTime(doc) {
      if (doc.Payable_Status === 'New') return
      this.$dialog
        .alert(`Last action taken on ${doc.Updated_On}`, { okText: 'Continue' })
        .then(dialog => {
          dialog.close()
        })
    },
    checkCreds(invoices, approve) {
      let bool = true
      invoices.forEach(e => {
      //   if (e.Attachment_URL.length === 0 && approve) {
      //     this.$dialog
      //       .alert(`Document Number ${e.SupplierInv} has no Attachment`, {
      //         okText: 'Continue'
      //       })
      //       .then(dialog => {
      //         dialog.close()
      //       })
      //     bool = false
      //     return bool
      //   }
        if (
           e.Payable_Status === 'Submitted' ||
           e.Payable_Status === 'Rejected'
         ) {
          this.$dialog
             .alert(`Document Number ${e.SupplierInv} is ${e.Payable_Status}`, {
              okText: 'Continue'
             })
             .then(dialog => {
               dialog.close()
             })
          bool = false
          return bool
         }
      //   if (this.role === 'Submit') {
      //     if (e.Payable_Status !== 'Approved') {
      //       this.$dialog
      //         .alert(
      //           `Document Number ${e.SupplierInv} is ${e.Payable_Status}`,
      //           { okText: 'Continue' }
      //         )
      //         .then(dialog => {
      //           dialog.close()
      //         })
      //       bool = false
      //       return bool
      //     }
      //   } else if (this.role === 'Submit for Approval') {
      //     if (e.Payable_Status !== 'New') {
      //       this.$dialog
      //         .alert(
      //           `Document Number ${e.SupplierInv} is ${e.Payable_Status}`,
      //           { okText: 'Continue' }
      //         )
      //         .then(dialog => {
      //           dialog.close()
      //         })
      //       bool = false
      //       return bool
      //     }
      //   }
        })
      return bool
    },
    approveInvoices() {
      let updates = {
        Payable_Status: this.updatedState,
        [this.blameColumn]: this.username,
        Updated_On: new Date().toUTCString('DD MMM YYYY')
      }
      let query = {
        Control_Flag: 'Y',
        Environment: this.environment
      }
      if (this.selectedDocs.length < 1) {
        this.$dialog
          .alert(`Nothing is selected.`, {
            okText: 'Continue'
          })
          .then(dialog => {
            dialog.close()
          })
      }

      if (!this.checkCreds(this.selectedDocs, true)) {
        return
      }
      query.SupplierInv = this.selectedDocs.map(e => {
        return e.SupplierInv
      })
     
      if (this.updatedState === 'Submitted') {
        this.$dialog
          .prompt(
            {
              title: 'Submit Invoices',
              body: 'Set Transaction Invoice Date (DD/MM/YYYY)'
            },
            {
              promptHelp: 'Leave blank for today'
            }
          )
          .then(dialog => {
            if (dialog.data) {
              const results = dialog.data.split('/')
              const date = new Date(results[2], results[1] - 1, results[0])
              if (isNaN(date)) {
                this.$dialog
                  .alert('Please submit a valid date')
                  .then(dialog => {
                    dialog.close()
                  })
                return
              }
              updates.Transaction_Invoice_Date = date
            } 
            payableService
              .updatePayable(updates, query, null)
              .then(response => {
                dialog.close()
                this.$emit('update')
              })
          })
      } else {
        this.$dialog
          .confirm(
            `Are you sure you want to approve these <span style="color:red;">${this.selectedDocs.length}</span> invoices?`
          )
          .then(dialog => {
            payableService.updatePayable(updates, query, null).then(() => {
              this.selectedDocs = []
              dialog.close()
              this.$emit('update')
            })
          })
      }
    },
    rejectInvoices() {
      if (this.rejectReason.length === 0) {
        this.$dialog
          .alert(`Please enter a reason`, {
            okText: 'Continue'
          })
          .then(dialog => {
            dialog.close()
          })
        return
      }
      let updates = {
        Payable_Status: 'Rejected',
        Reject_Remarks: this.rejectReason,
        Reject_User: this.username,
        Updated_On: new Date().toUTCString('DD MMM YYYY')
      }
      let query = {
        Control_Flag: 'Y',
        Environment: this.environment
      }
      if (this.selectedDocs.length < 1) {
        return
      }
      if (!this.checkCreds(this.selectedDocs, false)) {
        return
      }
      query.SupplierInv = this.selectedDocs.map(e => {
        return e.SupplierInv
      })
      this.$dialog
        .confirm(
          `Are you sure you want to reject these <span style="color:red;">${this.selectedDocs.length}</span> invoices?`
        )
        .then(dialog => {
          payableService.updatePayable(updates, query, null).then(() => {
            this.selectedDocs = []
            dialog.close()
            this.$emit('update')
          })
        })
    }
  },
  data() {
    return {
      displayConsolidated: false,
      selectedDocs: [],
      pro_pl_details: {},
      pro_pl: {},
      pay_pl: {},
      invoiceInfo: {},
      visibleInvoice: false,
      expanded: null,
      showReject: false,
      rejectReason: '',
      states: {
        0: 'New',
        1: 'Pending',
        2: 'Approved',
        3: 'Submitted',
        5: 'Rejected'
      },
      expanded: false,
      displayedInvoice: null,
      selectAll: false,
      visiblePNL: false,
      visibleInvoice: false,
      invoiceSort: 'All',
      time1: null,
      rejectionMessage: '',
      showError: false,
      colors: {
        New: 'new',
        Pending: 'pending',
        Approved: 'approved',
        Submitted: 'submitted',
        Rejected: 'reject'
      },
      invoiceNumbers: []
    }
  }
}
</script>
