<style>
  .full-center{
    display: flex;
      align-items: center;
      justify-content: center;
  }
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  
  .table-title{
    font-size:12px;
    font-weight: bold;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: 1000px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    max-height:80vh;
    font-family: Helvetica, Arial, sans-serif;
    overflow-y:scroll;
  }

  .modal-header h3 {
    margin-top: 0;
  }

  .modal-body {
    
  }

  .modal-default-button {
    float: right;
  }

  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

   .modal-enter {
    opacity: 0;
   }

   .modal-leave-active {
    opacity: 0;
   }

   .modal-enter .modal-container,
   .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
   }
 </style>

<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <div class="invoice-title">
              <h2 style="font-size: 20px; margin-top: 13px;display: inline-block;">ELITE INTERNATIONAL LOGISTICS (S) PTE LTD </h2>  <h3 style="font-size: 20px; margin-top: 13px;display: inline-block;" class="pull-right"> SUMMARY</h3>
            </div>
          </div>
          <div class="modal-body" style="font-size:9px">
            <div class="row">
            <div class="col-md-12">
            
            <div style="clear: both;"></div>
            <div class="row" style="font-size: 9px;">
              <div class="col-md-7">
                <address>
                <label style="width: 80px; font-weight: bold;">Account</label> : ELITE INTERNATIONAL LOGISTICS (S) PTE LTD<br>
                <label style="width: 80px; font-weight: bold;">OBL</label> : {{info.OBL}}<br>
                <label style="width: 80px; font-weight: bold;">VES/VOY</label> : {{info['Ves / Voy']}}<br>
                <label style="width: 80px; font-weight: bold;">E.T.D.</label> : {{info['E.T.D. / E.T.A.']}}<br>
                <label style="width: 80px; font-weight: bold;">Fr</label> : {{info.Fr}}<br>
                <label style="width: 80px; font-weight: bold;">To</label> : {{info.To}}
                </address>
              </div>
              <div class="col-md-5 text-left">
                <address style="margin-bottom: 0">
                  <!-- <label style="width: 90px; font-weight: bold;">Job No</label> : {{info.Job_Number}}<br> -->
                  <label style="width: 90px; font-weight: bold;">Date</label> : {{info.Invoice_Date}}<br>
                  <label style="width: 90px; font-weight: bold;">Prepared by</label> : {{info['prepared by']}}<br>
                  <label style="width: 90px; font-weight: bold;">Job Type</label> : {{info["Job Type"]}}
                </address>
              </div>
            </div>
            <div style="clear: both;"></div>
            <hr>
            <div style="clear: both;"></div>
            <div class="row">
              <div class="col-md-12">
                <table width="100%">
                  <thead>
                    <th>CHARGES</th>
                    <th colspan="2" class="text-center">COST</th>
                    <th colspan="2" class="text-center">SELL</th>
                    <th colspan="2" class="text-center">PROFIT/LOSS</th>
                  </thead>
                  <tbody>
                    <tr class="text-right">
                      <td></td>
                      <td>SGD</td>
                      <td>USD</td>
                      <td>SGD</td>
                      <td>USD</td>
                      <td>SGD</td>
                      <td>USD</td>
                    </tr>
                    <tr class="text-right" v-for="line in pl">
                      <td class="text-left">{{line.Details}}</td>
                      <td>{{line['Cost Local Currency']}}</td>
                      <td>{{line['Cost USD']}}</td>
                      <td>{{line['Sell Local Currency']}}</td>
                      <td>{{line['Sell USD']}}</td>
                      <td>{{line['Pl Amount Local Currency']}}</td>
                      <td>{{line['Pl Amount USD']}}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>{{localCost}}</td>
                      <td>{{usdCost}}</td>
                      <td>{{localSell}}</td>
                      <td>{{usdSell}}</td>
                      <td>{{localPNL}}</td>
                      <td>{{usdPNL}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="clearfix"></div>
              <br>
              <div class="col-md-6 text-right pull-right">
                <table class="text-right pull-right">
                  <tr>
                    <td>
                    LOCAL CURRENCY :
                    </td>
                    <td>
                      SGD
                    </td>
                    <td>{{localTotal}}</td>
                  </tr>
                  <tr>
                    <td>TOTAL PERCENTAGE :</td>
                    <td></td>
                    <td>{{localCost/localSell}}</td>
                  </tr>
                </table>
              </div>
              <div class="clearfix"></div>
              <br>
              <div>
                <table>
                  <tr>
                    <td>
                    TOTAL GST :
                    </td>
                    <td>
                      SGD
                    </td>
                    <td>{{totalGst}}</td>
                  </tr>
                </table>
              </div>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-md-6">Charge Items</div><div class="col-md-6">Billing</div>
          <div class="col-md-12">
           <table>
             <thead>
               <th>Job No</th>
               <th>Inv. No</th>
               <th>Customer Name</th>
               <th>Details</th>
               <th colspan="2">Currency Amount</th>
               <th colspan="2">Local Amount</th>
             </thead>
             <tbody>
               <tr v-for="(line,index) in details">
                 <td>{{pl[index]?pl[index].Job_Number:""}}</td>
                 <td>{{line.Invoice_Number}}</td>
                 <td>{{line.Customer_Agent_Vendor_Name}}</td>
                 <td>{{pl[index]?pl[index].Details:""}}</td>
                 <td colspan="2">{{line.Currency}}</td>
                 <td colspan="2">{{line.Amount}}</td>
               </tr>
             </tbody>
           </table>
            <div class="clearfix"></div>
              <br>
              <div class="text-right pull-right">
                <table class="text-right pull-right">
                  <tr>
                    <td>
                    TOTAL :
                    </td>
                    <td>
                      SGD
                    </td>
                    <td>{{localCost}}</td>
                  </tr>
                </table>
              </div>
          </div>
        </div>
          <div class="modal-footer">
              <button class="modal-default-button btn btn-danger" @click="$emit('close')">OK</button>
          </div>
        </div>
      </div>
  </div>
    </div>
  </transition>
</template>

<script>
import {mapActions,MapMutations} from 'vuex';
import axios from 'axios';

export default{
  name:'pnl',
  props:['pl','details','info',],
  methods:{
    close(){
      this.$emit('close')
    }
  },
  computed:{
    localPNL(){
      let sumValues = 0
      this.pl.forEach(line=>{
        sumValues+=Number(line['Pl amount local currency'])
      })
      return sumValues.toFixed(2)
    },
    localSell(){
      let sumValues = 0
      this.pl.forEach(line=>{
        sumValues+Number(line['Sell Local Currency'])
      })
      return sumValues.toFixed(2)
    },
    localCost(){
      let sumValues = 0
      this.pl.forEach(line=>{
        sumValues+=Number(line['Cost Local Currency'])
      })
      return sumValues.toFixed(2)
    },
    usdPNL(){
      let sumValues = 0
      this.pl.forEach(line=>{
        sumValues+=Number(line['Pl Amount USD'])
      })
      return sumValues.toFixed(2)
    },
    usdSell(){
      let sumValues = 0
      this.pl.forEach(line=>{
        sumValues+=Number(line['Sell USD'])
      })
      return sumValues.toFixed(2)
    },
    usdCost(){
      let sumValues = 0
      this.pl.forEach(line=>{
        sumValues+=Number(line['Cost USD'])
      })
      return sumValues.toFixed(2)
    },
    totalGst(){
      let sumValues = 0
      this.pl.forEach(line=>{
        sumValues+= Number(line['Total GST'])
      })
      return sumValues.toFixed(2)
    },
    localTotal(){
      let sumValues = 0
      this.pl.forEach(line=>{
        sumValues+= Number(line['Local Amount'])
      })
    }
    

  },
  data(){
    return{}
  }
}
</script>