<style>
.panel {
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
}

.invoice-count {
  color: #999999;
  position: absolute;
  left: 25px;
  bottom: 12px;
}
.center-text {
  text-align: center;
}

.searchbar {
  border-radius: 20px;
  background-color: white !important;
  border: solid !important;
  border-width: 1px !important;
  border-radius: 5px;
  height: 40px !important;
}


.styled-select {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 40px;
  padding-right: 25px !important;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: calc(100% - 5px);
  background-position-y: calc(0% + 10px);
  background-color: white;
  height: auto !important;
}

.consolidated-button {
  -border: 2px solid rgb(0 157 220);
  border-radius: 10px;
  font-size: 14px;
  -height: 80px;
  color: black;
  -width: 85%;
  word-break: keep-all;
  white-space: normal;
}

.proforma-panel {
  -border-radius: 15px;
  background-color: #0098e0 !important;
  margin: 0px;
}
.p-l-0 {
  padding-left: 0px;
}
.p-r-0 {
  padding-right: 0px;
}
.p-t-0 {
  padding-top: 0px;
}
.p-b-0 {
  padding-bottom: 0px;
}

.lsr-button {
  border: 2px solid rgb(0 157 220);
  border-radius: 10px;
  font-size: 14px;
  height: 40px;
  color: black;
  width: 85%;
  word-break: keep-all;
  white-space: normal;
}

.status-group > label {
  margin-bottom: 0;
}

.datepicker {
  background-color: white;
  border-radius: 5px;
  width: 95%;
  height: 40px;
  margin-left: 10px;
  padding-left: 10px;
  background: url(https://cdn0.iconfinder.com/data/icons/zondicons/20/calendar-24.png)
    no-repeat right white;
  background-position-x: calc(100%-20px);
}

.filter-btn {
  background-color: #e5fdffd6 !important;
  border-radius: 8px;
  width: 95%;
  -height: 110%;
  box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.clear-btn {
  background-color: #d7d2d2;
  border-radius: 8px;
  width: 95%;
  -height: 110%;
  box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.search {
  border: 2px solid #009ddc;
  border-radius: 5px;
  width: 60%;
  display: none;
}

.search-btn {
  background-color: #009ddc;
  color: white;
  border-radius: 5px;
}

.environments {
  padding-left: 25px;
}
label.text-center {
  font-size: 14px;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}

.rangedate {
  background: rgb(255, 255, 255);
  padding: 1px 5px 5px 5px;
  border-radius: 6px;
}
</style>

<template>
  <div class="wrapper-md">
    <div class="row">
      <div class="col-md-12 p-t-0">
        <div
          class="container-fluid panel proforma-panel"
          style="margin-bottom: 0px !important"
        >
          <div class="row">
            <div class="col-md-6 pull-left p-r-0">
              <div class="row m-t-none">
                <div class="col-md-4 pull-left n-r-b" style="height: 100%">
                  <label class="text-center col-md-12">Country</label>
                  <select
                    v-model="selectedCountry"
                    @change="getParents"
                    class="styled-select text-u-c"
                  >
                    <option disabled value="">Please select a Country</option>
                    <option
                      v-for="country in countries"
                      :value="country.Environment"
                      :key="country.Environment"
                    >
                      {{ country.Environment }}
                    </option>
                  </select>
                  <img
                    class="pull-right"
                    v-show="loadingClients"
                    src="assets/spiner.gif"
                  />
                </div>
                <div class="col-md-4 pull-left" style="height: 100%">
                  <label class="text-center col-md-12">Parent ID</label>
                  <select
                    v-model="selectedClient"
                    @change="getVendors"
                    v-bind:disabled="loadingClients"
                    class="styled-select text-u-c"
                  >
                    <option disabled value="">Please select a Client</option>
                    <option
                      v-for="parent in parents"
                      :value="parent.Parent_ID"
                      :key="parent.Parent_ID"
                    >
                      {{ parent.Parent_Short_Name }}
                    </option>
                  </select>
                  <img
                    class="pull-right"
                    v-show="loadingVendor"
                    src="assets/spiner.gif"
                  />
                  <span
                    class="invoice-count"
                    v-show="totalParentCount || loadingVendor"
                    >{{ `Active Invoices: ${totalParentCount}` }}</span
                  >
                </div>
                <div class="col-md-4 pull-left" style="height: 100%">
                  <label class="text-center col-md-12">Child ID</label>
                  <select
                    v-model="selectedVendor"
                    class="styled-select text-u-c"
                    @change="getDocs"
                    v-bind:disabled="loadingVendor"
                  >
                    <option disabled value="">Please select a Vendor</option>
                    <option
                      v-for="vendor in vendors"
                      :value="vendor"
                      :key="vendor"
                    >
                      {{ vendor.ToPartyID }} - {{ vendor.ToPartyName }} -
                      {{ vendor[updatedState] }}
                    </option>
                  </select>
                  <a v-show="selectedVendor !== ''">
                    <span class="lab-desc">{{
                      selectedVendor.ToPartyID
                    }}</span></a
                  >
                  <img
                    class="pull-right"
                    v-show="loadingInvoices"
                    src="assets/spiner.gif"
                  />
                  <span class="invoice-count" v-show="selectedVendor">{{
                    `Active Invoices: ${selectedVendor.Total}`
                  }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 pull-left m-b">
              <div class="row m-b-none">
                <div class="col-md-10" style="height: 100%">
                  <div class="col-md-12">
                    <label class="col-md-12 text-center">Date Range</label>
                    <div
                      class="col-md-12 p-l-0 p-r-0"
                      style="
                        background: #fff;
                        cursor: pointer;
                        padding: 0px 10px 10px;
                        border: 1px solid #ccc;
                        width: 100%;
                        border-radius: 8px;
                        margin-top: 10px;
                      "
                    >
                      <i class="fa fa-calendar"></i>
                      <input
                        type="text"
                        name="daterange"
                        class="rangedate"
                        style="width: 80%"
                        value=""
                        ref="dateRange"
                      />
                      <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 pull-left center">
              <div class="row">
                <div class="col-md-5 center">
                  <button
                    type="button"
                    class="button btn filter-btn no-mar"
                    @click="filterInvoices(dateStart, dateEnd)"
                  >
                    FILTER
                  </button>
                </div>
                <div class="col-md-5 center">
                  <button
                    type="button"
                    class="button btn no-mar clear-btn"
                    @click="clear()"
                  >
                    CLEAR
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="contain-fluid panel">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-5">
                  <span class="status-group">
                    <label> <strong>STATUS:</strong> </label>
                    <label>
                      <input
                        type="radio"
                        name="status"
                        checked
                        value="All"
                        @change="sort"
                        v-model="invoiceSort"
                      />
                      All
                    </label>
                    <label>
                      <input
                        type="radio"
                        name="status"
                        value="New"
                        v-model="invoiceSort"
                        @change="sort"
                      />
                      New
                    </label>
                    <label>
                      <input
                        type="radio"
                        name="status"
                        value="Pending"
                        v-model="invoiceSort"
                        @change="sort"
                      />
                      Pending
                    </label>
                    <label>
                      <input
                        type="radio"
                        name="status"
                        value="Approved"
                        v-model="invoiceSort"
                        @change="sort"
                      />
                      Approved
                    </label>
                    <label>
                      <input
                        type="radio"
                        name="status"
                        value="Submitted"
                        v-model="invoiceSort"
                        @change="sort"
                      />
                      Submitted
                    </label>
                  </span>
                </div>
                 <div class="col-md-6"> 
               <label style="font-size: 20px;"> <strong> Search By </strong></label>
             
               <span class="status-group">  
                  <label>
                  <select
                    v-model="SelectedColumn" 
                    class="searchbar" style="width:200px"
                  >
                    <option disabled value=""></option>
                    <option
                      v-for="Columns in ColumnSearchPayable"
                      :value="Columns"
                      :key="Columns.ColumnValues"
                    >
                      {{ Columns.Column }}
                    </option>
                  </select>
                   </label>
                <label>
                    <input
                type="text" 
                class="searchbar"
                placeholder="Search"
                v-model="payableSearch"
              /> </label>
              <label>
                 
              <button
                class="btn search-btn"
                type="button"
                style="
                  padding: 5px;
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                "
                @click="searchPayable"
              >
                Search
              </button>
              </label>
              <label>
                 <button
                class="btn search-btn"
                type="button"
                style="
                  padding: 5px;
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                "
                @click="ClearPayable"
              >
                Clear
              </button>
                </label>
                   </span> </div>
                <div class="col-md-3">
                  <div class="input-group mb-3" style="display: none">
                    <input
                      type="text"
                      class="search"
                      style="
                        padding: 5px;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                      "
                      placeholder="Search By Proforma #"
                      v-model="payableSearch"
                    />
                    <button
                      class="btn search-btn"
                      type="button"
                      style="
                        padding: 5px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                      "
                      @click="searchPayable"
                    >
                      Search
                    </button>
                  </div>
                </div>
                <div class="col-md-4 pull-right"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="container-fluid clear">
              <payableTable
                :documents="displayedDocs"
                :environment="selectedCountry"
                @update="getDocs()"
              ></payableTable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
import payableTable from './payableTable'
import Datepicker from 'vuejs-datepicker'
import * as customerService from '../services/customerService'
import * as payableService from '../services/payableService'

$(function() {
  $('input[name="daterange"]').daterangepicker(
    {
      opens: 'left'
    },
    function(start, end, label) {
      console.log(
        'A new date selection was made: ' +
          start.format('YYYY-MM-DD') +
          ' to ' +
          end.format('YYYY-MM-DD')
      )
    }
  )
})

export default {
  name: 'payableInvoices',
  components: {
    payableTable,
    Datepicker
  },
  methods: {
    ...mapMutations(['SET_SEARCH']),
    getCountries() {
      let query = {
        Environment: this.user.environments
      }
      customerService.getCountries(query).then(response => {
        this.countries = response.data
      })
    },
    sort() {
      if (this.invoiceSort === 'All') {
        this.displayedDocs = this.docIDS
      } else {
        this.displayedDocs = this.docIDS.filter(e => {
          return e.Payable_Status === this.invoiceSort
        })
        if (this.invoiceSort === 'Completed') {
          this.displayedDocs = option.filter(
            e => e.Transaction_Number && e.Payable_Status === 'Submitted'
          )
        }
      }
    },
     CoulumFilter()
    {  
      this.ColumnSearchPayable[0]={Column: "Document #", ColumnValues:"SupplierInv"}
      this.ColumnSearchPayable[1]={Column: "Voucher Number", ColumnValues:"Voucher_Number"}
      this.ColumnSearchPayable[2]={Column: "Job Number", ColumnValues:"Job_Number"}
      this.ColumnSearchPayable[3]={Column: "Tax Invoice No", ColumnValues:"Transaction_Number"}
      this.ColumnSearchPayable[4]={Column: "Vendor Name", ColumnValues:"ToPartyName"}
     // this.ColumnSearch[4]={Column: "LSR No", ColumnValues:"lsr_No"}
    },
    filterInvoices(start, end) {
      const range = this.$refs.dateRange.value.split('-')
      this.displayedDocs = this.docIDS.filter(e => {
        start = new Date(range[0].trim())
        end = new Date(range[1].trim())
        let docDate = new Date(e.DOC_DATE)
        return docDate >= start && docDate <= end
      })
    },
    clear() {
      this.displayedDocs = this.docIDS
      this.dateStart = null
      this.dateEnd = null
    },
    getDocs() {
      this.displayedDocs = []
      this.loadingInvoices = true
      let query = {
        Environment: this.selectedCountry,
        Parent_ID: this.selectedClient,
        ToPartyID: this.selectedVendor.ToPartyID,
        Control_Flag: 'Y'
      }
      this.SET_SEARCH(query)
      payableService.getPayables(query).then(response => {
        this.loadingInvoices = false
        this.docIDS = response.data.map(e => {
          let statuses = {
            Pending: 'Review_User',
            Approved: 'Approve_User',
            Submitted: 'Submit_User',
            Rejected: 'Reject_User'
          }
          let blame_id = e[statuses[e.Payable_Status]]
          if (this.userlist[blame_id]) {
            e.blame = this.userlist[blame_id]
          } else {
            e.blame = blame_id
          }
          return e
        })
        this.displayedDocs = this.docIDS
        console.log(this.displayedDocs)
      })
    },
    updateDate(range) {
      this.dateStart = range.start
      this.dateEnd = range.end
    },
    getParents() {
      this.loadingClients = true
      this.selectedClient = ''
      this.selectedVendor = ''
      let query = {
        Environment: this.selectedCountry,
        Parent_ID: this.user.parents
      }
      customerService.getParents(query).then(response => {
        this.loadingClients = false
        this.parents = response.data
      })
      this.CoulumFilter()
    },
    getVendors() {
      this.loadingVendor = true
      this.selectedVendor = ''
      let query = {
        Environment: this.selectedCountry,
        Parent_ID: this.selectedClient,
        Control_Flag: 'Y'
      }
      customerService.getVendors(query).then(response => {
        this.loadingVendor = false
        this.vendors = response.data
        this.totalParentCount = response.data.reduce((a, b) => {
          return a + Number(b.Total)
        }, 0)
      })
    },
    searchPayable() {
     // this.displayedInvoice = this.bundles.filter(
      //  e => e.SupplierInv === this.payableSearch
     // )
      this.displayedDocs = []
      this.loadingInvoices = true
      let query = {
        Environment: this.selectedCountry,
        //Parent_ID: this.selectedClient,
        //ToPartyID: this.selectedVendor.ToPartyID,
        Control_Flag: 'Y'
      }
      this.SET_SEARCH(query)

      if(this.SelectedColumn!=null && this.SelectedColumn!=undefined )
      {
        if(this.SelectedColumn.ColumnValues=="SupplierInv")
        {
              query.SupplierInv = this.payableSearch
        }
        else if (this.SelectedColumn.ColumnValues=="Voucher_Number")
        {
            query.Voucher_Number = this.payableSearch
        }
        else if(this.SelectedColumn.ColumnValues=="Transaction_Number")
        {
            query.Transaction_Number = this.payableSearch
        }
        else if (this.SelectedColumn.ColumnValues=="Job_Number")
        {
            query.Job_Number = this.payableSearch
        }
      }

      payableService.getPayables(query).then(response => {
          
        this.loadingInvoices = false
        this.docIDS = response.data.map(e => {
          let statuses = {
            Pending: 'Review_User',
            Approved: 'Approve_User',
            Submitted: 'Submit_User',
            Rejected: 'Reject_User'
          }
          let blame_id = e[statuses[e.Payable_Status]]
          if (this.userlist[blame_id]) {
            e.blame = this.userlist[blame_id]
          } else {
            e.blame = blame_id
          }
          return e
        })
       if (this.SelectedColumn.ColumnValues=="ToPartyName")
        { 
          debugger
        this.displayedDocs = this.docIDS.filter (e=>e.ToPartyName.includes(this.payableSearch))
        console.log(this.displayedDocs)
        }
        else
        {
         
              this.displayedDocs = this.docIDS
        console.log(this.displayedDocs)
        }
      })
    },
    ClearPayable()
    {
this.payableSearch=''
this.SelectedColumn=null
this.displayedDocs=[]
this.selectedClient=''
this.selectedChild=''
    }
  },
  watch: {
    user() {
      this.getCountries()
    }
  },
  computed: {
    userlist() {
      return this.$store.state.userlist
    },
    storedSearch() {
      return this.$store.state.storedSearch
    },
    updatedState() {
      const updateStates = {
        0: 'New',
        1: 'Pending',
        2: 'Approved'
      }
      return updateStates[this.$store.state.theme]
    },
    payableSearch() {
      return this.$store.state.payableSearch
    },
    theme() {
      const style = {
        0: 'org-title',
        1: 'ylo-title',
        2: 'blu-title'
      }
      return style[this.$store.state.theme]
    },
    role() {
      return this.$store.state.theme
    },
    user() {
      return this.$store.getters.user
    }
  },
  mounted() {
    if (this.storedSearch) {
      let doc = this.$store.state.payableSearch
      this.selectedCountry = doc.Environment
      this.loadingClients = true
      customerService
        .getParents({
          Environment: this.selectedCountry
        })
        .then(response => {
          this.loadingClients = false
          this.parents = response.data
          this.selectedClient = doc.Parent_ID
          this.loadingVendor = true
          return customerService.getVendors({
            Environment: this.selectedCountry,
            Parent_ID: this.selectedClient
          })
        })
        .then(response => {
          this.loadingVendor = false
          this.vendors = response.data
          this.selectedVendor.ToPartyID = doc.ToPartyID
          this.getDocs()
        })
    }
    if (this.user) {
      this.getCountries()
    }
    $('input[name="daterange"]').daterangepicker()
  },
  data() {
    return {
      showModal: false,
      countries: [],
      invoiceSort: null,
      selectedCountry: '',
      loadingClients: false,
      loadingChildren: false,
      loadingVendor: false,
      loadingInvoices: false,
      totalParentCount: 0,
      selectedClient: '',
      selectedChild: '',
      selectedVendor: '',
      invoiceType: '',
      docIDS: [],
      parents: [],
      children: [],
      vendors: [],
      displayedInvoice: null,
      dateStart: '',
      dateEnd: '',
      displayedDocs: [],
      payableSearch: '',
      ColumnSearchPayable:[],
      SelectedColumn:'',
      SelectedColumnValues:null
    }
  }
}
</script>
