<style>
.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: table;
  /* transition: opacity 0.3s ease; */
}

.table-title {
  font-size: 12px;
  font-weight: bold;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 1000px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  max-height: 80vh;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: scroll;
}

.modal-header h3 {
  margin-top: 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.font-size {
  font-size: 10px;
}
.font-size > tr > td {
  font-size: 10px;
}
.font-size > th {
  font-size: 10px;
}
</style>

<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header" ref="pdfHeader">
            <div class="invoice-title">
              <h2
                style="font-size: 20px; margin-top: 13px; display: inline-block"
              >
                ELITE P&L &nbsp;
              </h2>
              <h3
                style="font-size: 20px; margin-top: 13px; display: inline-block"
                class="pull-right"
              >
                SUMMARY
              </h3>
            </div>
          </div>
          <div class="modal-body font-size" ref="pdfBody">
            <div class="row">
              <div class="col-md-12">
                <div style="clear: both"></div>
                <div class="row">
                  <div class="col-md-7">
                    <address>
                      <label style="width: 80px; font-weight: bold"
                        >Account</label
                      >
                      : {{ info.Customer_Name }}<br />
                      <label style="width: 80px; font-weight: bold">OBL</label>
                      : {{ info.OBL }}<br />
                      <label style="width: 80px; font-weight: bold"
                        >VES/VOY</label
                      >
                      : {{ info.VesVoy }}<br />
                      <label style="width: 80px; font-weight: bold"
                        >E.T.D.</label
                      >
                      : {{ info.ETD_ETA }}<br />
                      <label style="width: 80px; font-weight: bold">Fr</label>
                      : {{ info.Fr }}<br />
                      <label style="width: 80px; font-weight: bold">To</label>
                      :
                      {{ info.To }}
                    </address>
                  </div>
                  <div class="col-md-5 text-left">
                    <address style="margin-bottom: 0">
                      <!-- <label style="width: 90px; font-weight: bold;">Job No</label> : {{info.Job_Number}}<br> -->
                      <label style="width: 90px; font-weight: bold">Date</label>
                      : {{ info.Invoice_Date }}<br />
                      <label style="width: 90px; font-weight: bold"
                        >Prepared by</label
                      >
                      : {{ info.prepared_by }}<br />
                      <label style="width: 90px; font-weight: bold"
                        >Job Type</label
                      >
                      : {{ info.Job_Type }}
                    </address>
                  </div>
                </div>
                <div style="clear: both"></div>
                <hr />
                <div style="clear: both"></div>
                <div class="row">
                  <div class="col-md-12">
                    <table width="100%" class="font-size">
                      <thead class="font-size">
                        <th>CHARGES</th>
                        <th colspan="2" class="text-center">COST</th>
                        <th colspan="2" class="text-center">SELL</th>
                        <th colspan="2" class="text-center">PROFIT/LOSS</th>
                      </thead>
                      <tbody class="font-size">
                        <tr class="text-right">
                          <td></td>
                          <td>{{ info.Currency }}</td>
                          <td>{{ info.syscurrency }}</td>
                          <td>{{ info.Currency }}</td>
                          <td>{{ info.syscurrency }}</td>
                          <td>{{ info.Currency }}</td>
                          <td>{{ info.syscurrency }}</td>
                        </tr>
                        <tr
                          class="text-right"
                        
                           v-for="(charge, index) in pnlCalc" :key="index"
                        >
                          <td class="text-left">
                            {{ (charge.charges.split('|')[0]) }}
                          </td>
                          <td>{{ charge.CostLocalCurrency }}</td>
                          <td>{{ charge.costUSD }}</td>
                          <td>{{ charge.SellLocalCurrency }}</td>
                          <td>{{ charge.sellUSD }}</td>
                          <td>{{ charge.pnlLocalTotal }} </td>
                         <!-- <td>{{ charge.pnlLocalTotal ==0? (Number((charge.charges.split('|')[1]).split('x')[0].replace(/[^\d.-]/g, '')) * Number((charge.charges.split('|')[1]).split('x')[1].replace(/[^\d.-]/g, '')) * Number((charge.charges.split('|')[1]).split('x')[2]) ).toFixed(2) : charge.pnlLocalTotal }}</td>  -->
                          <td>{{ charge.pnlUSD }}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td class="text-right">{{ localCost.toFixed(2) }}</td>
                          <td class="text-right">{{ usdCost.toFixed(2) }}</td>
                          <td class="text-right">{{ localSell.toFixed(2) }}</td>
                          <td class="text-right">{{ usdSell.toFixed(2) }}</td>
                          <td class="text-right">{{ localPNL.toFixed(2) }}</td>
                          <td class="text-right">{{ usdPNL.toFixed(2) }}</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-6 text-right pull-right">
                      <table class="text-right pull-right font-size">
                        <tr>
                          <td>LOCAL CURRENCY :</td>
                          <td>
                            {{ info.syscurrency }}
                          </td>
                          <td>{{  pnlCalc
                        .reduce(
                          (a, b) =>
                            (a +=
                             
                              Number(b.pnlLocalTotal) + Number(b.pnlUSD) ),
                          0
                        )
                        .toFixed(2) }}</td>
                        </tr>
                        <tr>
                          <td>TOTAL PERCENTAGE :</td>
                          <td></td>
                          <td>
                            {{
                              (
                                (convertedPnl.toFixed(2) /
                                  proplTotal.toFixed(2)) *
                                100
                              ).toFixed(2)
                            }}%
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div>
                      <table class="font-size">
                        <tr>
                          <td>TOTAL GST :</td>
                          <td>
                            {{ info.syscurrency }}
                          </td>
                          <td>{{ totalGst.toFixed(2) }}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br /><br />
            <div class="row">
              <div class="col-md-6">Charge Items</div>
              <div class="col-md-6">Billing</div>
              <!-- proforma_PL -->
              <div class="col-md-12">
                <div class="clearfix"></div>
                <br />
                <table style="width: 100%">
                  <thead class="font-size">
                    <th>Job No</th>
                    <th>Inv. No</th>
                    <th>Charge Code</th>
                    <th>Customer Name</th>
                    <th>Details</th>
                    <th colspan="2">Currency</th>
                    <th colspan="2">Amount</th>
                    <th colspan="2">Local</th>
                    <th colspan="2">Amount</th>
                  </thead>
                  <tbody class="font-size">
                    <tr v-for="(line, index) in propl" :key="index">
                      <td>{{ line.Job_Number }}</td>
                      <td>{{ line.Invoice_Number }}</td>
                      <td>{{ line.CHGCODE_ID }}</td>
                      <td>{{ line.ToPartyName }}</td>
                      <td>{{ line.Details }}</td>
                      <td colspan="2">{{ line.Currency }}</td>
                      <td colspan="2">{{ line.Amount }}</td>
                      <td colspan="2">{{ line.syscurrency }}</td>
                      <td colspan="2">{{ line.LocalAmount }}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="clearfix"></div>
                <br />
                <div class="text-right pull-right">
                  <table class="text-right pull-right font-size">
                    <tr>
                      <td>TOTAL :</td>
                      <td>
                        {{ info.syscurrency }}
                      </td>
                      <td>{{ proplTotal.toFixed(2) }}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- Payable_PL -->
              <div class="col-md-12">
                <div class="clearfix"></div>
                <br />
                <table style="width: 100%">
                  <thead class="font-size">
                    <th>Payable No</th>
                    <th>Inv. No</th>
                    <th>Charge Code</th>
                    <th>Customer Name</th>
                    <th>Details</th>
                    <th colspan="2">Currency</th>
                    <th colspan="2">Amount</th>
                    <th colspan="2">Local</th>
                    <th colspan="2">Amount</th>
                  </thead>
                  <tbody class="font-size">
                    <tr v-for="(line, index) in paypl" :key="index">
                      <td>{{ line.Voucher_Number }}</td>
                      <td>{{ line.Invoice_Number }}</td>
                      <td>{{ line.CHGCODE_ID }}</td>
                      <td>{{ line.ToPartyName }}</td>
                      <td>{{ line.Details }}</td>
                      <td colspan="2">{{ line.Currency }}</td>
                      <td colspan="2">{{ payCurrency(line) }}</td>
                      <td colspan="2">{{ line.syscurrency }}</td>
                      <td colspan="2">
                        {{ (-1 * line.LocalCurrency).toFixed(2) }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="clearfix"></div>
                <br />
                <div class="text-right pull-right">
                  <table class="text-right pull-right font-size">
                    <tr>
                      <td>TOTAL :</td>
                      <td>
                        {{ info.syscurrency }}
                      </td>
                      <td>{{ payplTotal.toFixed(2) }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              class="modal-default-button btn btn-danger"
              @click="$emit('close')"
            >
              OK
            </button>
            <button
              class="modal-default-button btn btn-success"
              @click="save()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import html2canvas from 'html2canvas'
import jsPDF from 'jspdf'
export default {
  name: 'pnl',
  props: ['propl', 'paypl', 'info'],
  computed: {
    localPNL() {
      return this.localSell - this.localCost
    },
    convertedPnl() {
      return this.proplTotal - this.payplTotal
    },
    usdPNL() {
      return this.usdSell - this.usdCost
    }
  },
  methods: {
    close() {
      this.$emit('close')
    },
    proCurrency(line) {
      if (line.Currency === line.syscurrency) {
        return Number(line.SellLocalCurrency).toFixed(2)
      } else {
        return Number(line.SellUSD).toFixed(2)
      }
    },
    payCurrency(line) {
      if (line.Currency === line.syscurrency) {
        return (-1 * line.LocalCurrency).toFixed(2)
      } else {
        return line.Amount
      }
    },
    save() {
      const pdf = new jsPDF({ orientation: 'p', unit: 'mm', format: 'a4' })
      const header = this.$refs.pdfHeader
      const body = this.$refs.pdfBody
      html2canvas(header).then(canvas => {
        const image = canvas.toDataURL('image/png')
        pdf.addImage(image, 'jpeg', 0, 0, 160, 20)
        html2canvas(body).then(canvas => {
          const image = canvas.toDataURL('image/png')
          pdf.addImage(image, 'jpeg', 0, 25, 200, 180)
          pdf.save('test.pdf')
        })
      })
    }
  },
  mounted() {
    debugger;
    console.log(this.propl, this.paypl)
    let pnlCalc={};
    this.pnlCalc=[];
    this.propl.forEach(e => {
      if (
        Object.keys(pnlCalc).indexOf(`${e.CHGCODE_ID}${e.Details}`) === -1
      ) {
          pnlCalc[`${e.CHGCODE_ID}${e.Details}`] = {
          charges: e.Details,
          CostLocalCurrency: 0,
          costUSD: 0,
          sellUSD: Number(e.SellUSD),
          SellLocalCurrency: Number(e.SellLocalCurrency)
        }
        if (e.syscurrency !== e.Currency) {
          this.proplTotal += Number(e.Sell_Sgd)
        } else {
          this.proplTotal += Number(e.SellLocalCurrency)
        }
      }
      this.localSell += Number(e.SellLocalCurrency)
      this.usdSell += Number(e.SellUSD)
    })
    this.paypl.forEach(e => {
      if (
        Object.keys(pnlCalc).indexOf(`${e.CHGCODE_ID}${e.Details}`) === -1
      ) {
        pnlCalc[`${e.CHGCODE_ID}${e.Details}`] = {
          charges: e.Details,
          CostLocalCurrency: Number(e.Amount),
          costUSD: Number(e.CostUSD),
          SellLocalCurrency: 0,
          sellUSD: 0
        }
      } else {
        let charge = pnlCalc[`${e.CHGCODE_ID}${e.Details}`]
        charge.CostLocalCurrency = Number(e.Amount)
        charge.costUSD = Number(e.CostUSD)
      }
      this.payplTotal += Number(e.Amount)
      this.localCost += Number(e.Amount)
      if (e.Currency !== e.syscurrency) {
        this.payplTotal += -1 * e.LocalCurrency
      }
      this.usdCost += Number(e.CostUSD)
      this.totalGst += Number(e.GST_Amount)
    })
    Object.keys(pnlCalc).forEach(e => {
      pnlCalc[e].pnlLocalTotal =
      pnlCalc[e].SellLocalCurrency - pnlCalc[e].CostLocalCurrency
      pnlCalc[e].pnlUSD = pnlCalc[e].sellUSD - pnlCalc[e].costUSD
    })
     Object.keys(pnlCalc).map(e => {
        this.pnlCalc.push(pnlCalc[e])
      })
  },
  data() {
    return {
      pnlCalc: [],
      proplTotal: 0,
      payplTotal: 0,
      localCost: 0,
      usdCost: 0,
      localSell: 0,
      usdSell: 0,
      totalGst: 0
    }
  }
}
</script>
