<style>
label.select {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.blue-table {
  background-color: #eaf5ff;
}

.table-responsive {
  max-height: 250px;
}

.table-link {
  color: #0d2d7c;
  width: 35px;
  word-wrap: break-word;
}

.black-header {
  border-color: #eaeff0;
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.black-header > td {
  white-space: nowrap;
  overflow: hidden;
  line-height: 45px;
}

.black-header > a > i {
  padding-right: 10px;
}

.black-header.select {
  padding-right: 10px;
}

.centered-table > tbody > tr > td {
  vertical-align: middle !important;
  text-align: center;
}

.table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.status {
  height: 30px;
  font-size: 14px;
  padding-top: 8px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
}
</style>

<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table
            id="invoice"
            class="table table-striped table-bordered tex-u-c blue-table"
            cellspacing="0"
          >
            <thead>
              <tr class="black-header">
                <td>Parent ID</td>
                <td>Child ID</td>
                <td>Child ID Number</td>
                <td>Status</td>
                <td>Count</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(line, index) in data" :key="index">
                <td v-for="(column, index) in columns" :key="index">
                  {{ line[column] }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'statusTable',
  components: {},
  props: ['data', 'columns'],
  data() {
    return {}
  }
}
</script>
