<style>
.panel {
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
}

.invoice-count {
  right: 5px;
  bottom: 0px;
}
.center-text {
  text-align: center;
}

.searchbar {
  border-radius: 20px;
  background-color: white !important;
  border: solid !important;
  border-width: 1px !important;
  border-radius: 5px;
  height: 40px !important;
}

.styled-select {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 40px;
  padding-right: 25px !important;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: calc(100% - 5px);
  background-position-y: calc(0% + 10px);
  background-color: white;
  height: auto !important;
}

.consolidated-button {
  -border: 2px solid rgb(0 157 220);
  border-radius: 10px;
  font-size: 14px;
  -height: 80px;
  color: black;
  -width: 85%;
  word-break: keep-all;
  white-space: normal;
  background: #ffffff;
}

.proforma-panel {
  -border-radius: 15px;
  background-color: #0098e0 !important;
  margin: 0px;
}
.p-l-0 {
  padding-left: 0px;
}
.p-r-0 {
  padding-right: 0px;
}
.p-t-0 {
  padding-top: 0px;
}
.p-b-0 {
  padding-bottom: 0px;
}

.lsr-button {
  border: 2px solid rgb(0 157 220);
  border-radius: 10px;
  font-size: 14px;
  height: 40px;
  color: black;
  width: 85%;
  word-break: keep-all;
  white-space: normal;
}

.status-group > label {
  margin-bottom: 0;
}

.datepicker {
  background-color: white;
  border-radius: 5px;
  width: 95%;
  height: 40px;
  margin-left: 10px;
  padding-left: 10px;
  background: url(https://cdn0.iconfinder.com/data/icons/zondicons/20/calendar-24.png)
    no-repeat right white;
  background-position-x: calc(100%-20px);
}

.filter-btn {
  background-color: #e5fdffd6 !important;
  border-radius: 8px;
  width: 95%;
  -height: 110%;
  box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.clear-btn {
  background-color: #d7d2d2;
  border-radius: 8px;
  width: 95%;
  -height: 110%;
  box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.search {
  border: 2px solid #009ddc;
  border-radius: 5px;
  width: 60%;
  display: none;
}

.search-btn {
  background-color: #009ddc;
  color: white;
  border-radius: 5px;
}

.environments {
  padding-left: 25px;
}
label.text-center {
  font-size: 14px;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}

.rangedate {
  background: rgb(255, 255, 255);
  padding: 1px 5px 5px 5px;
  border-radius: 6px;
}
.parentActive,
.childActive,
.invoice-count {
  color: #999999;
  position: absolute;
  left: 25px;
  bottom: 12px;
}
</style>

<template>
  <div class="wrapper-md">
    <div class="row">
      <div class="col-md-12 p-t-0">
        <div
          class="container-fluid panel proforma-panel"
          style="margin-bottom: 0px !important"
        >
          <div class="row">
            <div class="col-md-6 pull-left p-r-0">
              <div class="row m-t-none">
                <div class="col-md-3 pull-left n-r-b" style="height: 100%">
                  <label class="text-center col-md-12">Country</label>
                  <select
                    v-model="selectedCountry"
                    @change="loadClients"
                    class="styled-select text-u-c"
                  >
                    <option disabled value="">Select a Country</option>
                    <option
                      v-for="country in countries"
                      :value="country.Environment"
                      :key="country.Environment"
                    >
                      {{ country.Environment }}
                    </option>
                  </select>
                  <img
                    class="pull-right spinner"
                    v-show="loadingClients"
                    src="assets/spinner.gif"
                  />
                </div>
                <div class="col-md-3 pull-left" style="height: 100%">
                  <label class="text-center col-md-12">Parent ID</label>
                  <select
                    v-model="selectedClient"
                    @change="loadChildren"
                    v-bind:disabled="loadingClients"
                    class="styled-select text-u-c"
                  >
                    <option disabled value="">Select a Parent</option>
                    <option
                      v-for="parent in parents"
                      :value="parent"
                      :key="parent.Parent_ID"
                    >
                      {{ parent.Parent_Short_Name }}
                    </option>
                  </select>
                  <img
                    class="pull-right spinner"
                    v-show="loadingChildren"
                    src="assets/spinner.gif"
                  />
                  <span class="invoice-count">{{
                    `Active Invoices: ${
                      totalParentCount ? totalParentCount : ''
                    }`
                  }}</span>
                </div>
                <div
                  class="col-md-3 pull-left"
                  v-show="!byLsr"
                  style="height: 100%"
                >
                  <label class="text-center col-md-12">Child ID</label>
                  <select
                    v-model="selectedChild"
                    @change="getInvoices"
                    class="styled-select text-u-c"
                    v-bind:disabled="loadingChildren || byLsr"
                  >
                    <option disabled value="">Select a Child</option>
                    <option
                      v-for="child in children"
                      :value="child"
                      :key="child.Child_ID"
                    >
                      {{ child.Child_ID }} - {{ child.Child_Short_Name }} - [{{
                        child[updatedState]
                      }}]
                    </option>
                  </select>
                  <img
                    class="pull-right spinner"
                    v-show="loadingInvoices"
                    src="assets/spinner.gif"
                  />
                  <span class="invoice-count">{{
                    `Active Invoices: ${
                      selectedChild.Total ? selectedChild.Total : ''
                    }`
                  }}</span>
                </div>
                <div
                  class="col-md-3 pull-left"
                  v-show="byLsr"
                  style="height: 100%"
                >
                  <label class="text-center col-md-12"></label>
                  <!-- Mantis 0013879 -->
                  <select
                    v-model="reports"
                    @change="getInvoiceByLsrs"
                    class="styled-select text-u-c"
                    style="margin-bottom: 1%; color: #0d2d7c; font-size: 15px"
                  >
                    <option disabled value="">SELECT STATUS</option>
                    <option
                      v-for="reportname in reportarray"
                      :value="reportname"
                      :key="reportname"
                    >
                      {{ reportname }}
                    </option>
                  </select>
                  <!-- Mantis 0013879 End-->

                  <a v-show="selectedLsr !== ''">
                    <span class="lab-desc">{{ selectedLsr.lsr_No }}</span></a
                  >
                  <img
                    class="pull-right spinner"
                    v-show="loadingInvoices"
                    src="assets/spinner.gif"
                  />
                  <span class="invoice-count" v-show="selectedLsr">{{
                    `Active Invoices: ${selectedLsr.count}`
                  }}</span>
                </div>
                <div
                  class="col-md-3 pull-left"
                  v-show="byLsr"
                  style="height: 100%"
                >
                  <label class="text-center col-md-12"></label>
                  <select
                    v-model="selectedLsr"
                    @change="getInvoices"
                    class="styled-select text-u-c"
                    v-bind:disabled="loadingChildren || !byLsr"
                  >
                    <option disabled value="">Select a LSR</option>
                    <option
                      v-for="lsr in lsrNums"
                      :value="lsr"
                      :key="lsr.lsr_No"
                    >
                      {{ lsr.lsr_No }} - [{{ lsr.count }}]
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-2 pull-left m-b p-r-0">
              <div class="row m-b-none">
                <div class="col-md-12" style="height: 100%">
                  <div class="col-md-12 p-l-0 p-r-0">
                    <label class="col-md-12 text-center">Date Range</label>
                    <div
                      class="col-md-12 p-l-0 p-r-0"
                      style="
                        background: #fff;
                        cursor: pointer;
                        padding: 0px 10px 10px;
                        border: 1px solid #ccc;
                        width: 100%;
                        border-radius: 8px;
                        margin-top: 10px;
                      "
                    >
                      <i class="fa fa-calendar"></i>
                      <input
                        type="text"
                        name="daterange"
                        class="rangedate"
                        style="width: 84%"
                        ref="dateRange"
                        value=""
                      />
                      <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 pull-left center">
              <div class="row">
                <div class="col-md-4 center">
                  <button
                    type="button"
                    class="button btn filter-btn no-mar"
                    @click="filterInvoices(dateStart, dateEnd)"
                  >
                    FILTER
                  </button>
                </div>
                <div class="col-md-4 center">
                  <button
                    type="button"
                    class="button btn no-mar clear-btn"
                    @click="clear()"
                  >
                    CLEAR
                  </button>
                </div>
                <div class="col-md-4 center" style="padding-left: 0">
                  <button
                    class="btn button consolidated-button"
                    @click="showConsolidated()"
                  >
                    {{ currentDisplay }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid panel">
      <div class="row">
        <div class="col-md-2 m-b-10">
          <button
            type="button"
            style="margin: 0"
            class="lsr-button btn no-mar"
            :disabled="!selectedClient"
            @click="getInvoiceByLsr"
          >
            {{ byLsr ? 'View By Child' : 'View By LSR' }}
          </button>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-5 center">
              <span class="status-group">
                <label> <strong>STATUS:</strong> </label>
                <label>
                  <input
                    type="radio"
                    name="status"
                    checked
                    value="All"
                    @change="sort"
                    v-model="invoiceSort"
                  />
                  All
                </label>
                <label>
                  <input
                    type="radio"
                    name="status"
                    value="New"
                    v-model="invoiceSort"
                    @change="sort"
                  />
                  New
                </label>
                <label>
                  <input
                    type="radio"
                    name="status"
                    value="Pending"
                    v-model="invoiceSort"
                    @change="sort"
                  />
                  Pending
                </label>
                <label>
                  <input
                    type="radio"
                    name="status"
                    value="Approved"
                    v-model="invoiceSort"
                    @change="sort"
                  />
                  Approved
                </label>
                <label>
                  <input
                    type="radio"
                    name="status"
                    value="Submitted"
                    v-model="invoiceSort"
                    @change="sort"
                  />
                  Submitted
                </label>
              </span>
            </div>
            <div class="col-md-6"> 
                <label style="font-size: 20px;"> <strong> Search By </strong></label>
             
               <span class="status-group">  
                  <label>
                  <select
                    v-model="SelectedColumn" 
                    class="searchbar" style="width:200px"
                  >
                    <option disabled value=""></option>
                    <option
                      v-for="Columns in ColumnSearch"
                      :value="Columns"
                      :key="Columns.ColumnValues"
                    >
                      {{ Columns.Column }}
                    </option>
                  </select>
                   </label>
                <label>
                    <input
                type="text" 
                class="searchbar"
                placeholder="Search"
                v-model="proformaSearch"
              /> </label>
              <label>
                 
              <button
                class="btn search-btn"
                type="button"
                style="
                  padding: 5px;
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                "
                @click="searchProforma"
              >
                Search
              </button>
              </label>
              <label>
                 <button
                class="btn search-btn"
                type="button"
                style="
                  padding: 5px;
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                "
                @click="ClearProforma"
              >
                Clear
              </button>
                </label>
                   </span> </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 center">
           
            </div>
            <div class="col-md-4 pull-right"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div
          class="container-fluid clear"
          v-show="
            (selectedChild !== '' || selectedLsr !== '') &&
            loadingInvoices == false
          "
        >
          <invoiceTable
            :invoices="displayedBundle"
            :parent="selectedClient.Parent_ID"
            :environment="selectedCountry"
            :child="selectedChild"
            :lsr="selectedLsr"
            :consolidatedBundles="consolidatedBundles.length"
            :displayConsolidated="displayConsolidated"
            @expand="
              (val) => {
                expandInvoice(val)
              }
            "
            @update="
              (val) => {
                prepBundles(val)
              }
            "
            @unexpand="
              (val) => {
                prepBundles({ bundles: allBundles, displayedBundle: val })
                val
                  ? (displayedBundle = consolidatedBundles)
                  : (displayedBundle = bundles)
              }
            "
            @sort="
              (val) => {
                sort(val)
              }
            "
            @sortByNumbers="sortByNumbers"
            @sortByAlphabet="sortByAlphabet"
          ></invoiceTable>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import invoiceTable from './invoiceTable'
import Datepicker from 'vuejs-datepicker'
import * as customerService from '../services/customerService'
import * as proformaService from '../services/proformaService'

$(function() {
  $('input[name="daterange"]').daterangepicker(
    {
      opens: 'left'
    },
    function(start, end, label) {
      console.log(
        'A new date selection was made: ' +
          start.format('YYYY-MM-DD') +
          ' to ' +
          end.format('YYYY-MM-DD')
      )
    }
  )
})

export default {
  name: 'proformaInvoices',
  components: {
    invoiceTable,
    Datepicker
  },
  methods: {
    getInvoices() {
      this.loadingInvoices = true

      let query = {
        Environment: this.selectedCountry,
        Parent_ID: this.selectedClient.Parent_ID,
        Control_Flag: 'Y'
      }
      if (this.byLsr) {
        query.lsr_No = this.selectedLsr.lsr_No
      } else {
        query.Child_ID = this.selectedChild.Child_ID
      }

      proformaService.getProforma(query).then(response => {
        this.loadingInvoices = false
        let passable = {
          bundles: response.data,
          displayConsolidated: false
        }
        this.prepBundles(passable)
      }) 
    },
    CoulumFilter()
    { 
      this.ColumnSearch[0]={Column: "Invoice Number", ColumnValues:"Invoice_Number"}
      this.ColumnSearch[1]={Column: "LSR No", ColumnValues:"lsr_No"}
      this.ColumnSearch[2]={Column: "Job Number", ColumnValues:"Job_Number"}
      this.ColumnSearch[3]={Column: "Tax Invoice No", ColumnValues:"Transaction_Number"}
      this.ColumnSearch[4]={Column: "SO #", ColumnValues:"Reference_Number"}
      this.ColumnSearch[5]={Column: "Export Ref #", ColumnValues:"Elite_Ref"}
      this.ColumnSearch[6]={Column: "BL #", ColumnValues:"OBL"}
      this.ColumnSearch[7]={Column: "Bill to Party", ColumnValues:"Bill_to_Party"}
    },

    getInvoiceByLsr() {
      if (!this.selectedClient) return
      this.byLsr = !this.byLsr

      this.reportarray = {
        New: 'New',
        Pending: 'Pending',
        Approved: 'Approved',
        'Submitted ': 'Submitted'
      }
    },

    getInvoiceByLsrs() {
      if (!this.selectedClient) return
      //this.byLsr = !this.byLsr

      if (this.byLsr) {
        let query = {
          Environment: this.selectedCountry,
          Parent_ID: this.selectedClient.Parent_ID,
          Inv_Status: this.reports
          // Environment: 'APPDATA',
          // Parent_ID: 41,
          // Inv_Status: 'New'
        }
        this.loadingInvoices = true
        this.selectedChild = ''
        this.selectedLsr = ''
        proformaService.getLsr(query).then(response => {
          this.loadingInvoices = false
          this.lsrNums = response.data

          console.log(response.data)
        })
      } else {
        this.loadChildren()
      }

      console.log(this.selectedCountry)
      console.log(this.selectedClient.Parent_ID)
      console.log(this.reports)
    },

    expandInvoice(val) {
      proformaService
        .getProforma({
          Consolidation_ID: val
        })
        .then(response => {
          this.displayedBundle = response.data
        })
    },
    getCountries() {
      let query = {
        Environment: this.user.environments
      }
      customerService.getCountries(query).then(response => {
        this.countries = response.data
      })
    },
    showConsolidated() {
      this.displayConsolidated = !this.displayConsolidated
      this.displayConsolidated
        ? (this.displayedBundle = this.consolidatedBundles)
        : (this.displayedBundle = this.bundles)
    },
    prepBundles(passable) {
        
      let bundles = passable.bundles
      this.allBundles = bundles.map(e => {
        let statuses = {
          Pending: 'Review_User',
          Approved: 'Approve_User',
          Submitted: 'Submit_User',
          Rejected: 'Reject_User'
        }
        let blame_id = e[statuses[e.Inv_Status]]
        if (this.userlist[blame_id]) {
          e.blame = this.userlist[blame_id]
        } else {
          e.blame = blame_id
        }
        return e
      })
      this.bundles = this.allBundles.filter(e => {
        return e.Consolidation_ID.length === 0
      })
      let temp = bundles.filter(e => {
        return e.Consolidation_ID.length !== 0
      })
      let consolidatedBundles = {}
      this.consolidatedBundles = []
      temp.forEach(invoice => {
        if (consolidatedBundles[invoice.Consolidation_ID]) {
          consolidatedBundles[
            invoice.Consolidation_ID
          ].Inv_Total_A_Amt += Number(invoice.Inv_Total_A_Amt)
          consolidatedBundles[invoice.Consolidation_ID].invoice.push(invoice)
        } else {
          consolidatedBundles[invoice.Consolidation_ID] = {
            Invoice_Number: invoice.Consolidation_ID,
            Inv_Status: invoice.Inv_Status,
            invoice: [invoice],
            Reject_Remarks: invoice.Reject_Remarks,
            Inv_Total_A_Amt: Number(invoice.Inv_Total_A_Amt),
            consolidated: true,
            Elite_Ref: '',
            blame: invoice.blame,
            Remarks: invoice.Remarks,
            Transaction_Number: invoice.Transaction_Number,
            Transaction_Invoice_Date: invoice.Transaction_Invoice_Date
          }
        }
      })
      Object.keys(consolidatedBundles).map(e => {
        this.consolidatedBundles.push(consolidatedBundles[e])
      })
      this.displayConsolidated
        ? (this.displayedBundle = this.consolidatedBundles)
        : (this.displayedBundle = this.bundles)
    },
    sort() {
      this.selectAll = false
      let passup = {
        value: this.invoiceSort
      }
      let option = []
      this.displayConsolidated
        ? (option = this.consolidatedBundles)
        : (option = this.bundles)
      if (passup.value === 'All') {
        this.displayedBundle = option
      } else {
        this.displayedBundle = option.filter(e => {
          return e.Inv_Status === passup.value
        })
        if (this.invoiceSort === 'Completed') {
          this.displayedBundle = option.filter(
            e => e.Transaction_Number && e.Inv_Status === 'Submitted'
          )
        }
      }
    },
    filterInvoices(start, end) {
      const range = this.$refs.dateRange.value.split('-')
      this.displayedBundle = this.bundles.filter(e => {
        start = new Date(range[0].trim())
        end = new Date(range[1].trim())
        let sailDate = new Date(e.Invoice_Date)
        return sailDate >= start && sailDate <= end
      })
    },
    clear() {
      this.displayedBundle = this.bundles
      this.dateStart = null
      this.dateEnd = null
      this.SelectedColumn.ColumnValues=null;
      this.proformaSearch=''
    },
    filterLsr() {
      proformaService
        .getProforma({
          lsr_No: this.selectedLsr
        })
        .then(response => {
          this.displayedBundle = response.data
        })
    },
    sortByAlphabet(column, val) {
      this.displayedBundle.sort((a, b) => {
        let nameA = a[column].toUpperCase() // ignore upper and lowercase
        let nameB = b[column].toUpperCase() // ignore upper and lowercase
        if (nameA < nameB) {
          if (val) {
            return -1
          } else {
            return 1
          }
        }
        if (nameA > nameB) {
          if (val) {
            return 1
          } else {
            return -1
          }
        }
      })
    },
    sortByNumbers(column, val) {
      this.displayedBundle.sort((a, b) => {
        if (a[column] < b[column]) {
          if (val) {
            return -1
          } else {
            return 1
          }
        }
        if (a[column] > b[column]) {
          if (val) {
            return 1
          } else {
            return -1
          }
        }
      })
    },
    updateDate(range) {
      this.dateStart = range.start
      this.dateEnd = range.end
    },
    loadClients() {
      this.selectedClient = ''
      this.selectedChild = ''
      this.totalParentCount = null
      this.loadingClients = true
      this.selectedLsr = ''
      this.SelectedColumn=''

      let query = {
        Environment: this.selectedCountry,
        Parent_ID: this.user.parents
      }
      customerService.getParents(query).then(response => {
        this.loadingClients = false
        this.parents = response.data
        console.log(this.parents)
      })

      this.CoulumFilter()
    },
    loadChildren() {
      this.selectedChild = ''
      this.loadingChildren = true
      this.selectedLsr = ''

      let query = {
        Environment: this.selectedCountry,
        Parent_ID: this.selectedClient.Parent_ID
      }
      customerService.getChildren(query).then(response => {
        this.loadingChildren = false
        this.children = response.data
        this.totalParentCount = response.data.reduce((a, b) => {
          return a + Number(b.Total)
        }, 0)
      })
      customerService.getBudget(query).then(response => {
        console.log(response)
        this.mtdJobs = response.data.mtdJobs
        this.ytdJobs = response.data.ytdJobs
        this.mtdTotal = response.data.mtdTotal
        this.ytdTotal = response.data.ytdTotal
      })
    },
    searchProforma() {
         this.loadingInvoices = true 
      let query = {
        Environment: this.selectedCountry,
       // Parent_ID: this.selectedClient.Parent_ID,
        Control_Flag: 'Y'
      }
      //if(this.selectedClient.Parent_ID!="" &&  this.selectedClient.Parent_ID!=undefined){
     //      query.Parent_ID = this.selectedClient.Parent_ID
     // }
      
      if(this.SelectedColumn!=null && this.SelectedColumn!=undefined )
      {
        if(this.SelectedColumn.ColumnValues=="Invoice_Number")
        {
              query.Invoice_Number = this.proformaSearch
        }
        else if (this.SelectedColumn.ColumnValues=="lsr_No")
        {
            query.lsr_No = this.proformaSearch
        }
        else if(this.SelectedColumn.ColumnValues=="Job_Number")
        {
            query.Job_Number = this.proformaSearch
        }
        else if (this.SelectedColumn.ColumnValues=="Transaction_Number")
        {
            query.Transaction_Number = this.proformaSearch
        }
         else if (this.SelectedColumn.ColumnValues=="Reference_Number")
        {
            query.Reference_Number = this.proformaSearch
        }
       //  else if (this.SelectedColumn.ColumnValues=="Elite_Ref")
     //   {
          //  query.Elite_Ref = this.proformaSearch
      //  }
          else if (this.SelectedColumn.ColumnValues=="OBL")
        {
            query.OBL = this.proformaSearch
        }
          else if (this.SelectedColumn.ColumnValues=="Bill_to_Party")
        {
            query.Bill_to_Party = this.proformaSearch
        }

      } 
      proformaService.getProforma(query).then(response => {
         
        this.loadingInvoices = false
        let FinalData =[];

       if (this.SelectedColumn.ColumnValues=="Elite_Ref")
        {
          
            FinalData = response.data.filter (e=>e.Elite_Ref.includes(this.proformaSearch))
        }
        else
        {
           FinalData = response.data
        }

        let passable = {
          bundles: FinalData, //response.data,
          displayConsolidated: false
        }  
         if(response.data!=null && response.data.length>0)
        {
          this.selectedChild=response.data[0].Child_ID
        }
        this.prepBundles(passable)
        
      }) 

      //this.displayedInvoice = this.bundles.filter(
      //  e => e.Invoice_Number === this.proformaSearch
     // )
    },
    ClearProforma()
    {
      this.SelectedColumn=null;
      this.proformaSearch=''
    }
  },
  computed: {
    theme() {
      const style = {
        0: 'org-title',
        1: 'ylo-title',
        2: 'blu-title'
      }
      return style[this.$store.state.theme]
    },
    userlist() {
      return this.$store.state.userlist
    },
    updatedState() {
      const updateStates = {
        0: 'New',
        1: 'Pending',
        2: 'Approved'
      }
      return updateStates[this.$store.state.theme]
    },
    role() {
      return this.$store.state.theme
    },
    currentDisplay() {
      return this.displayConsolidated
        ? `View All`
        : `View Consolidated (${this.consolidatedBundles.length})`
    },
    user() {
      return this.$store.getters.user
    }
  },
  watch: {
    user() {
      this.getCountries()
      //this.CoulumFilter()
    }
  },
  mounted() {
    if (this.user) {
      this.getCountries()
    }
    $('input[name="daterange"]').daterangepicker()
  },
  data() {
    return {
      bundles: [],
      allBundles: [],
      showModal: false,
      byLsr: false,
      reports: '',
      selectedCountry: '',
      displayConsolidated: false,
      loadingClients: false,
      loadingChildren: false,
      loadingInvoices: false,
      selectedClient: '',
      selectedLsr: '',
      selectedChild: '',
      invoiceType: '',
      countries: [],
      parents: [],
      children: [],
      displayedBundle: [],
      consolidatedBundles: [],
      displayedInvoice: [],
      lsrNums: [],
      dateStart: '',
      dateEnd: '',
      totalParentCount: null,
      invoiceSort: '',
      reportarray: [],
      proformaSearch: '',
      ColumnSearch:[],
      SelectedColumn:'',
      SelectedColumnValues:null
    }
  }
}
</script>
