<style>
	.full-center{
		display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.modal-mask {
		position: fixed;
		z-index: 9998;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		display: table;
		transition: opacity .3s ease;
	}
	
	.table-title{
		font-size:12px;
		font-weight: bold;
	}

	.modal-wrapper {
		display: table-cell;
		vertical-align: middle;
	}

	.modal-container {
		width: 1000px;
		margin: 0px auto;
		padding: 20px 30px;
		background-color: #fff;
		border-radius: 2px;
		box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
		transition: all .3s ease;
		max-height:80vh;
		font-family: Helvetica, Arial, sans-serif;
		overflow-y:scroll;
	}

	.modal-header h3 {
		margin-top: 0;
	}

	.modal-body {
		
	}

	.modal-default-button {
		float: right;
	}

	/*
	 * The following styles are auto-applied to elements with
	 * transition="modal" when their visibility is toggled
	 * by Vue.js.
	 *
	 * You can easily play with the modal transition by editing
	 * these styles.
	 */
 </style>

<template>
	<transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
			      <div class="invoice-title">
              <h2 style="font-size: 20px; margin-top: 13px;display: inline-block;">ELITE INTERNATIONAL LOGISTICS (S) PTE LTD</h2>  <h3 style="font-size: 20px; margin-top: 13px;display: inline-block;" class="pull-right">EXPORT SUMMARY</h3>
            </div>
          </div>
          <div class="modal-body" style="font-size:9px">
                {{rejectionRemarks}}
          </div>
          <div class="modal-footer">
              <button class="modal-default-button btn btn-warning" @click="$emit('close')">OK</button>
          </div>
        </div>
      </div>
  </div>
    </div>
  </transition>
</template>

<script>

export default{
	name:'rejection',
  props:['rejectionRemarks']
}
</script>