<style>
label.select {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.blue-table {
  background-color: #eaf5ff;
}

.excel {
  color: green;
  cursor: pointer;
}

.table-link {
  color: #0d2d7c;
  width: 35px;
  word-wrap: break-word;
}

input.select {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  overflow: hidden;
}

.black-header {
  border-color: #eaeff0;
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.black-header > td {
  white-space: nowrap;
  overflow: hidden;
  line-height: 45px;
}

.black-header > a > i {
  padding-right: 10px;
}

.black-header.select {
  padding-right: 10px;
}

textarea {
  resize: none;
  width: 200px;
  height: 62px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  vertical-align: top;
}
.centered-table > tbody > tr > td {
  vertical-align: middle !important;
  text-align: center;
}

.table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.status {
  height: 30px;
  font-size: 14px;
  padding-top: 8px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
}
.uploaddock {
  background: #f00;
  padding: 1px 9px;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: normal;
  border-radius: 50px;
}
</style>

<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <span class="pull-right excel" @click="xls()"
          ><i class="fa fa-2x fa-arrow-down" aria-hidden="true"></i
          ><i class="fa fa-2x fa-file-excel-o" area-hidden="true"></i
        ></span>
        <div class="table-responsive" style="min-height: 750px">
          <table
            id="invoice"
            class="
              table table-striped table-bordered table-striped
              blue-table
              tex-u-c
            "
            cellspacing="0"
          >
            <thead>
              <tr class="black-header">
                
                <td>Vendor Name</td>
                <td>Customer Parent ID</td>
                <td>EGS Ref No</td>
                <td>Doc No.</td>
                <td>Doc. Date</td>
                <td>Currency </td>
                <td>Amount </td>
                <td>Local Amount </td>
                <td>Loc Amt (w/o GST)</td> 
                <td>User Id</td>
                <td>Gate 2 Approval Date & Time</td>
                
              </tr>
            </thead>
            <tbody>
              <template v-for="(doc, index) in documents">
                <tr :key="doc.SupplierInv">
                   <td>{{ doc.Vendor_Name }}</td>
                    <td>{{ doc.Cust_Parent_ID }}</td>
                     <td>{{ doc.EGS_Ref_No }}</td>
                  <td>{{ doc.Doc_No }}</td> 
                  <td>{{ doc.Doc_Date | formatDate }}</td> 
                  <td>{{ doc.Currency }}</td>
                   <td>{{ Number(doc.Amount).toFixed(2) }}</td> 
                  <td>{{ Number(doc.LocalAmount).toFixed(2) }}</td> 
                  <td>{{ doc.Loc_Amount_withoutGST }}</td> 
                  <td>{{ doc.User_ID }}</td>
                  <td>{{ doc.Gate_2_Approval_Date_Time | formatDate }}</td> 
                  
                </tr>
                
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div> 
  </div>
</template>

<script>
import alasql from 'alasql'
import pnl from './pnl'
import error from './error'
import upload from './upload'
import * as payableService from '../services/payableService'
import * as proformaService from '../services/proformaService'
import XLSX from 'xlsx'
alasql.utils.isBrowserify = false
alasql.utils.global.XLSX = XLSX
import { mapMutations } from 'vuex'
export default {
  name: 'payableTable',
  components: {
    error,
    upload,
    pnl
  },
  props: ['documents', 'environment'],
  computed: {
    userlist() {
      return this.$store.state.userlist
    },
    payableSearch() {
      return this.$store.state.payableSearch
    },
    username() {
      return this.$store.state.user.id
    },
    runningAmount() {
      let sum = 0
      this.selectedDocs.forEach(e => {
        sum += Number(e.Local_Cost)
      })
      return sum.toFixed(2)
    },
    blameColumn() {
      const columns = {
        0: 'Review_User',
        1: 'Approve_User',
        2: 'Submit_User'
      }
      return columns[this.$store.state.theme]
    },
    role() {
      const actions = {
        0: 'Submit for Approval',
        1: 'Approve',
        2: 'Submit'
      }
      return actions[this.$store.state.theme]
    },
    theme() {
      return this.$store.state.theme
    },
    updatedState() {
      const updateStates = {
        0: 'Pending',
        1: 'Approved',
        2: 'Submitted',
        5: 'Rejected'
      }
      return updateStates[this.$store.state.theme]
    }
  },
  watch: {
    invoiceSort(value) {
      this.selectedDocs = []
      this.selectAll = false
      this.$emit('sort', value)
    }
  },
  methods: {
    ...mapMutations([
      'SET_DOC_ID',
      'SET_SEARCH',
      'START_SPINNER',
      'STOP_SPINNER'
    ]),
    getInvoices(doc, index) {
      if (index === this.expanded) {
        this.expanded = null
        return
      }
      this.START_SPINNER()

      let query = {
        Environment:this.environment,
        SupplierInv: doc.SupplierInv,
        Control_Flag: 'Y'
      }
      payableService.getPayableInvoices(query).then(response => {
        this.expanded = index
        this.invoiceNumbers = response.data.map(e => {
          let statuses = {
            Pending: 'Review_User',
            Approved: 'Approve_User',
            Submitted: 'Submit_User',
            Rejected: 'Reject_User'
          }
          let blame_id = e[statuses[e.Payable_Status]]
          if (this.userlist[blame_id]) {
            e.blame = this.userlist[blame_id]
          } else {
            e.blame = blame_id
          }
          return e
        })
        console.log(this.invoiceNumbers)
        this.STOP_SPINNER()
      })
    },
    showPNL(invoice) {
      let query = {
        Environment: this.environment
      }
      if (Number(invoice.Job_Number) > 1) {
        query.Job_Number = invoice.Job_Number
      } else {
        query.Invoice_Number = invoice.Invoice_Number
      }
      this.START_SPINNER()
      payableService.getSingleInvoice(query).then(response => {
        this.STOP_SPINNER()
        this.invoiceInfo = response.data[0]
        Promise.all([
          payableService.getPayablePL(query),
          proformaService.getProformaPL(query)
        ]).then(values => {
          this.pay_pl = values[0].data
          this.pro_pl = values[1].data
          this.visiblePNL = true
        })
      })
    },
    xls() {
      if (this.documents.length === 0) {
        return
      }
      alasql('SELECT * INTO XLSX("Payment Report.xlsx",{headers:true}) FROM ?', [
        this.documents
      ])
    },
    selectDisplayed(e) {
      this.selectAll = e.target.checked
      if (this.selectAll) {
        this.selectedDocs = this.documents
        e.preventDefault()
      } else {
        this.selectedDocs = []
      }
    },
    update() {
      this.$emit('update')
    },
    showRejectRemarks(bundle) {
      if (bundle.Payable_Status !== 'Rejected') {
        return
      }
      this.rejectionMessage = bundle.Reject_Remarks
      this.showError = true
    },
    showBlameTime(doc) {
      if (doc.Payable_Status === 'New') return
      this.$dialog
        .alert(`Last action taken on ${doc.Updated_On}`, { okText: 'Continue' })
        .then(dialog => {
          dialog.close()
        })
    },
    checkCreds(invoices, approve) {
      let bool = true
      invoices.forEach(e => {
      //   if (e.Attachment_URL.length === 0 && approve) {
      //     this.$dialog
      //       .alert(`Document Number ${e.SupplierInv} has no Attachment`, {
      //         okText: 'Continue'
      //       })
      //       .then(dialog => {
      //         dialog.close()
      //       })
      //     bool = false
      //     return bool
      //   }
        if (
           e.Payable_Status === 'Submitted' ||
           e.Payable_Status === 'Rejected'
         ) {
          this.$dialog
             .alert(`Document Number ${e.SupplierInv} is ${e.Payable_Status}`, {
              okText: 'Continue'
             })
             .then(dialog => {
               dialog.close()
             })
          bool = false
          return bool
         }
      //   if (this.role === 'Submit') {
      //     if (e.Payable_Status !== 'Approved') {
      //       this.$dialog
      //         .alert(
      //           `Document Number ${e.SupplierInv} is ${e.Payable_Status}`,
      //           { okText: 'Continue' }
      //         )
      //         .then(dialog => {
      //           dialog.close()
      //         })
      //       bool = false
      //       return bool
      //     }
      //   } else if (this.role === 'Submit for Approval') {
      //     if (e.Payable_Status !== 'New') {
      //       this.$dialog
      //         .alert(
      //           `Document Number ${e.SupplierInv} is ${e.Payable_Status}`,
      //           { okText: 'Continue' }
      //         )
      //         .then(dialog => {
      //           dialog.close()
      //         })
      //       bool = false
      //       return bool
      //     }
      //   }
        })
      return bool
    },
    approveInvoices() {
      let updates = {
        Payable_Status: this.updatedState,
        [this.blameColumn]: this.username,
        Updated_On: new Date().toUTCString('DD MMM YYYY')
      }
      let query = {
        Control_Flag: 'Y',
        Environment: this.environment
      }
      if (this.selectedDocs.length < 1) {
        this.$dialog
          .alert(`Nothing is selected.`, {
            okText: 'Continue'
          })
          .then(dialog => {
            dialog.close()
          })
      }

      if (!this.checkCreds(this.selectedDocs, true)) {
        return
      }
      query.SupplierInv = this.selectedDocs.map(e => {
        return e.SupplierInv
      })
      if (this.updatedState === 'Submitted') {
        this.$dialog
          .prompt(
            {
              title: 'Submit Invoices',
              body: 'Set Transaction Invoice Date (DD/MM/YYYY)'
            },
            {
              promptHelp: 'Leave blank for today'
            }
          )
          .then(dialog => {
            if (dialog.data) {
              const results = dialog.data.split('/')
              const date = new Date(results[2], results[1] - 1, results[0])
              if (isNaN(date)) {
                this.$dialog
                  .alert('Please submit a valid date')
                  .then(dialog => {
                    dialog.close()
                  })
                return
              }
              updates.Transaction_Invoice_Date = date
            }
            payableService
              .updatePayable(updates, query, null)
              .then(response => {
                dialog.close()
                this.$emit('update')
              })
          })
      } else {
        this.$dialog
          .confirm(
            `Are you sure you want to approve these <span style="color:red;">${this.selectedDocs.length}</span> invoices?`
          )
          .then(dialog => {
            payableService.updatePayable(updates, query, null).then(() => {
              this.selectedDocs = []
              dialog.close()
              this.$emit('update')
            })
          })
      }
    },
    rejectInvoices() {
      if (this.rejectReason.length === 0) {
        this.$dialog
          .alert(`Please enter a reason`, {
            okText: 'Continue'
          })
          .then(dialog => {
            dialog.close()
          })
        return
      }
      let updates = {
        Payable_Status: 'Rejected',
        Reject_Remarks: this.rejectReason,
        Reject_User: this.username,
        Updated_On: new Date().toUTCString('DD MMM YYYY')
      }
      let query = {
        Control_Flag: 'Y',
        Environment: this.environment
      }
      if (this.selectedDocs.length < 1) {
        return
      }
      if (!this.checkCreds(this.selectedDocs, false)) {
        return
      }
      query.SupplierInv = this.selectedDocs.map(e => {
        return e.SupplierInv
      })
      this.$dialog
        .confirm(
          `Are you sure you want to reject these <span style="color:red;">${this.selectedDocs.length}</span> invoices?`
        )
        .then(dialog => {
          payableService.updatePayable(updates, query, null).then(() => {
            this.selectedDocs = []
            dialog.close()
            this.$emit('update')
          })
        })
    }
  },
  data() {
    return {
      displayConsolidated: false,
      selectedDocs: [],
      pro_pl_details: {},
      pro_pl: {},
      pay_pl: {},
      invoiceInfo: {},
      visibleInvoice: false,
      expanded: null,
      showReject: false,
      rejectReason: '',
      states: {
        0: 'New',
        1: 'Pending',
        2: 'Approved',
        3: 'Submitted',
        5: 'Rejected'
      },
      expanded: false,
      displayedInvoice: null,
      selectAll: false,
      visiblePNL: false,
      visibleInvoice: false,
      invoiceSort: 'All',
      time1: null,
      rejectionMessage: '',
      showError: false,
      colors: {
        New: 'new',
        Pending: 'pending',
        Approved: 'approved',
        Submitted: 'submitted',
        Rejected: 'reject'
      },
      invoiceNumbers: []
    }
  }
}
</script>
