<style>
.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.table-title {
  font-size: 12px;
  font-weight: bold;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 600px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  max-height: 80vh;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: scroll;
}

.modal-header h3 {
  margin-top: 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>

<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <div class="invoice-title">
              <h2
                style="
                  font-size: 20px;
                  margin-top: 13px;
                  display: inline-block;
                  color: black;
                "
                v-show="!success"
              >
                Reset Your Password
              </h2>
              <h2
                style="
                  font-size: 20px;
                  margin-top: 13px;
                  display: inline-block;
                  color: black;
                "
                v-show="success"
              >
                Success! Your Password has been reset.
              </h2>
            </div>
          </div>
          <div class="modal-body" style="font-size: 9px">
            <div class="list-group-sm m-t" v-show="!success">
              <h3 v-if="error" class="error">{{ error }}</h3>
              <div class="list-group-item m-t">
                <input
                  type="password"
                  :disabled="submitting"
                  placeholder="New Password"
                  class="form-control no-border"
                  v-model="credentials.password"
                />
              </div>
              <div class="list-group-item m-t">
                <input
                  type="password"
                  :disabled="submitting"
                  @keyup.enter="changePass()"
                  placeholder="Confirm Your Password"
                  class="form-control no-border"
                  v-model="credentials.confirm"
                />
              </div>
            </div>
            <button
              v-show="!success"
              @click="changePass()"
              :disabled="submitting"
              class="login-btn btn btn-lg btn-blue btn-block m-t"
            >
              Reset
            </button>
            <button
              v-show="!success"
              @click="close()"
              :disabled="submitting"
              class="login-btn btn btn-lg btn-blue btn-block m-t"
            >
              Cancel
            </button>
            <div class="list-group-sm m-t" v-show="success">
              <button
                class="login-btn btn btn-lg btn-blue btn-block m-t"
                @click="close()"
              >
                Close Me
              </button>
            </div>
          </div>
          <div class="modal-footer"></div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import * as userService from '../services/userService'

export default {
  name: 'reset',
  props: [],
  methods: {
    close() {
      this.$emit('close')
    },
    changePass() {
      if (this.credentials.password !== this.credentials.confirm) {
        this.error = 'Passwords do not Match'
        return
      } else {
        this.submitting = true
        userService
          .resetPassword(
            { password: this.credentials.password },
            { id: this.user.id }
          )
          .then(() => {
            this.success = true
          })
          .catch((err) => {
            this.error = err
          })
      }
    },
  },
  computed: {
    user() {
      return this.$store.getters.user
    },
  },
  data() {
    return {
      submitting: false,
      credentials: {},
      success: false,
      error: '',
    }
  },
}
</script>
