<template>
  <div class="container-fluid panel searchbar">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-4">
            <div class="row" style="height: 25px">
              <div class="col-md-12">
                <p class="center-text">Country</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <select
                  v-model="selectedCountry"
                  @change="loadClients"
                  class="styled-select text-u-c"
                >
                  <option disabled value="">Please select a Country</option>
                  <option
                    v-for="country in countries"
                    :value="country.Environment"
                    :key="country.Environment"
                  >
                    {{ country.Environment }}
                  </option>
                </select>
                <img
                  class="pull-right spinner"
                  v-show="loadingClients"
                  src="assets/spinner.gif"
                />
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row" style="height: 25px">
              <div class="col-md-12">
                <p class="center-text">Parent</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <select
                  v-model="selectedClient"
                  @change="loadChildren"
                  v-bind:disabled="loadingClients"
                  class="styled-select text-u-c"
                >
                  <option disabled value="">Select a Parent</option>
                  <option
                    v-for="parent in parents"
                    :value="parent"
                    :key="parent.Parent_ID"
                  >
                    {{ parent.Parent_Short_Name }}
                  </option>
                </select>
                <img
                  class="pull-right spinner"
                  v-show="loadingChildren"
                  src="assets/spinner.gif"
                />
                <span
                  class="invoice-count"
                  v-show="totalParentCount || loadingChildren"
                  >{{ `Active Invoices: ${totalParentCount}` }}</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-4" v-show="!byLsr">
            <div class="row" style="height: 25px">
              <div class="col-md-12">
                <p class="center-text">Child</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <select
                  v-model="selectedChild"
                  @change="getInvoices"
                  class="stat-select text-u-c"
                  v-bind:disabled="loadingChildren || byLsr"
                >
                  <option disabled value="">Select a Child</option>
                  <option
                    v-for="child in children"
                    :value="child"
                    :key="child.Child_ID"
                  >
                    {{ child.Child_ID }} - {{ child.Child_Short_Name }} - [{{
                      child[updatedState]
                    }}]
                  </option>
                </select>
                <img
                  class="pull-right spinner"
                  v-show="loadingInvoices"
                  src="assets/spinner.gif"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row"></div>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
</template>
<script>
import { mapMutations } from 'vuex'
import * as customerService from '../services/customerService'
export default {
  name: 'searchbar',
  methods: {
    getParents() {
      this.loadingClients = true
      this.selectedClient = ''
      this.selectedVendor = ''
      let query = {
        Environment: this.selectedCountry,
        Parent_ID: this.user.parents
      }
      customerService.getParents(query).then(response => {
        this.loadingClients = false
        this.parents = response.data
      })
    },
    getCountries() {
      let query = {
        Environment: this.user.environments
      }
      customerService.getCountries(query).then(response => {
        this.countries = response.data
      })
    },
    getVendors() {
      this.loadingVendor = true
      this.selectedVendor = ''
      let query = {
        Environment: this.selectedCountry,
        Parent_ID: this.selectedClient,
        Control_Flag: 'Y'
      }
      customerService.getVendors(query).then(response => {
        this.loadingVendor = false
        this.vendors = response.data
        this.totalParentCount = response.data.reduce((a, b) => {
          return a + Number(b.Total)
        }, 0)
      })
    }
  },
  data: {
    selectedCountry: '',
    countries: [],
    loadingVendor: false,
    selectedVendor: false,
    loadingClients: false,
    selectedClient: ''
  }
}
</script>
<style scoped>
.center-text {
  text-align: center;
}

.searchbar {
  border-radius: 20px;
  background-color: #42bced !important;
}

.styled-select {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  height: 34px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: calc(100% - 5px);
  background-color: white;
  height: 80px;
}
</style>