<style>
.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 1150px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  max-height: 80vh;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: scroll;
}

.modal-header h3 {
  margin-top: 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.font-size {
  font-size: 14px;
}

.font-size > tr > td {
  font-size: 14px;
}

.font-size > th {
  font-size: 14px;
}

.small-font {
  font-size: 10px;
}
.invoice {
  font-size: 55px;
  color: #666666;
  position: absolute;
  margin-bottom: 0;
  top: 40px;
}

.invoice-header {
  height: 140px;
  padding: 0;
}

.no-pad-left {
  padding-left: 0;
}

.no-pad-down {
  padding-bottom: 0;
}

.invoice-logo {
  display: flex;
  justify-content: right;
  align-content: center;
}
</style>

<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header invoice-header" ref="pdfHeader">
            <div class="row" style="margin: 0">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-2 no-pad-left no-pad-down">
                    <img
                      style="
                        max-width: 250px;
                        position: absolute;
                        margin-top: -55px;
                        margin-left: -40px;
                      "
                      src="assets/logoTransparent.png"
                    />
                  </div>
                  <div class="col-md-10">
                    <div class="row">
                      <div class="col-md-12 no-pad-down">
                        <h4>
                         <strong> {{ envAddress.Company_Name }} </strong>
                        </h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 no-pad-down">
                        <p>
                          {{ envAddress.Company_Details }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row invoice-logo">
                  <h1 class="invoice">INVOICE</h1>
                    <h1 class="invoice"  v-if="info.Proforma_Type=='Invoice'">INVOICE</h1>
                    <h1 class="invoice"  v-if="info.Proforma_Type=='CN'">CREDIT NOTE</h1>
                     <h1 class="invoice"  v-if="info.Proforma_Type==null || info.Proforma_Type=='' ">INVOICE</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body" style="font-size: 10px">
            <div ref="pdfBody">
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <p>TAX INVOICE</p>
                  <p>Tax Reg No. : {{ envAddress.GST_HEAD }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div style="clear: both"></div>
                  <div class="row">
                    <div class="col-md-4 pull-left">
                      <div>
                        <address style="font-size: 14px">
                          {{ customer.Child_Short_Name }} <br />
                          {{ customer.Child_Address_Line_1 }} <br />
                          {{ customer.Child_Address_Line_2 }} <br />
                          {{
                            customer.Child_Address_Line_3
                              ? customer.Child_Address_Line_3
                              : ''
                          }}
                          <br />
                         
                        </address>
                      </div>
                    </div>
                    <div class="col-md-8 text-center pull-left">
                      <table width="100%" class="font-size">
                        <tr>
                          <td>
                            <span class="table-title">INVOICE NUMBER</span>
                          </td>
                          <td><span class="table-title">INVOICE DATE</span></td>
                          <td>
                            <span class="table-title"
                              >YOUR REFERENCE NUMBER</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>{{ info.Transaction_Number }}</td>
                          <td>
                            {{ info.Transaction_Invoice_Date | formatDate }}
                          </td>
                          <td>{{ info.Reference_Number }}</td>
                        </tr>
                        <tr>
                          <td colspan="3">
                            PLEASE RETURN A COPY OF THIS INVOICE WITH YOUR
                            REMITTANCE TO:
                          </td>
                        </tr>
                        <tr>
                          <td colspan="3">
                            {{ envAddress.Company_Name }} <br />
                            {{ envAddress.Company_Address1 }} <br />
                            {{ envAddress.Company_Address2 }} <br />
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="clear: both"></div>
                  <hr />
                  <div style="clear: both"></div>
                  <div class="row">
                    <div class="col-md-12">
                      <table width="100%" class="font-size">
                        <tr>
                          <td>
                            <span class="table-title">Period:</span>
                            {{ info.Invoice_Date | formatDate }} -
                            {{ info.Transaction_Invoice_Date | formatDate }}
                          </td>
                          <td>
                            <span class="table-title">SHIPPER: </span>
                            {{ info.Shipper }}
                          </td>
                          <td>
                            <span class="table-title">COMMODITY DESC: </span>

                            {{ info.invoice[0].Commodity_Desc }}
                          </td>
                          <td>
                            <span class="table-title">CUSTOMER ACCT: </span>

                            {{ customer.Child_ID }}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span class="table-title">PLACE OF RECEIPT:</span>
                            {{ info.invoice[0].Fr }}
                          </td>
                          <td>
                            <span class="table-title">PORT OF LOAD: </span>
                            {{ info.invoice[0].Fr }}
                          </td>
                          <td>
                            <span class="table-title">PORT OF DISCHARGE: </span>

                            {{ info.invoice[0].To }}
                          </td>
                          <td>
                            <span class="table-title">PLACE OF DELIVERY: </span>

                            {{ info.invoice[0].To }}
                          </td>
                        </tr>
                      </table>
                      <table width="100%" class="font-size text-center">
                        <tr>
                          <td><span class="table-title">CHARGE CODE</span></td>
                          <td>
                            <span class="table-title"
                              >DESCRIPTION OF CHARGES</span
                            >
                          </td>
                          <td><span class="table-title">CURRENCY</span></td>
                          <td><span class="table-title">EX RATE</span></td>
                          <td><span class="table-title">AMOUNT</span></td>
                          <td><span class="table-title">QUANTITY</span></td>
                          <td><span class="table-title">TAX TYPE</span></td>
                          <td><span class="table-title">TAX</span></td>
                          <td><span class="table-title">TAX AMT</span></td>
                          <td><span class="table-title">TOTAL</span></td>
                        </tr>
                        <tr v-for="(line, index) in pl" :key="index">
                          <td>{{ line.CHGCODE_ID }}</td>
                          <td>{{ line.Details }}</td>
                          <td>{{ line.Currency }}</td>
                          <td>
                            {{ line.line_ex_rate ? line.line_ex_rate : '' }}
                          </td>
                          <td>{{ Number(line.Amount).toFixed(2) }}</td>
                          <td>{{ line.Quantity }}</td>
                          <td>{{ line.GST_TYPE }}</td>
                          <td>{{ Math.floor(Number(line.GST) * 100) }}%</td>
                          <td>
                            {{
                              (
                                Number(line.GST) *
                                Number(line.Amount) *
                                Number(line.Quantity)
                              ).toFixed(2)
                            }}
                          </td>
                          <td>
                            {{
                              (
                                Number(line.Amount) *
                                Number(line.Quantity) *
                                (1 + Number(line.GST))
                              ).toFixed(2)
                            }}
                          </td>
                        </tr>
                      </table>
                      <div class="clearfix"></div>
                      <br />
                      <div class="clearfix"></div>
                      <br />
                      <div class="row">
                        <div class="col-md-6">
                          <table class="font-size">
                            <tr>
                              <td>ELITE REF: {{ info.Elite_Ref }}</td>
                            </tr>
                            <tr>
                              <td>REMARKS : {{ info.Remarks }}</td>
                            </tr>
                            <tr>
                              <td>
                                {{
                                  info.lsr_No
                                    ? `Check No: ${info.lsr_No}`
                                    : info.Consolidation_ID
                                    ? info.Consolidation_ID
                                    : ''
                                }}
                              </td>
                            </tr>
                          </table>
                        </div>
                        <div class="col-md-6">
                          <p style="font-size: 12px">
                            ETA: {{ info.ETA | formatDate }}
                          </p>
                          <p style="font-size: 12px">
                            PAYYMENT TERMS: {{ info.invoice[0].Term_ID }}
                          </p>
                          <p style="font-size: 12px">
                            TOTAL CONTAINER: {{ info.TOT_Container }}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ref="pdfFoot">
              <div class="row">
                <div class="col-md-12">BL#: {{ info.OBL }}<br /></div>
                <div class="col-md-12 center">
                  *** This is a computer generated invoice. No signature is
                  required. **** <br />
                  All charges above exclude GST. If GST is applicable, it will
                  be shown in our Tax Invoice.
                </div>
                <div style="clear: both"></div>
                <hr />
                <div
                  class="col-md-8"
                  style="border-right: 1px solid #ddd; font-size: 12px"
                >
                  {{ envAddress.INV_FOOT1 }} <br />
                  {{ envAddress.INV_FOOT2 }} <br />
                  {{ envAddress.INV_FOOT3 }} <br />
                  {{ envAddress.INV_FOOT4 }} <br />
                  {{ envAddress.INV_FOOT5 }} <br />
                  {{ envAddress.INV_FOOT6 }} <br />
                  {{ envAddress.INV_FOOT7 }} <br />
                  {{ envAddress.INV_FOOT8 }} <br />
                  {{ envAddress.INV_FOOT9 }} <br />
                  {{ envAddress.INV_FOOT10 }} <br />
                </div>
                <div
                  class="col-md-4"
                  style="
                    font-size: 12px;
                    border: 2px solid black;
                    border-right: none;
                  "
                >
                  <p>
                    SALE AMOUNT: {{ info.invoice[0].Currency }}
                    {{
                      pl
                        .reduce(
                          (a, b) =>
                            (a += Number(b.Amount) * Number(b.Quantity)),
                          0
                        )
                        .toFixed(2)
                    }}
                  </p>
                  <p>
                    TAX AMOUNT: {{ info.invoice[0].Currency }}
                    {{
                      pl
                        .reduce(
                          (a, b) =>
                            (a +=
                              Number(b.Amount) *
                              Number(b.GST) *
                              Number(b.Quantity)),
                          0
                        )
                        .toFixed(2)
                    }}
                  </p>
                  <p>
                    TOTAL AMOUNT: {{ info.invoice[0].Currency }}
                    {{
                      pl
                        .reduce(
                          (a, b) =>
                            (a +=
                              Number(b.Quantity) *
                              Number(b.Amount) *
                              (1 + Number(b.GST)).toFixed(2)),
                          0
                        )
                        .toFixed(2)
                    }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              class="modal-default-button btn btn-danger"
              @click="$emit('close')"
            >
              OK
            </button>
            <button
              class="modal-default-button btn btn-success"
              @click="save()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import html2canvas from 'html2canvas'
import jsPDF from 'jspdf'
import * as userService from '../services/userService'
export default {
  name: 'taxDetails',
  props: ['info', 'customer', 'pl'],
  computed: {},
  methods: {
    save() {
      const pdf = new jsPDF({ orientation: 'p', unit: 'mm', format: 'a4' })
      const header = this.$refs.pdfHeader
      const body = this.$refs.pdfBody
      const footer = this.$refs.pdfFoot
      html2canvas(header).then(headerCanvas => {
        html2canvas(body).then(canvas => {
          const ctx = canvas.getContext('2d')
          const a4w = 190
          const a4h = 257
          const imgHeight = Math.floor((a4h * canvas.width) / a4w)
          let renderedHeight = 0
          const headerCtx = headerCanvas.getContext('2d')
          const headerPage = document.createElement('canvas')
          headerPage.width = headerCanvas.width
          headerPage.height = Math.min(
            imgHeight,
            canvas.height - renderedHeight
          )
          headerPage
            .getContext('2d')
            .putImageData(
              headerCtx.getImageData(
                0,
                0,
                headerCanvas.width,
                Math.min(imgHeight, canvas.height)
              ),
              0,
              0
            )
          while (renderedHeight < canvas.height) {
            const page = document.createElement('canvas')
            page.width = canvas.width
            page.height = Math.min(imgHeight, canvas.height - renderedHeight)
            page
              .getContext('2d')
              .putImageData(
                ctx.getImageData(
                  0,
                  renderedHeight,
                  canvas.width,
                  Math.min(imgHeight, canvas.height - renderedHeight)
                ),
                0,
                0
              )
            pdf.addImage(
              headerPage.toDataURL('image/png', 1.0),
              'png',
              10,
              5,
              a4w,
              Math.min(a4h, (a4w * headerPage.height) / headerPage.width)
            )
            pdf.addImage(
              page.toDataURL('image/png', 1.0),
              'png',
              10,
              35,
              a4w,
              Math.min(a4h, (a4w * page.height) / page.width)
            )

            renderedHeight += imgHeight
            if (renderedHeight < canvas.height) {
              pdf.addPage()
              pdf.addImage(
                headerPage.toDataURL('image/png', 1.0),
                'png',
                10,
                5,
                a4w,
                Math.min(a4h, (a4w * headerPage.height) / headerPage.width)
              )
            } //Add an empty page if there is more to follow
          }
          html2canvas(footer).then(footerCanvas => {
            const footerCtx = footerCanvas.getContext('2d')
            const footerPage = document.createElement('canvas')
            footerPage.width = footerCanvas.width
            footerPage.height = imgHeight
            footerPage
              .getContext('2d')
              .putImageData(
                footerCtx.getImageData(0, 0, canvas.width, canvas.height),
                0,
                0
              )
            pdf.addImage(
              footerPage.toDataURL('image/png', 1.0),
              'png',
              10,
              250,
              a4w,
              Math.min(a4h, (a4w * footerPage.height) / footerPage.width)
            )
            pdf.setFont('helvetica', 'italic')
            pdf.setFontSize(6)
            addFooters()
            pdf.save(`${this.info.Transaction_Number}.pdf`)
          })

          function addFooters() {
            const pageCount = pdf.internal.getNumberOfPages()
            for (var i = 1; i <= pageCount; i++) {
              pdf.text(`Page ${i}`, 200, 295)
            }
          }
        })
      })
    }
  },
  mounted() {
    userService.getEntityInfo(this.info.invoice[0].Environment).then(res => {
      this.envAddress = res.data[0]
    })
  },
  data() {
    return {
      envAddress: {}
    }
  }
}
</script>
