<style>
.panel {
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
}

.invoice-count {
  color: #999999;
  position: absolute;
  left: 25px;
  bottom: 12px;
}
.center-text {
  text-align: center;
}


.searchbar {
  border-radius: 20px;
  background-color: white !important;
  border: solid !important;
  border-width: 1px !important;
  border-radius: 5px;
  height: 40px !important;
}

.styled-select {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  padding-bottom: 40px;
  padding-right: 25px !important;
  font-weight: 300;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: calc(100% - 5px);
  background-position-y: calc(0% + 10px);
  background-color: white;
  height: auto !important;
}

.consolidated-button {
  -border: 2px solid rgb(0 157 220);
  border-radius: 10px;
  font-size: 14px;
  -height: 80px;
  color: black;
  -width: 85%;
  word-break: keep-all;
  white-space: normal;
}

.proforma-panel {
  -border-radius: 15px;
  background-color: #0098e0 !important;
  margin: 0px;
}
.p-l-0 {
  padding-left: 0px;
}
.p-r-0 {
  padding-right: 0px;
}
.p-t-0 {
  padding-top: 0px;
}
.p-b-0 {
  padding-bottom: 0px;
}

.lsr-button {
  border: 2px solid rgb(0 157 220);
  border-radius: 10px;
  font-size: 14px;
  height: 40px;
  color: black;
  width: 85%;
  word-break: keep-all;
  white-space: normal;
}

.status-group > label {
  margin-bottom: 0;
}

.datepicker {
  background-color: white;
  border-radius: 5px;
  width: 95%;
  height: 40px;
  margin-left: 10px;
  padding-left: 10px;
  background: url(https://cdn0.iconfinder.com/data/icons/zondicons/20/calendar-24.png)
    no-repeat right white;
  background-position-x: calc(100%-20px);
}

.filter-btn {
  background-color: #e5fdffd6 !important;
  border-radius: 8px;
  width: 95%;
  -height: 110%;
  box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.clear-btn {
  background-color: #d7d2d2;
  border-radius: 8px;
  width: 95%;
  -height: 110%;
  box-shadow: 5px 5px 3px -2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.search {
  border: 2px solid #009ddc;
  border-radius: 5px;
  width: 60%;
  display: none;
}

.search-btn {
  background-color: #009ddc;
  color: white;
  border-radius: 5px;
}

.environments {
  padding-left: 25px;
}
label.text-center {
  font-size: 14px;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}

.rangedate {
  background: rgb(255, 255, 255);
  padding: 1px 5px 5px 5px;
  border-radius: 6px;
}
</style>

<template>
  <div class="wrapper-md">
    <div class="row">
      <div class="col-md-12 p-t-0">
        <div
          class="container-fluid panel proforma-panel"
          style="margin-bottom: 0px !important"
        >
          <div class="row">
            <div class="col-md-6 m-b pull-left p-r-0">
              <div class="row m-t-none">
                <div class="col-md-3 pull-left n-r-b" style="height: 100%">
                  <label class="text-center col-md-12">Country</label>
                  <select
                    v-model="selectedCountry"
                    @change="loadClients"
                    class="styled-select text-u-c"
                  >
                    <option disabled value="">Select a Country</option>
                    <option
                      v-for="country in countries"
                      :value="country.Environment"
                      :key="country.Environment"
                    >
                      {{ country.Environment }}
                    </option>
                  </select>
                  <img
                    class="pull-right spinner"
                    v-show="loadingClients"
                    src="assets/spinner.gif"
                  />
                </div>
                <div class="col-md-3 pull-left" style="height: 100%">
                  <label class="text-center col-md-12">Parent ID</label>
                  <select
                    v-model="selectedClient"
                    @change="loadChildren"
                    v-bind:disabled="loadingClients"
                    class="styled-select text-u-c"
                  >
                    <option disabled value="">Select a Parent</option>
                    <option
                      v-for="parent in parents"
                      :value="parent"
                      :key="parent.Parent_ID"
                    >
                      {{ parent.Parent_Short_Name }}
                    </option>
                  </select>
                  <img
                    class="pull-right spinner"
                    v-show="loadingChildren"
                    src="assets/spinner.gif"
                  />
                  <span
                    class="invoice-count"
                    v-show="totalParentCount || loadingChildren"
                    >{{ `Active Invoices: ${totalParentCount}` }}</span
                  >
                </div>
                <div   v-show="!byLsr" class="col-md-4 pull-left" style="height: 100%">
                  <label class="text-center col-md-12">Child ID</label>
                  <select
                    v-model="selectedChild"
                    @change="getInvoices"
                    class="styled-select text-u-c"
                    v-bind:disabled="loadingChildren"
                  >
                    <option disabled value="">Select a Child</option>
                    <option
                      v-for="child in children"
                      :value="child"
                      :key="child.Child_ID"
                    >
                      {{ child.Child_ID }} - {{ child.Child_Short_Name }}
                    </option>
                  </select>
                  <img
                    class="pull-right spinner"
                    v-show="loadingInvoices"
                    src="assets/spinner.gif"
                  />
                  <span class="invoice-count" v-show="selectedChild">{{
                    `Active Invoices: ${selectedChild.Total}`
                  }}</span>
                </div>
                 <div
                  class="col-md-3 pull-left"
                  v-show="byLsr"
                  style="height: 100%"
                >
                  <label class="text-center col-md-12"></label>
                  <!-- Mantis 0013879 -->
                  <select
                    v-model="reports"
                    @change="getInvoiceByLsrs"
                    class="styled-select text-u-c"
                    style="margin-bottom: 1%; color: #0d2d7c; font-size: 15px"
                  >
                    <option disabled value="">SELECT STATUS</option>
                    <option
                      v-for="reportname in reportarray"
                      :value="reportname"
                      :key="reportname"
                    >
                      {{ reportname }}
                    </option>
                  </select>
                  <!-- Mantis 0013879 End-->

<!--<a v-show="selectedLsr !== ''">
                    <span class="lab-desc">{{ selectedLsr.lsr_No }}</span></a
                  > -->
                  <img
                    class="pull-right spinner"
                    v-show="loadingInvoices"
                    src="assets/spinner.gif"
                  />
                  <span class="invoice-count" v-show="selectedLsr">{{
                    `Active Invoices: ${selectedLsr.count}`
                  }}</span>
                </div>
                <div
                  class="col-md-3 pull-left"
                  v-show="byLsr"
                  style="height: 100%"
                >
                  <label class="text-center col-md-12"></label>
                  <select
                    v-model="selectedLsr"
                    @change="getInvoices"
                    class="styled-select text-u-c"
                    v-bind:disabled="loadingChildren || !byLsr"
                  >
                    <option disabled value="">Select a LSR</option>
                    <option
                      v-for="lsr in lsrNums"
                      :value="lsr"
                      :key="lsr.lsr_No"
                    >
                      {{ lsr.lsr_No }} - [{{ lsr.count }}]
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-3 pull-left m-b">
              <div class="row m-b-none">
                <div class="col-md-10" style="height: 100%">
                  <div class="col-md-12">
                    <label class="col-md-12 text-center">Date Range</label>
                    <div
                      class="col-md-12 p-l-0 p-r-0"
                      style="
                        background: #fff;
                        cursor: pointer;
                        padding: 0px 10px 10px;
                        border: 1px solid #ccc;
                        width: 100%;
                        border-radius: 8px;
                        margin-top: 10px;
                      "
                    >
                      <i class="fa fa-calendar"></i>
                      <input
                        type="text"
                        name="daterange"
                        class="rangedate"
                        style="width: 80%"
                        value=""
                        ref="dateRange"
                      />
                      <span></span> <i class="fa fa-caret-down"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 pull-left center">
              <div class="row">
                <div class="col-md-5 center">
                  <button
                    type="button"
                    class="button btn filter-btn no-mar"
                    @click="filterInvoices(dateStart, dateEnd)"
                  >
                    FILTER
                  </button>
                </div>
                <div class="col-md-5 center">
                  <button
                    type="button"
                    class="button btn no-mar clear-btn"
                    @click="clear()"
                  >
                    CLEAR
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
         <div class="container-fluid panel">
      <div class="row">
        <div class="col-md-2 m-b-10">
          <button
            type="button"
            style="margin: 0"
            class="lsr-button btn no-mar"
            :disabled="!selectedClient"
            @click="getInvoiceByLsr"
          >
            {{ byLsr ? 'View By Child' : 'View By LSR' }}
          </button>
        </div>
       <div class="col-md-6"> 
              <label style="font-size: 20px;"> <strong> Search By </strong></label>
             
               <span class="status-group">  
                  <label>
                  <select
                    v-model="SelectedColumn" 
                    class="searchbar" style="width:200px"
                  >
                    <option disabled value=""></option>
                    <option
                      v-for="Columns in ColumnSearchTaxInvoice"
                      :value="Columns"
                      :key="Columns.ColumnValues"
                    >
                      {{ Columns.Column }}
                    </option>
                  </select>
                   </label>
                <label>
                    <input
                type="text" 
                class="searchbar"
                placeholder="Search"
                v-model="proformaSearch"
              /> </label>
              <label>
                 
              <button
                class="btn search-btn"
                type="button"
                style="
                  padding: 5px;
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                "
                @click="searchProforma"
              >
                Search
              </button>
              </label>
              <label>
                 <button
                class="btn search-btn"
                type="button"
                style="
                  padding: 5px;
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                "
                @click="ClearProforma"
              >
                Clear
              </button>
                </label>
                   </span> </div>
      </div>
    </div>
        <div
          class="container-fluid panel clear"
          v-show="displayedBundle !== null && loadingInvoices == false"
        >
          <tax-table :invoices="displayedBundle" :child="selectedChild" :environment="selectedCountry" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import taxTable from './taxTable'
import datepicker from 'vuejs-datepicker'
import * as customerService from '../services/customerService'
import * as proformaService from '../services/proformaService'

$(function() {
  $('input[name="daterange"]').daterangepicker(
    {
      opens: 'left'
    },
    function(start, end, label) {
      console.log(
        'A new date selection was made: ' +
          start.format('YYYY-MM-DD') +
          ' to ' +
          end.format('YYYY-MM-DD')
      )
    }
  )
})

export default {
  name: 'taxInvoices',
  components: {
    datepicker,
    taxTable
  },
  methods: {
    getInvoices() {
       
      this.loadingInvoices = true
      let query = {
        Environment: this.selectedCountry,
        Parent_ID: this.selectedClient.Parent_ID,
        Control_Flag: 'Y',
        Inv_Status: 'Submitted'
      }
     // query.Child_ID = this.selectedChild.Child_ID
       if (this.byLsr) {
        query.lsr_No = this.selectedLsr.lsr_No
      } else {
        query.Child_ID = this.selectedChild.Child_ID
      }

      proformaService.getProforma(query).then(response => {
        this.loadingInvoices = false
        
        let passable = {
          bundles: response.data
        }
        this.prepBundles(passable)
      })
    },
    getInvoiceByLsr() {
      if (!this.selectedClient) return
      this.byLsr = !this.byLsr

      this.reportarray = { 
        'Submitted ': 'Submitted'
      }
    },

    getInvoiceByLsrs() {
      if (!this.selectedClient) return
      //this.byLsr = !this.byLsr

      if (this.byLsr) {
        let query = {
          Environment: this.selectedCountry,
          Parent_ID: this.selectedClient.Parent_ID,
          Inv_Status: 'Submitted'
          // Environment: 'APPDATA',
          // Parent_ID: 41,
          // Inv_Status: 'New'
        }
        this.loadingInvoices = true
        this.selectedChild = ''
        this.selectedLsr = ''
        proformaService.getLsr(query).then(response => {
          this.loadingInvoices = false
          this.lsrNums = response.data

          console.log(response.data)
        })
      } else {
        this.loadChildren()
      }

      console.log(this.selectedCountry)
      console.log(this.selectedClient.Parent_ID)
      console.log(this.reports)
    },

    getCountries() {
      let query = {
        Environment: this.user.environments
      }
      customerService.getCountries(query).then(response => {
        this.countries = response.data
      })
    },
    prepBundles(passable) {
     
      let bundles = passable.bundles
      this.allBundles = bundles.map(e => {
        let statuses = {
          Pending: 'Review_User',
          Approved: 'Approve_User',
          Submitted: 'Submit_User',
          Rejected: 'Reject_User'
        }
        let blame_id = e[statuses[e.Inv_Status]]
        if (this.userlist[blame_id]) {
          e.blame = this.userlist[blame_id]
        } else {
          e.blame = blame_id
        }
        return e
      })
      
      this.bundles = Object.values(
        this.allBundles
          .filter(e => !!e.Transaction_Number)
          .reduce((a, b) => {
            if (a.hasOwnProperty(b.Transaction_Number)) {
              a[b.Transaction_Number].invoice.push(b)
            } else {
              const InvoiceURL = b.TaxInvoice_Url== null? "": b.TaxInvoice_Url.split('|');
              a[b.Transaction_Number] = {
                Environment: b.Environment,
                invoice: [b],
                Transaction_Number: b.Transaction_Number,
                Transaction_Invoice_Date: b.Transaction_Invoice_Date,
                Bill_to_Party: b.Bill_to_Party,
                blame: b.blame,
                Reference_Number: b.Reference_Number,
                Elite_Ref: b.Elite_Ref,
                OBL: b.OBL,
                Invoice_Date: b.Invoice_Date,
                ATDActual_Sail_Date: b.Actual_Sail_Date,
                Currency: b.Currency,
                Inv_Total_A_Amt: b.Inv_Total_A_Amt,
                Inv_Total_GST_Amt: b.Inv_Total_GST_Amt,
                TOT_Container: b.TOT_Container,
                Remarks: (b.Remarks== null?"":b.Remarks),
                ETA: b.ETD_ETA,
                VesVoy: b.VesVoy,
                Shipper: b.Shipper,
                DueDate: b.duedate,
                SubmittedUser: b.submitteduser,
                Proforma_Type:b.Proforma_Type,
                lsr_No:b.lsr_No,
                EnglishInvoice:b.TaxInvoice_Url== null ? "" : InvoiceURL[0],
                OtherLang1:b.TaxInvoice_Url== null ? "" : InvoiceURL[1],
                OtherLang2:b.TaxInvoice_Url== null ? "" : InvoiceURL[2] ,
                InvoiceGeneration:b.InvoiceGeneration
              }
              if (b.Consolidation_ID)
                a[b.Transaction_Number].Consolidation_ID = b.Consolidation_ID

              if (b.lsr_No) a[b.Transaction_Number].Consolidation_ID = b.lsr_No
            }
            return a
          }, {})
      )
     
      this.displayedBundle = this.bundles
    }, 
    CoulumFilter()
    { 
      
       this.ColumnSearchTaxInvoice[0]={Column: "Invoice Number", ColumnValues:"Invoice_Number"}
      this.ColumnSearchTaxInvoice[1]={Column: "LSR No", ColumnValues:"lsr_No"}
      this.ColumnSearchTaxInvoice[2]={Column: "Job Number", ColumnValues:"Job_Number"}
      this.ColumnSearchTaxInvoice[3]={Column: "Tax Invoice No", ColumnValues:"Transaction_Number"}
      this.ColumnSearchTaxInvoice[4]={Column: "SO #", ColumnValues:"Reference_Number"}
      this.ColumnSearchTaxInvoice[5]={Column: "Export Ref #", ColumnValues:"Elite_Ref"}
      this.ColumnSearchTaxInvoice[6]={Column: "BL #", ColumnValues:"OBL"}
      this.ColumnSearchTaxInvoice[7]={Column: "Bill to Party", ColumnValues:"Bill_to_Party"}
    },
    ClearProforma()
    {
      this.SelectedColumn=null;
      this.proformaSearch=''
    },
    sort(passup) {
      let option = []
      passup.displayConsolidated
        ? (option = this.consolidatedBundles)
        : (option = this.bundles)
      if (passup.value === 'All') {
        this.displayedBundle = option
      } else {
        this.displayedBundle = option.filter(e => {
          return e.Inv_Status === passup.value
        })
      }
    },
    filterInvoices(start, end) {
      const range = this.$refs.dateRange.value.split('-')
      this.displayedBundle = this.bundles.filter(e => {
        start = new Date(range[0].trim())
        end = new Date(range[1].trim())
        let sailDate = new Date(e.Transaction_Invoice_Date)
        return sailDate >= start && sailDate <= end
      })
    },
    clear() {
      this.displayedBundle = this.bundles
      this.dateStart = null
      this.dateEnd = null
    },
    sortByAlphabet(column, val) {
      this.displayedBundle.sort((a, b) => {
        let nameA = a[column].toUpperCase() // ignore upper and lowercase
        let nameB = b[column].toUpperCase() // ignore upper and lowercase
        if (nameA < nameB) {
          if (val) {
            return -1
          } else {
            return 1
          }
        }
        if (nameA > nameB) {
          if (val) {
            return 1
          } else {
            return -1
          }
        }
      })
    },
    sortByNumbers(column, val) {
      this.displayedBundle.sort((a, b) => {
        if (a[column] < b[column]) {
          if (val) {
            return -1
          } else {
            return 1
          }
        }
        if (a[column] > b[column]) {
          if (val) {
            return 1
          } else {
            return -1
          }
        }
      })
    },
    updateDate(range) {
      this.dateStart = range.start
      this.dateEnd = range.end
    },
    loadClients() {
      this.selectedClient = ''
      this.selectedChild = ''
      this.totalParentCount = null
      this.loadingClients = true

      let query = {
        Environment: this.selectedCountry,
        Parent_ID: this.user.parents
      }
      customerService.getParents(query).then(response => {
        this.loadingClients = false
        this.parents = response.data
        console.log(this.parents)
      })
      this.CoulumFilter()
    },
    loadChildren() {
      this.selectedChild = ''
      this.loadingChildren = true
       this.lsrNums=[]
      let query = {
        Environment: this.selectedCountry,
        Parent_ID: this.selectedClient.Parent_ID
      }
      customerService.getChildren(query).then(response => {
        this.loadingChildren = false
        this.children = response.data
        this.totalParentCount = response.data.reduce((a, b) => {
          return a + Number(b.Total)
        }, 0)
      })
      customerService.getBudget(query).then(response => {
        console.log(response)
        this.mtdJobs = response.data.mtdJobs
        this.ytdJobs = response.data.ytdJobs
        this.mtdTotal = response.data.mtdTotal
        this.ytdTotal = response.data.ytdTotal
      })
      if(this.byLsr)
      {
       this.reports ='' 
      
    } 
    },
        searchProforma() {
         this.loadingInvoices = true 
      let query = {
        Environment: this.selectedCountry,
       // Parent_ID: this.selectedClient.Parent_ID,
        Control_Flag: 'Y'
      }
      //if(this.selectedClient.Parent_ID!="" &&  this.selectedClient.Parent_ID!=undefined){
     //      query.Parent_ID = this.selectedClient.Parent_ID
     // }
      
      if(this.SelectedColumn!=null && this.SelectedColumn!=undefined )
      {
        if(this.SelectedColumn.ColumnValues=="Invoice_Number")
        {
              query.Invoice_Number = this.proformaSearch
        }
        else if (this.SelectedColumn.ColumnValues=="lsr_No")
        {
            query.lsr_No = this.proformaSearch.trim()
        }
        else if(this.SelectedColumn.ColumnValues=="Job_Number")
        {
            query.Job_Number = this.proformaSearch
        }
        else if (this.SelectedColumn.ColumnValues=="Transaction_Number")
        {
            query.Transaction_Number = this.proformaSearch
        }
             else if (this.SelectedColumn.ColumnValues=="OBL")
        {
            query.OBL = this.proformaSearch
        }
          else if (this.SelectedColumn.ColumnValues=="Bill_to_Party")
        {
            query.Bill_to_Party = this.proformaSearch
        }
      } 
      proformaService.getProforma(query).then(response => {
         
        this.loadingInvoices = false

           let FinalData =[];
       if (this.SelectedColumn.ColumnValues=="Elite_Ref")
        {
          
            FinalData = response.data.filter (e=>e.Elite_Ref.includes(this.proformaSearch))
        }
        else
        {
           FinalData = response.data
        }

        //let passable = {
        ////  bundles: response.data,
          displayConsolidated: false
       // } 
        let passable = {
          bundles: FinalData, //response.data,
          displayConsolidated: false
        }  

         if(response.data!=null && response.data.length>0)
        {
          this.selectedChild=response.data[0].Child_ID
        }
        this.prepBundles(passable)
        
      }) 

      //this.displayedInvoice = this.bundles.filter(
      //  e => e.Invoice_Number === this.proformaSearch
     // )
    },
    ClearProforma()
    {
      this.SelectedColumn=null;
      this.proformaSearch=''
    }
  },
  computed: {
    theme() {
      const style = {
        0: 'org-title',
        1: 'ylo-title',
        2: 'blu-title'
      }
      return style[this.$store.state.theme]
    },
    userlist() {
      return this.$store.state.userlist
    },
    updatedState() {
      const updateStates = {
        0: 'New',
        1: 'Pending',
        2: 'Approved'
      }
      return updateStates[this.$store.state.theme]
    },
    role() {
      return this.$store.state.theme
    },
    currentDisplay() {
      return this.displayConsolidated
        ? `View All`
        : `View Consolidated (${this.consolidatedBundles.length})`
    },
    user() {
      return this.$store.getters.user
    }
  },
  watch: {
    user() {
      this.getCountries()
    }
  },
  mounted() {
    if (this.user) {
      this.getCountries()
    }
    $('input[name="daterange"]').daterangepicker()
  },
  data() {
    return {
      bundles: [],
      allBundles: [],
      showModal: false,
      byLsr: false,
      reports: '',
      selectedCountry: '',
      selectedLsr: '',
      displayConsolidated: false,
      loadingClients: false,
      loadingChildren: false,
      loadingInvoices: false,
      selectedClient: '',
      selectedChild: '',
      invoiceType: '',
      countries: [],
      parents: [],
      children: [],
      displayedBundle: [],
      consolidatedBundles: [],
      displayedInvoice: [],
      lsrNums:[],
      dateStart: '',
      dateEnd: '',
      totalParentCount: null,
      mtdJobs: 0,
      ytdJobs: 0,
      mtdTotal: 0,
      ytdTotal: 0,
      reportarray: [],
      proformaSearch: '',
      ColumnSearchTaxInvoice:[],
      SelectedColumn:'',
      SelectedColumnValues:null
    }
  }
}
</script>
