<style>
label.select {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.blue-table {
  background-color: #eaf5ff;
}
.excel {
  color: green;
  cursor: pointer;
}

.table-link {
  color: #0d2d7c;
  width: 35px;
  word-wrap: break-word;
}

input.select {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  overflow: hidden;
}

.black-header {
  border-color: #eaeff0;
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.black-header > td {
  white-space: nowrap;
  overflow: hidden;
  line-height: 45px;
}

.black-header > a > i {
  padding-right: 10px;
}

.black-header.select {
  padding-right: 10px;
}

textarea {
  resize: none;
  width: 200px;
  height: 62px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  vertical-align: top;
}

.centered-table > tbody > tr > td {
  vertical-align: middle !important;
  text-align: center;
}

.table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.status {
  height: 30px;
  font-size: 14px;
  padding-top: 8px;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
}
</style>

<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive" style="min-height: 750px">
          <table
            id="invoice"
            class="table table-striped table-bordered tex-u-c blue-table"
            cellspacing="0"
          >
            <thead>
              <tr class="black-header">
                 <td>
                  <label class="select">
                    <input
                      type="checkbox"
                      class="select"
                      :checked="selectAll"
                      id="select"
                      @click="selectDisplayed"
                    />
                  </label>
                </td>
                <td>Tax Invoice No</td>
                <td>Tax Invoice Date</td>
                <td>Bill To Party</td>
                <td>Consolidation #/Proforma #</td>
                <td>Proforma Invoice Date</td>
                <td>ATD Date</td>
                <td>Job #</td>
                <td>SO #</td>
                <td>Export Ref #</td>
                <td>BL #</td>
                <td>Amount (Currency)</td>
                <td>GST</td>
                <td>Last Action</td>
                <td>Proforma Count</td>
                <td>Invoice Type </td>
                <td>Tax Invoice</td>
                  <td>PDF Tax Invoice</td> 
              </tr>
            </thead>
            <tbody>
              <template v-for="(bundle, index) in invoices">
                <tr :key="bundle.Invoice_Number">
                    <td>
                    <input
                      type="checkbox"
                      :value="bundle"
                      v-model="selectedTaxInvoice"
                    />
                  </td>
                  <td>
                    {{ bundle.Transaction_Number }}
                  </td>
                  <td>{{ bundle.Transaction_Invoice_Date | formatDate }}</td>

                  <td>{{ bundle.Bill_to_Party }}</td>
                  <td>
                    {{
                      bundle.Consolidation_ID
                        ? bundle.Consolidation_ID
                        : bundle.invoice[0].Invoice_Number
                    }}
                    <a
                      v-if="bundle.invoice.length > 1"
                      @click="expanded = expanded === index ? null : index"
                      ><i
                        class="fa"
                        :class="[
                          expanded === index
                            ? 'fa-arrow-down'
                            : 'fa-arrow-right',
                        ]"
                      ></i>
                    </a>
                  </td>
                  <td>{{ bundle.Invoice_Date | formatDate }}</td>
                  <td>{{ bundle.Actual_Sail_Date | formatDate }}</td>
                  <td>{{ bundle.Job_Number }}</td>
                  <td>{{ bundle.Reference_Number }}</td>
                  <td></td>
                  <td></td>
                  <td>
                    {{ bundle.Currency }}
                    {{
                      Number(
                        bundle.invoice.reduce(
                          (a, b) => (a += Number(b.Inv_Total_A_Amt)),
                          0
                        )
                      ).toFixed(2)
                    }}
                  </td>
                  <td>
                    {{ bundle.Currency }}
                    {{
                      bundle.invoice
                        .reduce(
                          (a, b) =>
                            (a += b.Inv_Total_GST_Amt - b.Inv_Total_A_Amt),
                          0
                        )
                        .toFixed(2)
                    }}
                  </td>
                  <td>
                    <a @click="showBlameTime(bundle)">{{ bundle.blame }}</a>
                  </td>
                  <td>{{ bundle.invoice.length }}</td>
                  <td>{{ bundle.Proforma_Type }}</td>
                  <td>
                    <a
                      class="table-link"
                      @click="showINV(bundle,'English')"
                      variant="warning"
                      ><i class="fa fa-file-text-o theme-dark-blue"></i
                      >&nbsp;INV</a
                      
                    >
                    
                      <a v-if="bundle.Environment==='BEEPF'"
                      class="table-link"
                      @click="showINV(bundle,'Dutch')"
                      variant="warning"
                      ><i class="fa fa-file-text-o theme-dark-blue"></i
                      >&nbsp;Dutch</a
                      
                    >
                     <a v-if="bundle.Environment==='EUROPE'"
                      class="table-link"
                      @click="showINV(bundle,'Dutch')"
                      variant="warning"
                      ><i class="fa fa-file-text-o theme-dark-blue"></i
                      >&nbsp;Dutch</a
                      
                    >
                    <a v-if="bundle.Environment==='BEEPF'"
                      class="table-link"
                      @click="showINV(bundle,'French')"
                      variant="warning"
                      ><i class="fa fa-file-text-o theme-dark-blue"></i
                      >&nbsp;French</a
                      
                    >
                     <a v-if="bundle.Environment==='FRELH'"
                      class="table-link"
                      @click="showINV(bundle,'French')"
                      variant="warning"
                      ><i class="fa fa-file-text-o theme-dark-blue"></i
                      >&nbsp;French</a
                      
                    >
                    <a v-if="bundle.Environment==='ESESL'"
                      class="table-link"
                      @click="showINV(bundle,'Spanish')"
                      variant="warning"
                      ><i class="fa fa-file-text-o theme-dark-blue"></i
                      >&nbsp;Spanish</a
                      
                    >
                  </td>
                   <td>
                    <a
                      class="table-link" v-show="bundle.InvoiceGeneration"
                       @click="DownloadINV(bundle,'English')" 
                      variant="warning"
                      ><i class="fa fa-file-text-o theme-dark-blue" v-show="bundle.InvoiceGeneration"></i
                      >&nbsp;INV</a
                      
                    >
                    
                      <a v-if="bundle.Environment==='BEEPF' && bundle.InvoiceGeneration" 
                      class="table-link"
                       @click="DownloadINV(bundle,'Dutch')"  
                      variant="warning"
                      ><i class="fa fa-file-text-o theme-dark-blue"  ></i
                      >&nbsp;Dutch</a
                      
                    >
                     <a v-if="bundle.Environment==='EUROPE'"  
                      class="table-link"
                      @click="DownloadINV(bundle,'Dutch')" 
                      variant="warning"
                      ><i class="fa fa-file-text-o theme-dark-blue" ></i
                      >&nbsp;Dutch</a
                      
                    >
                    <a v-if="bundle.Environment==='BEEPF' && bundle.InvoiceGeneration" 
                      class="table-link"
                       @click="DownloadINV(bundle,'French')" 
                      variant="warning"
                      ><i class="fa fa-file-text-o theme-dark-blue" ></i
                      >&nbsp;French</a
                      
                    >
                     <a v-if="bundle.Environment==='FRELH' && bundle.InvoiceGeneration" 
                      class="table-link"
                       @click="DownloadINV(bundle,'French')"
                    
                      variant="warning"
                      ><i class="fa fa-file-text-o theme-dark-blue" ></i
                      >&nbsp;French</a
                      
                    >
                    <a v-if="bundle.Environment==='ESESL' && bundle.InvoiceGeneration"
                      class="table-link"
                       @click="DownloadINV(bundle,'Spanish')"
                       
                      variant="warning"
                      ><i class="fa fa-file-text-o theme-dark-blue"></i
                      >&nbsp;Spanish</a
                      
                    >
                  </td>  
                  
                </tr>
                <template v-if="expanded === index">
                  <tr
                    v-for="invoice in bundle.invoice"
                    :key="invoice.Invoice_Number"
                  >
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      {{ invoice.Invoice_Number }}
                    </td>
                    <td>{{ invoice.Invoice_Date | formatDate }}</td>
                    <td>{{ invoice.Actual_Sail_Date | formatDate }}</td>
                    <td>{{ invoice.Job_Number }}</td>
                    <td>{{ invoice.Reference_Number }}</td>
                    <td>{{ invoice.Elite_Ref.split('-')[0] }}</td>
                    <td>{{ invoice.OBL }}</td>
                    <td>
                      {{ invoice.Currency }}
                      {{ Number(invoice.Inv_Total_A_Amt).toFixed(2) }}
                    </td>
                    <td>{{ calcGST(invoice) }}</td>
                  </tr>
                </template>
              </template>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row fixed" v-if="selectedTaxInvoice.length !== 0">
      <div class="col-md-12">
        <button class="blu-btn tbl-btn" @click="approveInvoices(selectedTaxInvoice)">
          Re-Generate Tax Invoice
        </button>
       
         
      </div>
    </div>
      <taxDetail
        :info="invoiceInfo"
        :customer="child"
        :pl="pl" 
        v-if="showTaxInvoice"
        @close="
          () => {
            showTaxInvoice = false
          }
        "
      ></taxDetail>
       <EurpoetaxDetail
        :info="invoiceInfo"
        :customer="child"
        :pl="pl"
        :printlang="printlang"
        :vat="vat"
        v-if="EuropeTaxInvoice"
        @close="
          () => {
            EuropeTaxInvoice = false
          }
        "
      ></EurpoetaxDetail>
    </div>
  </div>
  
</template>

<script>
import { mapMutations } from 'vuex'
import taxDetail from './taxDetail'
import EurpoetaxDetail from './EuropeTaxDetails.vue'
import * as proformaService from '../services/proformaService'
import datepicker from 'vuejs-datepicker'
export default {
  name: 'taxTable',
  components: { taxDetail, datepicker,EurpoetaxDetail },
  props: ['invoices', 'parent', 'child', 'environment'],
  watch: {
    child() {
      this.selectedInvoices = []
    }
  },
  computed: {},
  methods: {
    ...mapMutations(['START_SPINNER', 'STOP_SPINNER']),
    updateDate(date) {
      const updates = {
        Transaction_Invoice_Date: this.selectedBundle.Transaction_Invoice_Date
      }
      const query = {
        Control_Flag: 'Y',
        Transaction_Number: this.selectedBundle.Transaction_Number
      }
      proformaService.updateDate(updates, query).then(() => {
        this.$dialog
          .alert(`Transaction Date Updated`, { okText: 'Continue' })
          .then(dialog => {
            dialog.close()
          })
      })
    },
    sortByAlphabet() {
      this.$emit('sortByAlphabet')
    },
    sortByNumbers() {
      this.$emit('sortByNumbers')
    },
    sortInvoice() {
      this.selectedInvoices = []
      this.selectAll = false
      let passup = {
        value: this.invoiceSort,
        displayConsolidated: this.displayConsolidated
      }
      this.expanded = false
      this.$emit('sort', passup)
    },
    calcGST(bundle) {
      return (
        Number(bundle.Inv_Total_GST_Amt) - Number(bundle.Inv_Total_A_Amt)
      ).toFixed(2)
    },
    selectDisplayed(e) {
      this.selectAll = e.target.checked
      if (this.selectAll) {
        this.selectedInvoices = this.invoices
        e.preventDefault()
      } else {
        this.selectedInvoices = []
      }
    },
    showBlameTime(bundle) {
      if (bundle.Inv_Status === 'New') return
      this.$dialog
        .alert(`Last action taken on ${bundle.Updated_On}`, {
          okText: 'Continue'
        })
        .then(dialog => {
          dialog.close()
        })
    },
    selectBundle(bundle) {
      this.selectedBundle = bundle
    },
    DownloadINV(bundle,Language)
    {
       if(bundle.Environment =="BEEPF" || bundle.Environment =="EUROPE")
        {
            if(Language=="English")
            {
                window.open(bundle.EnglishInvoice, '_blank');
            }
            else if (Language=="Dutch")
            {
              window.open(bundle.OtherLang1, '_blank');
            }
            else{
                window.open(bundle.OtherLang2, '_blank');
            }
        }
        else if (bundle.Environment =="FRELH")
        {
            if(Language=="English")
            {
                window.open(bundle.EnglishInvoice, '_blank');
            }
            else  
            {
               window.open(bundle.OtherLang1, '_blank');
            }
        }
        else if(bundle.Environment =="ESESL")
        {
            if(Language=="English")
            {
                window.open(bundle.EnglishInvoice, '_blank');
            }
            else  
            {
              window.open(bundle.OtherLang1, '_blank');
            }
        }
        else
        {
          if(Language=="English")
            {
                window.open(bundle.EnglishInvoice, '_blank');
            }
        }
        
    },
     approveInvoices() {
      let updates = {
        InvoiceGeneration: false
      }
      let query = {
        Control_Flag: 'Y',
        Environment: this.environment
      }
      if (this.selectedTaxInvoice.length < 1) {
        this.$dialog
          .alert(`Nothing is selected.`, {
            okText: 'Continue'
          })
          .then(dialog => {
            dialog.close()
          })
      }
 
      query.Transaction_Number = this.selectedTaxInvoice.map(e => {
        return e.Transaction_Number
      }) 
       this.invoices.forEach(element => {
                if(this.selectedTaxInvoice.filter(x=>x.Transaction_Number == element.Transaction_Number).length>0)
                {
                element.InvoiceGeneration=false
                }
              }); 
       //this.selectedTaxInvoice = []
        this.$dialog
          .confirm(
            `Are you sure you want to regenerate the tax invoices?`
          )
          .then(dialog => {
            proformaService.updateDate(updates, query).then(() => {
             
              dialog.close() 
             
               this.selectedTaxInvoice = []
               this.$emit('update')
            })
          })
    },
     
    showINV(bundle, Language) {
      this.invoiceInfo = bundle
      this.printlang=Language
    
      let query = {
        Invoice_Number: bundle.invoice.map(e => e.Invoice_Number),
        Environment: bundle.Environment,
        Control_Flag:"Y"
      }
      this.START_SPINNER()
      const charges = {}
      proformaService.getProformaPL(query).then(response => {
        this.STOP_SPINNER()
        response.data.filter(x=>x.Control_Flag=="Y").forEach(e => {
          if (!charges[e.CHGCODE_ID]) {
            charges[e.CHGCODE_ID] = {}
          }

          const [description, details] = e.Details.split('|')
          const price = details.split('x')[1].trim()
          const quantity = details
            .split('x')[0]
            .replace(/[^\d.-]/g, '')
            .trim()

            const exrate = details
            .split('x')[2]
            .replace(/[^\d.-]/g, '')
            .trim()
          const price1=price.replace(/[^0-9.]/g, '')
            .trim()
             
          if (charges[e.CHGCODE_ID][price]) {
            charges[e.CHGCODE_ID][price].Quantity += Number(quantity)
            charges[e.CHGCODE_ID][price].QuantityP+=1
          } else {
            charges[e.CHGCODE_ID][price] = {
              Details: description,
              Quantity: Number(quantity),
              Currency: e.Currency,
              ExchangeRate:exrate,// e.INV_EX_RATE,
              GST: e.LINE_GST_P ? e.LINE_GST_P : 0,
              GST_TYPE: e.LINE_GST_TYPE,
              Invoice_Line_Number: e.Invoice_Line_Number,
              line_ex_rate: exrate,//e.line_ex_rate,
              Remarks:e.Remarks,
              VAT_Type:e.vat_type,
              LocalAmount:e.LocalAmount,
              TotalGST:e.TotalGST,
              Price:price1,
              NoGST: e.NoGst,
              QuantityP:1
            }
          }
          return e
        })
         
        this.pl = []
        Object.keys(charges).forEach(key => {
          Object.keys(charges[key]).forEach(subKey => {
            const line = {
              CHGCODE_ID: key,
              Details: charges[key][subKey].Details,
              Amount: subKey.split(' ')[0],
              Quantity: charges[key][subKey].Quantity,
              Currency: charges[key][subKey].Currency,
              GST: charges[key][subKey].GST,
              GST_TYPE: charges[key][subKey].GST_TYPE,
              line_ex_rate: charges[key][subKey].ExchangeRate,
              Invoice_Line_Number: charges[key][subKey].Invoice_Line_Number,
              Remarks:charges[key][subKey].Remarks,
              VAT_Type:charges[key][subKey].VAT_Type,
              LocalAmount:charges[key][subKey].LocalAmount,
              TotalGST:charges[key][subKey].TotalGST,
              Price:charges[key][subKey].Price,
              NoGST: charges[key][subKey].NoGST ,
              QuantityP: charges[key][subKey].QuantityP,
            }
            this.pl.push(line)
          })
        })
        this.pl.sort((a, b) => a.Invoice_Line_Number - b.Invoice_Line_Number)

        proformaService.getProformaPLEurpoe(query).then(response => {  
             
          this.vat = response.data
        })
        if(bundle.Environment =="BEEPF" || bundle.Environment =="EUROPE" || bundle.Environment =="FRELH" || bundle.Environment =="ESESL" )
        {
        this.EuropeTaxInvoice = true
        }
        else
        {
           this.showTaxInvoice = true
        }
      })
    }
  },

  data() {
    return {
      invoiceInfo: null,
      selectedTaxInvoice: [],
      expanded: null,
      pl: null,
      invoiceSort: 'All',
      showTaxInvoice: false,
      EuropeTaxInvoice:false,
      selectedBundle: null,
      printlang:"English",
      vat:null,
      selectAll: false
    }
  }
}
</script>
