<template>
  <form enctype="multipart/form-data" novalidate>
    <input
      type="file"
      :name="uploadFieldName"
      :disabled="isSaving"
      @change="
        filesChange($event.target.name, $event.target.files)
        fileCount = $event.target.files.length
      "
      accept="application/pdf"
      class="input-file"
    />
  </form>
</template>

<!-- Javascript -->
<script>
import { upload } from '../services/upload'
import { mapMutations } from 'vuex'

const STATUS_INITIAL = 0,
  STATUS_SAVING = 1,
  STATUS_SUCCESS = 2,
  STATUS_FAILED = 3

export default {
  name: 'upload',
  props: ['doc'],
  data() {
    return {
      uploadedFiles: [],
      uploadError: null,
      currentStatus: null,
      uploadFieldName: 'invoice',
    }
  },
  computed: {
    isInitial() {
      return this.currentStatus === STATUS_INITIAL
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED
    },
  },
  methods: {
    ...mapMutations(['START_SPINNER', 'STOP_SPINNER']),
    reset() {
      // reset form to initial state
      this.currentStatus = STATUS_INITIAL
      this.uploadedFiles = []
      this.uploadError = null
    },
    save(formData) {
      // upload data to the server
      this.START_SPINNER()
      let query = {}
      query.SupplierInv = this.doc.SupplierInv
      this.currentStatus = STATUS_SAVING
      upload(formData, query)
        .then((x) => {
          this.STOP_SPINNER()
          this.uploadedFiles = [].concat(x)
          this.currentStatus = STATUS_SUCCESS
          this.reset()
          this.$emit('update')
        })
        .catch((err) => {
          this.uploadError = err.response
          this.currentStatus = STATUS_FAILED
        })
    },
    filesChange(fieldName, fileList) {
      // handle file changes
      const formData = new FormData()

      if (!fileList.length) return

      // append the files to FormData
      Array.from(Array(fileList.length).keys()).map((x) => {
        formData.append('invoice', fileList[x], fileList[x].name)
      })

      // save it
      this.save(formData)
    },
  },
  mounted() {
    this.reset()
  },
}
</script>

<!-- SASS styling -->
<style lang="scss">
</style>
