<template>
  <div id="app">
    <navbar v-show="loggedIn"></navbar>
    <!--   <div v-show="alert" class="alert red">
    <a class="close" @click="closeAlert" aria-label="close">&times; &nbsp;</a>
    <strong>Scheduled Maintenance</strong>&nbsp;Please be advised, there will be scheduled maintenance on March 24th 4pm to March 25th 4pm.
  </div> -->
    <router-view></router-view>
    <spinner v-show="spinner"></spinner>
    <!-- <footer></footer> -->
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import navbar from './components/navbar'
import spinner from './components/spinner'

export default {
  name: 'app',
  methods: {
    ...mapActions(['getSessionUser', 'getUserList']),
    closeAlert() {
      this.alert = false
    },
  },
  computed: {
    loggedIn() {
      const auth = !!this.$store.state.user
      const route = this.$route.name !== 'Login'
      return auth && route
    },
    spinner() {
      return this.$store.state.spinner
    },
  },
  components: {
    navbar,
    spinner,
  },
  created() {
    window.app = this
    this.getSessionUser()
    this.getUserList()
  },
  watch: {},
  data() {
    return {
      alert: true,
    }
  },
}
</script>

<style lang="scss">
$blue: #95d8e9;
$jaffa: #f28356;
$rajah: #f3b666;
$gallery: #ededed;
$gray: #656567;
.blue-background {
  background-color: $blue;
}

.btn-blue {
  background-color: $blue;
}

.float-left {
  float: left;
}

.full-width {
  width: 100%;
}
.fixed {
  position: fixed;
  bottom: 0;
  background: white;
  width: 96%;
  margin-left: 0%;
}
</style>
